[2022-10-05 20:52] spockthewok commented on #2105
another one:

0.0.0.0 nutchaser.com

[2022-10-07 17:50] alsyundawy commented on #1954
any update @StevenBlack @ScriptTiger ?

[2022-10-07 17:52] StevenBlack commented on #1954
Still working on it @alsyundawy.

[2022-10-07 17:55] alsyundawy commented on #1954
cant wait 💕💕💕💕💕💕

[2022-10-08 00:37] ScriptTiger commented on #1954
@alsyundawy, I'm also still working on overhauling Hosts-BL, with one of the new things allowing removal/filtering out of entries based on a given hosts file. So, in your case, you would be able to just do the base+gambling+porn list and filter the base. The current Hosts-BL is super basic and just written for speed, since I generate 11 different formats for each of the 16 flavors of the hosts fil

[2022-10-08 04:59] martru118 opened #2108 "Not a fake news site, but satire"
thebeaverton.com shouldn't be in the fakenews block list as it is satirical

[2022-10-08 07:23] ScriptTiger commented on #2094
I don't know how many users or end devices my script is running on, but I'd say easily several hundred at least, and I've been getting away with only using `ipconfig /flushdns` this whole time for years. Toggling the DNS cache service is only needed if you're working with those ridiculously uncurated lists running several gigabytes in size, which directly goes against the entire premise of this re

[2022-10-08 17:00] StevenBlack commented on #2108
Thank you for this @martru118.  I agree.

Mark @marktron can you remove The Beaverton from the Fake News list?  It's The Onion, only Canadian.

[2022-10-09 11:48] #2084 closed

[2022-10-10 09:11] MNy03 opened #2109 "learn.cisecurity.org is legit, repository for hardening guidelines on a wide range of systems."
Hi,

Great list and whitelisted this one explicitly for my own installation for now. Check cisecurity.org for more info.

Thanks for giving it your time of day.

With kind regards,

[2022-10-10 14:57] StevenBlack commented on #2109
Hello @MNy03 thank you for this.

[code]

So the domain `learn.cisecurity.org` is actually being served by `pardot.com`, whose domains are blocked by many of our upstream curators.  So de-listing `learn.cisecurity.org` would have no effect.  It's odious tracking, disguised.

Which goes to show, nothing is deemed "legit" here. If a domain engages in tracking, or sells its users, or distributes malw

[2022-10-10 14:57] #2109 closed

[2022-10-12 19:12] Shituation opened #2110 "Fakenews? ...[WARNING] self censorship at sight!"
RT is in fakenews category, that makes me think this will block to your view of the world which is probably tied to CNN, Fox news, BBC, Skynews and other western news sites.

Not a good thing to do.

[2022-10-12 19:43] StevenBlack commented on #2110
![disbelief](https://user-images.githubusercontent.com/80144/195433520-885a07af-66eb-43a3-9254-ad182210d106.gif)

[2022-10-12 19:43] #2110 closed

[2022-10-12 21:15] trackerct commented on #2104
co-vcode-api.vivoglobal.com
co-vcode-h5-od.vivoglobal.com
asia-vcode-or.vivoglobal.com
asia-exstatic.vivo.com
vcm-static.vivo.com
asia-commonitor-stsdk.vivoglobal.com
asia-romsp-unifyconfig.vivoglobal.com
asia-stp.vivoglobal.com
asia-vcode-api.vivoglobal.com

freegeoip.live
geocheck.sim-technik.de
ipapi.co
logs.browser-intake-datadoghq.com
rum.browser-intake-datadoghq.com
analytics.coollabs.io
sta

[2022-10-15 10:44] trackerct commented on #2104
a.8392c6e79df6ad8a3ab1fa972ec327855198c2d4cdf46aacc93d0c76.com
api.apphud.com
sensors.yodo1api.com
conn-service-eu-03.allawnos.com
heytapmobi.com
heytapmobile.com
heytapdl.com
allawntech.com
allawnos.com
receiver.habby.mobi
crosspromo.voodoo.io
vs-api.voodoo-tech.io
remote-settings-v2.voodoo-tech.io
ip-api.com
adsdk.yandex.ru
visitor-service.tealiumiq.com
collect-eu-west-1.tealiumiq.com
collect.te

[2022-10-15 15:15] Tricky-M opened #2111 "Sites added to blocklist that prevent 4G/5G mobile IMS services on Vodafone."
**False Blocks**

The following items that have been added to the block list https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts are preventing some of Vodafone's IMS services from functioning, for example RCS Chat (new version of SMS). This is shown by opening Google messages and withing Settings -> Chat the status when on network running a blocklist with these will continually say "

[2022-10-15 17:30] StevenBlack commented on #2111
Thank you for this @Tricky-M.

Ping @jawz101 what do you think? Thanks!

[2022-10-15 17:33] StevenBlack commented on #2104
@trackerct please stop.

There is zero chance I'm accepting domains submitted like this.

We already block over a third of those you've listed here.

[code]

[2022-10-16 02:46] jawz101 commented on #2111
I've stepped down from AdAway list maintenance

[2022-10-16 02:48] StevenBlack commented on #2111
@jawz101 I'm sorry to hear that.

Who should I ping for this?

[2022-10-16 02:49] jawz101 commented on #2111
Oops I edited my reply above

[2022-10-16 02:55] StevenBlack commented on #1978
@BelovedTomboyishGirl sorry this has lingered so long.

Looking at this, any site that pops-up a "your PC has viruses" page qualifies for the main list.

[2022-10-16 02:57] StevenBlack commented on #1978
Done!  Closing.

[2022-10-16 02:57] #1978 closed

[2022-10-16 09:01] Tricky-M commented on #2111
Didn't realise the association with the AdAway list, I also raised [AdAway #3403](https://github.com/AdAway/AdAway/issues/3403), which may be the incorrect location.

[2022-10-16 23:15] Martii commented on #237
For posterity sake had some time to look into why unbound wasn't working with a list from here with jammy:

[code]

... and getting this error on a restart of unbound:

[code]

Re: https://deadc0de.re/articles/unbound-blocking-ads.html *(and other web sources found)*

... the "change" between focal and jammy is that `server:` seems to be needed to be prepended to the separate .conf list. Most of t

[2022-10-17 13:34] anxiouslelimo opened #2112 "False Positive: nexusrules.officeapps.live.com"
<img width="626" alt="Untitled" src="https://user-images.githubusercontent.com/115996455/196190565-7c588850-66e2-4c9f-b1f0-4916c1e3d691.png">

Request to whitelist **nexusrules.officeapps.live.com**.
The following endpoints are used to connect to the Microsoft 365 admin center's shared infrastructure, including Office in a browser. For more info, see Office 365 URLs and IP address ranges. You can

[2022-10-17 14:37] StevenBlack commented on #2112
Thank you for this @anxiouslelimo.

I agree. This is removed in commit 6c9377b which will be included in the next release.

[2022-10-17 14:37] #2112 closed

[2022-10-20 02:38] StevenBlack commented on #2108
Ping @marktron thanks.

[2022-10-20 14:28] StevenBlack commented on #2108
Thank you Mark @marktron and thank you for submitting this issue @martru118.

Closing.

[2022-10-20 14:28] #2108 closed

[2022-10-20 16:07] dbrennan opened #2113 "Remove info.hyperproof.io from block list"
info.hyperproof.io does not serve ads or other illicit content.
info,hyperproof.io is used for customer/website visitor forms hosted by Pardot (Salesforce).
This is preventing users and customers of hyperproof.io from accessing these forms.

[2022-10-20 20:07] trackerct opened #2114 "personaclick / tawk / efilli"
personaclick.com  :
Marketing Automation & One-Click Personalization Suite

PersonaClick offers a reliable intelligent toolset built for online stores. Keep all of your important customer data like gender, age, clothing and shoe size, body type, brand preference, and other niche-specific parameters in one place.

cdn-static.personaclick.com
cdn.personaclick.com
pictures.personaclick.com
static.per

[2022-10-20 23:07] StevenBlack commented on #2113
Thank you for this Dave @dbrennan.

I don't think so.

[code]

Hmmmm... and where have we seen `pardot.com` before?

[code]

So even if we unblocked `info.hyperproof.io` you'd be blocked by the next domains in the chain belonging to `pardot.com`.

Closing.

[2022-10-20 23:07] #2113 closed

[2022-10-21 04:37] dbrennan commented on #2113
Thanks for the detailed info, I wasn't aware this was going on under the covers with pardot.

[2022-10-21 23:06] StevenBlack commented on #2114
Hi @trackerct thanks for this input.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

Please submit this request to [one of our curated sources](https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant).

Closing.

[2022-10-21 23:06] #2114 closed

[2022-10-22 22:22] githubissocool opened #2115 "Common phishing/scam/malicous domain not in list"
The domain is flashrewards.co

[2022-10-26 20:40] jdrch opened #2119 "Remove saa.paramountplus.com from fake news & gambling hosts file"
The above domain is found in https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews-gambling/hostss. It is neither a fake news nor a gambling site. Paramount Plus is a streaming service like Netflix.

[2022-10-26 23:14] gothic-bum commented on #2119
`saa.paramountplus.com` is an alias for the CNAME `paramountplus.com.data.adobedc.net` which is a disguised tracker.

[2022-10-27 03:35] StevenBlack commented on #2119
Yup @gothic-bum is right.

[code]

[2022-10-27 13:39] geekytricky opened #2120 "Not Working With Mullvad VPN"
I used only "gambling & fakenews" part, which i extracted from "Unified hosts + fakenews + gambling".
mullvad is showing this msg "unable to set system dns server".
What to do?

[2022-10-27 19:39] Astro74205 opened #2121 "Unified hosts + fakenews + gambling + porn breaks DNS"
I've attached the hosts file for review, however this file, when installed seems to break DNS resolution on Windows 11 2022 H2.

Windows event viewer reports dnscache service timeouts.
Removed the file, and replaced with "stock" windows hosts file, DNS works perfectly.

I use a pihole at home, so removing the hosts file isn't a big deal for home, but when on the road, I'd like some measure of prot

[2022-10-27 19:54] Astro74205 commented on #2121
Disregard.  I've been using the stock "unified" hosts file from this project for so long now, I never saw you added this disclaimer for the other larger, combined files:

Windows has issues with larger hosts files. Recent changes in security within Windows 10 denies access to changing services via other tools except registry hacks. Use the disable-dnscache-service-win.cmd file to make proper chang

[2022-10-27 19:58] jdrch commented on #2119
@gothic-bum is correct that it's a tracker, *but that's not what the list is for*. The list is for fake news and gambling sites, specifically. Blocking this URL breaks Paramount+ unnecessarily for people who want to block fake news and gambling but aren't as concerned about tracking, such as myself.

Either the URL is in the wrong list or the list is inaccurately named.

[2022-10-27 20:05] StevenBlack commented on #2119
@jdrch I recommend you read the [readme](https://github.com/StevenBlack/hosts/blob/master/readme.md) in this repo.

In short, and to clarify because you've misunderstood: fake news, gambling, porn, and social, and their various combinations, are ***OPTIONAL EXTENSIONS*** to the base list which includes adware and malware.

In other words, the base list is always included here.

I trust that now yo

[2022-10-27 20:05] #2119 closed

[2022-10-27 20:08] #2121 closed

[2022-10-27 20:09] StevenBlack commented on #2120
Hi @geekytricky thank you for your question.

This is an issue that's best addressed by Mullvad VPN technical support.

Closing.

[2022-10-27 20:09] #2120 closed

[2022-10-27 20:11] StevenBlack commented on #2115
@githubissocool thank you for this.

Yup this one is nasty.

[2022-10-27 20:12] StevenBlack commented on #2115
@githubissocool this will be live in the next release.

[2022-10-27 20:12] #2115 closed

[2022-10-28 08:14] sundowndev opened #2122 "Block mym.fans?"
Hi, should `mym.fans` be considered as a porn site ? It has nearly the same content policy as onlyfans.

[code]

[2022-10-28 16:59] StevenBlack commented on #2122
Merci Raphaël!

Ping @sinfonietta can you evaluate this for your list? Thanks!

[2022-10-29 17:50] #1990 closed

[2022-10-31 09:50] sebastiande opened #2124 "Remove cloud-news.ionos.com"
Hi,

I got a mail from IONOS Cloud (to which I have actively subscribed), but I can not really view it cause the images are blocked cause cloud-news.ionos.com is on this blocklist.

Can you remove it? I looked and you should only get something from this URL if you have actively subscribed.

Thanks,
Sebastian

[2022-10-31 13:30] mgh128 opened #2125 "lnks.gd is being used in local government e-mail bulletins. Please consider removing from this blocklist"
lnks.gd is being used legitimately in local government e-mail bulletins.  Please consider removing from this blocklist
This can be verified with the Granicus team ( see https://granicus.com/solution/govdelivery/ )

[2022-10-31 19:33] StevenBlack commented on #2125
Hi Mark @mgh128 thank you for this.

Why would local government be using `links.gd` as opposed to using actual direct links? Can you imagine a reason for that?

Your local government's IT department, or its communications team, isn't gonna be setting policy here 🤔

I'm sure you understand.

Closing.

[2022-10-31 19:33] #2125 closed

[2022-10-31 19:38] StevenBlack commented on #2124
Hi Sebastian @sebastiande.

Let's check!

[code]

So it appears that `cloud-news.ionos.com` is a CNAME record that fronts for `go.pardot.com` and other `pardot.com` domains. Those are, in any event, also blocked because `pardot.com` is bad news. Three of our upstream curators list quite a few `pardot.com` domains.

You could report this to IONOS Clout, and ask them to stop the shenanigans.

Closin

[2022-10-31 19:38] #2124 closed

[2022-10-31 20:23] mgh128 commented on #2125
Hi Steven @StevenBlack
I don't know why they do it.  I don't like opaque URLs any more than you do.

I'd much prefer that local government just use straightforward transparent links to their own website instead of redirections via lnks.gd.  It seems that they've been tricked into thinking that it matters which e-mail newsletter generated the click and paying public money for a service they probabl

[2022-10-31 21:41] omriiluz opened #2126 "False-Positive: px-cloud.net"
Hello,
I created an issue and PR on an upstream feed blocking px-cloud.net. https://github.com/shreyasminocha/shady-hosts/issues/11

PerimeterX (now HUMAN Security) is an application security and anti fraud solution and we use that domain as part of our service. We take user privacy very seriously and comply with all major privacy regulations (https://www.perimeterx.com/resources/compliance/).

Th

[2022-11-02 00:48] StevenBlack commented on #2126
Thank you for this Omri @omriiluz.

We don't block the domain `px-cloud.net`.

We block ...

* `collector-px8fcgygk4.px-cloud.net`, and
* `client.px-cloud.net`

@shreyasminocha is indeed the curator of the list that brings `client.px-cloud.net` to us.

[2022-11-02 01:17] shreyasminocha commented on #2126
Resolved upstream :+1:

[2022-11-02 01:18] StevenBlack commented on #2126
Thanks Shreyas @shreyasminocha!

Omri @omriiluz this will be live in the next release.

[2022-11-02 01:18] #2126 closed

[2022-11-02 09:01] dasyad00 opened #2127 "Block geozo"
I recently came across a website which serves Taboola-like ads (see [example](https://www.idxchannel.com/syariah/tanpa-riba-catat-21-aplikasi-investasi-syariah-terdaftar-di-ojk)). So far, I have identified 3 domains linked with these ads (mainly involved with displaying).

[code]

[2022-11-02 09:15] hagezi commented on #2127
And additionally `cdn.geozo.com`

[2022-11-02 11:10] ambiamber opened #2128 "How to identify which blocklist a domain is on?"
I looked in the generated hosts file for a comment that would elucidate which of the block lists contained a particular domain but the only thing I found is a comment that appears to be a section header and that comment consisted only of the word `ads`.

Aside from finding all of the consolidated lists by hand and going through them OR writing new code to do that is there a way to go from `example

[2022-11-03 13:42] StevenBlack commented on #2128
Thank you for your question @ambiamber.

If you're on Mac or Linux you can use `grep`, `rg` (ripgrep), or `ack`.  The folder names will come up in the results. You're looking for files in the `data` or `extensions` folders.

If you're on Windows, you can use search in the file manager. I'm sure there are command line tools in Windows that can search through plaintext files in the terminal.

Ask Go

[2022-11-03 13:42] #2128 closed

[2022-11-03 21:38] GitHugz commented on #1378
As an end user with an app function with this domain blocked: I have seen this domain in my query list, but have had no loss of function as suggested. Notably, push functions perfectly when I tested it **without** whitelisting this domain.

Thank you, @jawz101 & @StevenBlack for handling this pretense with wisdom and integrity.

[2022-11-04 11:50] MidnightD4wn commented on #2094
how can i enable DNS Cache Service again

[2022-11-04 21:44] StevenBlack commented on #2094
@MidnightD4wn try [this](https://wintechlab.com/enable-disable-dns-client-service/) maybe. There are other articles, just Google "enable DNS Cache Service".

[2022-11-04 22:31] Lateralus138 commented on #2094
I'm not sure what method the batch file uses, but I almost assume it's via the registry and if so you can re-enable it via either the registry itself or a ***.reg*** file.

You can create the file yourself or if you want I can upload it later.

To enable from a file just save the following to a file named ***<whatever_you_like>.reg*** (dns_cache_enable.reg for example, don't save as .txt) and then

[2022-11-06 01:59] devipasigner opened #2130 "Block graph.instagram.com"
Hello, you have the domain 'graph.instagram.com' whitelisted. I would like to request a review of the domain again since I think it was falsely whitelisted. I am aware that the domain 'graph.facebook.com' breaks facebook sign in on mobile devices and marketplace however 'graph.instagram.com' has not broken anything on instagram for me. This is coming from someone who has been using instagram with

[2022-11-06 16:34] a77841s opened #2131 "Block fundingchoicesmessages.google.com"
Some websites will have ads for this domain.

[2022-11-06 20:10] StevenBlack commented on #2130
Hi @devipasigner thanks for this input.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

Please submit this request to [one of our curated sources](https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant).

Closing.

[2022-11-06 20:10] #2130 closed

[2022-11-06 20:10] StevenBlack commented on #2131
Hi @a77841s thank you for this.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

Please submit this request to [one of our curated sources](https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant).

Closing.

[2022-11-06 20:10] #2131 closed

[2022-11-06 20:11] StevenBlack commented on #2127
Hi @dasyad00 thank you very much for this input.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

Please submit this request to [one of our curated sources](https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant).

Closing.

[2022-11-06 20:11] #2127 closed

[2022-11-06 20:12] StevenBlack commented on #2105
Ping @sinfonietta!  Thanks.

[2022-11-07 07:03] trackerct opened #2132 "imasdk"
imasdk.googleapis.com
The IMA SDK is a Google Ads SDK that allows developers and publishers to show interactive and video ads on their websites and mobile apps.

veve.com
A PERFORMANCE MARKETING PLATFORM TO REACH CONSUMERS THROUGH OEMs AND BROWSERS

adhouse.pro
Adhouse Digital Media Advertising and Research

cleveradvertising.com
In the industry for 15 years, we serve 13+ iGaming operators through

[2022-11-07 15:36] StevenBlack commented on #2132
Hi @trackerct thanks for this input.

Two things.

Firstly, we don't block root domains unless those domains are used to vehicle adware, crapware, or worse.  We are absolutely NOT de-platforming companies just because they are in the advertising business. Can you imagine the legal blowback from that??

Secondly, we're mostly an aggregator of hosts files from active and reputable curators of hosts

[2022-11-07 15:36] #2132 closed

[2022-11-08 04:20] cwanja opened #2133 "Fidelity iOS Face ID"
I believe `activate1.Fidelity.com` is blocking Face ID from working on iOS. Can register and enroll Face ID on cellular, re-login on cellular with Face ID no problem. Turn on WiFi behind Pi hole using this blocklist and get an error that Fidelity has detected an issue with Face ID activation and requires me to re-login.

[2022-11-09 00:28] StevenBlack commented on #2133
Thank you for this observation @cwanja.

The domain `activate1.Fidelity.com` is a `CNAME` record that points to `fidelity.activate.ensighten.com`.

We block many `ensighten.com` domains and these come to us via five different upstream curators. Furthermore this cesspool continues through the domain `nc0.co` which is also blocked.

I'm sorry but this isn't going to change.

Closing.

[code]

[2022-11-09 00:28] #2133 closed

[2022-11-09 18:07] MidnightD4wn opened #2134 "Windows 10 built-in vpn"
After using hosts file it's not working anymore is there a way to get it work ?

[2022-11-09 20:09] StevenBlack commented on #2134
Hello @MidnightD4wn thank you for this question.

I'm going to need more information to interpret what you are trying to say.

* *What*, exactly, is not working anymore.
* Whatever is not working anymore, was it working before, and with or without the hosts file.
* Which hosts file are we talking about here.  We offer 16 different hosts files.

Finally, have you read the repo readme?  In particula

[2022-11-10 04:20] MidnightD4wn commented on #2134
i used the one at releases page, Release 3.11.28
after updating host file
using this file
![image](https://user-images.githubusercontent.com/70827970/200999686-9c9ea835-b366-452e-b9ef-7d7f381b6b31.png)
and i disabled DNS Cashe service
windows 10 built-in vpn became broken for some reason

[2022-11-10 04:21] MidnightD4wn commented on #2134
and yea it was working before updating hosts file

[2022-11-11 06:57] DaniSpringer opened #2135 "Replacing content of /etc/hosts failed."
I ran
[code]
And, after lots of other output, got
[code]
And upon testing, Safari loads any and all of the above.
What to do?

[2022-11-11 07:15] DaniSpringer commented on #2135
Actually, I manually copied the entire file to /etc/hosts (by running `sudo cp hosts /etc/hosts`) and while /etc/hosts now shows all the text... nothing is being blocked. What am I missing?

[2022-11-11 19:49] StevenBlack commented on #2135
Thank you for this question Daniel @DaniSpringer.

Have you tried flushing your browser cache?  Flushing your workstation DNS cache?

Lots of DNS caching going on typically 😄

[2022-11-12 13:17] barrettj12 opened #2136 "Docker command fails"
The Docker command suggested in the README is not working for me.
[code]

It was working previously, and I don't know what changed. The `/etc/hosts` definitely exists so I'm not sure what the problem is.
[code]

This is on Ubuntu 20.04 LTS with the following Docker versions:
[code]

[2022-11-12 16:24] Steltek opened #2137 "Blocking sdk.split.io causes issues with the EA Desktop App"
Hello,

I've recently noticed an issue with the EA Desktop App wherein it would not show me the 'View Properties' and 'Repair' menus on any of my PCs. After some extensive debugging, I've traced the root cause back to my network (running a VPN makes the option appear) and more specifically the Pihole blocking sdk.split.io. (If that domain is blocked, the EA App takes a bit longer to start up, and

[2022-11-12 17:58] ghost opened #2138 "Windows 10 taskbar doesnt work"
I added the raw file to my hosts and made the windows taskbar to not work. Start menu is grayed out, cant right click or anything with it.
I tried removing the "Windows 10" section of the file, but it didnt work either. Idk which specific domain is doing it.

[2022-11-13 01:42] StevenBlack commented on #2137
Thank you for this @Steltek.

This is from the Adaway list which is no longer actively maintained.

I've paused refreshing the Adaway list (commit 10cb94) and removed the domain `sdk.split.io` from our copy of this list (commit 0ddc209).

This will reflect in the next release, coming soon.

Closing.

[2022-11-13 01:42] #2137 closed

[2022-11-13 01:45] StevenBlack commented on #2138
Hello @cieres thank you for this.

Are there any Windows users experiencing this, or something similar?

[2022-11-13 01:53] StevenBlack commented on #2136
Hello Jordan @barrettj12 thank you for this question.

Looking at this detailed report — thank you for that — a size of `4096` for our hosts file seems improbable, yes? What's with that?

[2022-11-13 21:25] spoolr opened #2142 "Coveo is blocked by AdAway again..."
I was trying to order off of leevalley.com and have been prevented from this for more than month.  This past ticket reports #1856 that it affects the search function of sites, which it does, but it's also stopping orders from going through.  It's been super frustrating.

Steven, this is contained in AdAway, but the maintainer reports he has moved on.  Coveo themselves have added a ticket over ther

[2022-11-14 01:20] githubissocool opened #2143 "Add this url to hosts"
This url is a tracking url i found at usatoday.com

reporting-api.gannettinnovation.com

(Full url i got: https://reporting-api.gannettinnovation.com/client-logs)

[2022-11-14 02:25] StevenBlack commented on #2142
Thank you for this @spoolr.

Since Adaway is unmaintained, I've paused refreshing from this source and taken its last version onboard here.

This is fixed in commit 62f5fe5.  This will reflect in the next release.

Closing!

[2022-11-14 02:25] #2142 closed

[2022-11-14 05:42] barrettj12 commented on #2136
Ah yep, turns out `/etc/hosts` was a directory instead of a file. I replaced it with an empty file and now it works fine.

[2022-11-14 05:42] #2136 closed

[2022-11-16 11:08] dwsmith1983 opened #2144 "google analytics usage"
Is there a way to use google analytics?

I commented out the line
[code]
but I still cannot access the site.

[2022-11-16 14:44] #2144 closed

[2022-11-16 21:05] StevenBlack commented on #2135
Closing.

[2022-11-16 21:05] #2135 closed

[2022-11-17 17:32] DaniSpringer commented on #2135
Sorry but I don't understand

[2022-11-17 17:40] StevenBlack commented on #2135
Hi Daniel @DaniSpringer these links should help:

* [How to Clear Safari's Cache](https://www.macrumors.com/how-to/clear-safari-cache/)
* [How to Flush your DNS Cache on Mac](https://mackeeper.com/blog/flush-dns-cache-on-mac/)

[2022-11-18 03:50] DaniSpringer commented on #2135
Thanks! Did that just now.
Just to be sure I understand, does it make sense for me to copy, for example, this https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/gambling-porn/hosts and then paste it as a replacement of whatever is in my /etc/hosts file? Should that work?

[2022-11-18 04:07] DaniSpringer commented on #2135
@StevenBlack so, I tested some gambling sites, and unless I happen to be unlucky, the few I tried were all blocked (time out errors, if that is the expected behavior...), however some specific, paid p@@@ sites still worked, even though they were listed in the hosts, namely www.livej@@@in.com

What can be done?

Thanks

[2022-11-18 04:45] DaniSpringer commented on #2135
@StevenBlack might the issue be with any https website? (as opposed to http)

[2022-11-18 04:56] StevenBlack commented on #2135
Daniel @DaniSpringer if the hosts file is working you should receive a fail-to-connect error in, I'm guessing, 10 ms or less. That's because the request should never leave your box. So NOT a timeout error. You should see the error before your enter key has had time to spring back up, basically.

HTTP or HTTPS has no bearing.  The first fails on port 80, the second on port 443. But either way, the

[2022-11-18 05:03] DaniSpringer commented on #2135
@StevenBlack
In that case, it is not working at all. I cleared cache in both ways as per the links you posted. Not sure what else to check. May you advise?
Thank you
Note: does the link I gave above "work" for you when using the p@@@ host file?
And it seems many gambling sites are down on their own, so it's tricky for me to test whether my hosts file is working, but it seems like it is not.

[2022-11-18 05:09] StevenBlack commented on #2135
Daniel @DaniSpringer it's trivially easy to check if your hosts file is working.

Pick a domain in the hosts file.  Say `googleanalytics.com`.  Paste that in your browser bar. If you get back nothing, it's working. If you get back a website, keep debugging.

In a terminal window, what does this command return? It should return a ton.

[code]

[2022-11-18 05:10] StevenBlack commented on #2135
Daniel @DaniSpringer are you using Onion / Tor?  That always bypasses the hosts file.

[2022-11-18 05:14] DaniSpringer commented on #2135
@StevenBlack
cat /etc/hosts does print a ton
Not using Onion/Tor at the moment
I might be using a VPN. Would that be an issue?

[2022-11-18 05:14] StevenBlack commented on #2135
Daniel the domain `www.livej@@@in.com` or `www%2Elivej%40%40@in.com` or whatever garbage you pasted there is not in our hosts file.

[2022-11-18 05:15] DaniSpringer commented on #2135
@StevenBlack www.livejasmin.com
Not sure what you mean by garbage
Thanks

[2022-11-18 05:18] StevenBlack commented on #2135
@DaniSpringer

<img width="926" alt="2022-11-18_00-16-19" src="https://user-images.githubusercontent.com/80144/202625248-5f5cf7fe-75f6-45e5-ab98-64459dece757.png">

I'm out of ideas. Let us know when you figure out what's unique about your box.

[2022-11-18 05:23] DaniSpringer commented on #2135
@StevenBlack oh. I was trying to censor it, but I guess that wouldn't work.
What might be unique? Let's see...

I use [accountable2you](https://accountable2you.com)
I use iCloud Private Relay
Latest macOS
Apple M1 chip
Can't think of anything else

[2022-11-18 05:34] gothic-bum commented on #2135
Disable it. Private Relay uses Oblivious DNS over HTTPS (ODoH), and therefore ignores the local hosts file.

[2022-11-18 05:36] DaniSpringer commented on #2135
@gothic-bum I will try that now, thank you! And what would be the approach to make it work with Private Relay enabled?

[2022-11-18 05:44] DaniSpringer commented on #2135
@gothic-bum @StevenBlack so firstly, porn seems blocked now that iCloud private relay is off, so thank you.

Interestingly, googleanalytics.com still works, after clearing all the caches.

Also: some sites are specifically written with "www", and visiting them without that, still works, while visiting them with it, does not.

[2022-11-18 06:04] gothic-bum commented on #2135
Reboot your Mac to clear all caches, and then test again.

[2022-11-18 06:06] DaniSpringer commented on #2135
@gothic-bum did but we'll retry to be sure, thanks

[2022-11-18 06:10] gothic-bum commented on #2135
Test from Terminal:

`ping -c 5 googleanalytics.com`

[2022-11-18 06:12] DaniSpringer commented on #2135
@gothic-bum I get:
PING googleanalytics.com (0.0.0.0): 56 data bytes
ping: sendto: Socket is not connected
ping: sendto: Socket is not connected
Request timeout for icmp_seq 0
ping: sendto: Socket is not connected
Request timeout for icmp_seq 1
ping: sendto: Socket is not connected
Request timeout for icmp_seq 2
ping: sendto: Socket is not connected
Request timeout for icmp_seq 3

--- googleanalyt

[2022-11-18 06:19] DaniSpringer commented on #2135
This is the start of my hosts file. Maybe something is wrong:
`
# Title: StevenBlack/hosts with the gambling and porn extensions
#
# This hosts file is a merged collection of hosts from reputable sources,
# with a dash of crowd sourcing via GitHub
#
# Date: 14 November 2022 02:39:48 (UTC)
# Extensions added to this file: gambling, porn
# Number of unique domains: 211,509
#
# Fetch the latest versi

[2022-11-18 06:20] DaniSpringer commented on #2135
https://stackoverflow.com/a/37189530

[2022-11-18 06:26] DaniSpringer commented on #2135
I tried commenting out
::1 localhost
::1 ip6-localhost
::1 ip6-loopback
fe80::1%lo0 localhost
And now we're back to stripchat.com working and www.stripchat.com not working...

I'm completely out of ideas, but I will gladly try any suggestions you might have. Thanks!

[2022-11-18 06:26] gothic-bum commented on #2135
That means Safari is bypassing your hosts file.

What you need to do is restore your DEFAULT hosts file, and then add a test entry to determine why Safari is not using it for DNS resolution (for example, perhaps it is due to a VPN, or with software you installed).

[2022-11-18 06:33] DaniSpringer commented on #2135
@gothic-bum ok. Online I see various versions of what a default hosts file should look like. What is the correct way to reset it to whatever it originally was?

[2022-11-18 06:51] DaniSpringer commented on #2135
Upon checking redirection as per here https://apple.stackexchange.com/a/295367 , i get a lot more output than that:

name: website.com
ipv6_address: 2606:4700:10::ac43:1b6a
ipv6_address: 2606:4700:10::6816:42c3
ipv6_address: 2606:4700:10::6816:43c3

name: website.com
ip_address: 104.22.66.195
ip_address: 172.67.27.106
ip_address: 104.22.67.195

[2022-11-18 07:02] DaniSpringer commented on #2135
@StevenBlack thanks.
Upon testing using a almost empty hosts file, it appears that, in order to block example.com, I must do this:
[code]
Now, if this works for any site that is great, but any chance you can update the script to generate the current lines with the above versions? Manually editing each one is of course not practical.

Thanks.

[2022-11-18 08:34] funilrys commented on #2135
Steve @StevenBlack, I think it's time for us to also include the IPv6 format ... What's your opinion on this?

[2022-11-18 09:59] correabuscar opened #2145 "Why does 0.0.0.0 actually point to 127.0.0.1 on Linux ?"
re this: https://github.com/StevenBlack/hosts#we-recommend-using-0000-instead-of-127001
which says:

but using `0.0.0.0` in `/etc/hosts` is (currently) the same as using `127.0.0.1`, if you test it like:
run netcat as root:
`# nc -l -p 443 -s 127.0.0.1`
put this line in `/etc/hosts`:
[code]
Start Firefox. You immediately see some garbage text on the terminal where netcat is running including the p

[2022-11-18 20:19] m0tt opened #2146 "Update hosts file with url"
May I ask you to add the following url: ams[dot]creativecdn[dot]com to the hosts file?

[2022-11-20 04:49] githubissocool opened #2147 "Add this url"
I saw ads on this url: https://hackaday.com/2022/11/13/diy-usb-charging-the-right-way/

because of this url: ads.supplyframe.com

[2022-11-20 07:21] ar51an opened #2148 "ravm.tv blocks crackle app on roku"
Please remove ravm.tv domain. Roku TV, crackle app streaming does not start due to this blocked domain.

[2022-11-20 17:07] ed4532 opened #2149 "Block these urls"
Hello, can you add these urls to the porn category:

0.0.0.0 m.ashemaletube.com
0.0.0.0 www.icetranny.com
0.0.0.0 sassytwinks.com
0.0.0.0 www.boy18tube.com
0.0.0.0 ohhgays.com
0.0.0.0 exporntoons.net
0.0.0.0 www.twinkvideos.com
0.0.0.0 www.gaymentubexxx.com
0.0.0.0 boyreview.com
0.0.0.0 cdn.iporntv.net
0.0.0.0 img.xxxvogue.net
0.0.0.0 www.xarabvideos.com
0.0.0.0 www.wapoz.info
0.0.0.0 www.xxx-lesb

[2022-11-20 18:02] StevenBlack commented on #2148
Thank you @ar51an done. This will reflect in the next release.  Closing.

[2022-11-20 18:02] #2148 closed

[2022-11-20 18:02] StevenBlack commented on #2149
Ping @sinfonietta thanks.

[2022-11-20 18:05] StevenBlack commented on #2147
Thank you for this @githubissocool.  We already list the domain `ads.supplyframe.com`.

Closing.

[2022-11-20 18:05] #2147 closed

[2022-11-20 18:06] StevenBlack commented on #2146
Thank you for this @m0tt. Why would we do that?

[2022-11-20 19:54] ar51an commented on #2148
Thank you @StevenBlack

[2022-11-20 21:00] StevenBlack commented on #2143
Thank you @githubissocool this is in the latest release.

[2022-11-20 21:00] #2143 closed

[2022-11-21 09:36] kenrick95 opened #2150 "sites.google.com and www.sites.google.com"
Found out that these two sites couldn't be accessed due to it being blocked by this blocklist 😅 I guess we should keep it unblocked since there are many non-ads sites hosted on it too

[code]

Probably something not right in the script to generate host file from source (`data/KADhosts/hosts`)

[code]

Edit: ah, alright the source of the data is problematic: https://raw.githubusercontent.com/Polish

[2022-11-21 18:38] #2150 closed

[2022-11-21 22:48] CANADIANPIG commented on #2138
Hello,
I am experiencing the same issue. If I were to reboot after updating my hosts file, explorer.exe would be completely frozen and my internet connection fails. I did not realize that this hosts file change was the cause, so I ended up reinstalling Windows 10 entirely thinking it was NordVPN's software. When the same issue occurred on my new installation, I reverted my hosts file to blank and

[2022-11-21 23:02] rautamiekka commented on #2138
A blank `hosts` will cause other problems, though, so don't make it totally empty.

[2022-11-22 02:12] VL4DST3R opened #2151 "Issue with epicgames tracking domain (Epic Games Launcher)"
I noticed an issue crept up when blocking the `tracking.epicgames.com` domain, namely store marketplace no longer works if this is being blocked, also mentioned here: https://forums.unrealengine.com/t/unreal-marketplace-section-of-epic-games-launcher-unresponsive/475586/5
Was wondering if this should be considered for removal since it breaks functionality.

[2022-11-22 03:14] StevenBlack commented on #2151
Thank you for this Vlad.

I understand what you're saying. I feel this this issue belongs to `epicgames.com`. Here's why.

Our mission is serving people who don't want to be tracked. So I'm going to decline your suggestion on principle.

Closing.

[2022-11-22 03:14] #2151 closed

[2022-11-22 03:41] DaniSpringer commented on #2135
@StevenBlack just so I understand, I would need the file to include IPv6 format?
If so, any plans to include it any time soon?
And how would I get it? (Would it be in the same way I tried using the current one?)

Thanks

[2022-11-22 14:12] VL4DST3R commented on #2151
While i agree its shitty implementation on their end, i doubt this will ever be addressed, i remember nvidia doing something very similar if you blocked their telemetry services, thats why i figured it had no other choice but to be ignored for the time being.

Im sorry but that sounds kinda obtuse? So you're going to block anything regardless if it breaks site functionality or not?
I also follow U

[2022-11-22 16:00] StevenBlack commented on #2135
Ho Daniel @DaniSpringer.

IPv6 is not a top priority presently.

The highest priority right now is keeping a lid on the hosts file size, because many classes of devices, and Windows OS devices, can't cope with large hosts files.  I think we're already too large.

Adding IPv6 would more than double the file size.  That won't happen until we reorganize centrally around the notion of "Limited devices

[2022-11-22 18:35] DaniSpringer commented on #2135
1. You can make a separate file for IPv6
2. Please take your attitude elsewhere!

[2022-11-22 21:25] gothic-bum commented on #2135
@DaniSpringer:

An IPv4/IPv6 dual stack configuration (which you are apparently using) would require a hosts file with both IPv4 and IPv6 entries.

[2022-11-22 21:35] DaniSpringer commented on #2135
So we can have two versions of the hosts file. One 4 and one 4+6.
Thanks

[2022-11-22 21:44] gothic-bum commented on #2135
As @StevenBlack pointed out, some platforms already have issues with the current size of the IPv4 hosts file, and an IPv4+IPv6 hosts file would essentially double that size.

[2022-11-22 22:34] DaniSpringer commented on #2135
I get that. But this would help those whose setup would handle it. (I’m actually not sure what it depends on. RAM? Windows/Mac? Internet speed? Something else?)

thanks

[2022-11-22 23:49] VL4DST3R commented on #2151
Fair enough.

[2022-11-25 14:23] flatsiedatsie opened #2154 "Suggestion: commercial use friendly version?"
I've done a search, but couldn't find anything, so here's my suggestion:

It would be great if there could be a version of the main list (adware + malware) that is OK for commercial use.

I work on a [plugin](https://github.com/createcandle/hotspot) for an open source [smart home controller](https://www.candlesmarthome.com/) which could integrate your list. But of course I can't guarantee that all

[2022-11-25 14:39] flatsiedatsie commented on #2154
I did a quick test. The resulting hosts file still contained 145.000+ domains

[2022-11-25 17:16] StevenBlack commented on #2154
Hello @flatsiedatsie thank you for this.

Well if it's any help, I am this close 🤏🏻 to dropping the MVPs hosts file from this amalgamated list because it's effectively abandonware at this point.

[2022-11-26 01:10] trackerct opened #2155 "False Positive"
please remove this domains. Streaming video not working, break sites.

beggarlyfilmingabreast.com
cdn.sgmntfy.com
cdn.segmentify.com
per2.segmentify.com
key.seckeyserv.me

[2022-11-26 01:39] superislam opened #2156 "please block this site"
hello please may you block this site [https://نسوانجى.net](https://xn--mgbkt9eckr.net/)

[2022-11-26 04:45] StevenBlack commented on #2156
Hello @superislam now why would we do that?  Please explain.

[2022-11-26 04:49] StevenBlack commented on #2155
Thank you for this @trackerct.

- We don't list `beggarlyfilmingabreast.com`.
- We don't list `cdn.sgmntfy.com`
- The domain `cdn.segmentify.com` comes to us from adaway.
- We don't list `per2.segmentify.com`
- We don't list key.seckeyserv.me.

@trackerct you're fucking with me.  Please don't post here anymore.  if you post another issue here I will block you.

[2022-11-26 04:49] #2155 closed

[2022-11-26 04:50] gothic-bum commented on #2155
Only `cdn.segmentify.com` is included the latest release (3.11.32) of the hosts file.

And Segmentify is a tracker.

From https://segmentify.github.io/segmentify-dev-doc/integration_web/:

[2022-11-26 10:28] superislam commented on #2156
Oh ok it's a porn forum and site

[2022-11-26 15:58] g1t3m opened #2157 "Please Add these Porn Sites"
Hello @StevenBlack and @Sinfonietta,

Here are more porn sites to add to the filter:
epawg.com
en.vidmo.pro
fullporner.com
2chen.moe
8chan.moe
nutchaser.com
erothots.co
4hdxxx.com
nudeleakers.com
cambabes.tube
celebforum.co
celeb.to
jerkmate.tv
fapnation.com
flashthepublic.com
hdsupersex.com
xxteenhub.com
bestvideoleak.com
newdayporn.com
newporntv.me
goodnightporn.com
xvideoleaks.com
goldengirlpor

[2022-11-26 16:58] StevenBlack commented on #2157
Thank you @g1t3m.  Ping @sinfonietta thanks.

[2022-11-26 16:58] hyder365 opened #2158 "new ad domain: danbo[.]org"
danbo . org describes itself as "self-serve advertising" and is currently running ad links on several 4chan boards.

[2022-11-26 17:01] StevenBlack commented on #2158
Hi Devon @hyder365 thank you for this.

We generally don't block root domains unless those root domains are used to serve adware or malware.  We aren't here to de-platform businesses in the ad industry, but just their delivery vectors.

As far as I can tell blocking this root domain blocks exactly no ads, right?

Closing

[2022-11-26 17:02] StevenBlack commented on #2156
Thanks @superislam.  Ping @sinfonietta for inclusion.

[2022-11-26 17:02] #2146 closed

[2022-11-26 17:03] hyder365 commented on #2158
Blocking this root domain would block both the ad links and the ad images:

ad:

https://danbo.org/gate?ref=HcWhBoFxQ6Kkcog&redir=https%3A%2F%2Fwww.amazon.com%2F-%2Fen%2FZulu-Alitspa%2Fe%2FB0B19C1YPC%2Fref%3Ddp_byline_cont_pop_book_1&d=27

ad image:

https://danbo.org/assets/creatives/4chan-fbf8011b77029c09a6f9e5269821948fa42b8417.gif

So I think it is very much worth adding...

[2022-11-26 17:07] StevenBlack commented on #2158
Thanks Devon @hyder365, fair enough.  Reopening.

[2022-11-26 17:09] StevenBlack commented on #2158
Devon @hyder365 this is included in commit 147b6d and will be live in the next release.  Thanks again!

Closing.

[2022-11-26 17:09] #2158 closed

[2022-11-28 13:36] diego-betto opened #2159 "Please remove s.w.org"
Hi,

s.w.org is used as a CDN by WordPress WooCommerce.
Blocking the domain breaks the official websites.

![image](https://user-images.githubusercontent.com/11378282/204290768-e18b024a-70f7-4273-9617-8d4f17ea671b.png)

[2022-11-28 15:49] StevenBlack commented on #2159
Thank you for this Diego @diego-betto.

The domain `s.w.org` is removed in commit 0c0e2691.

This will reflect in the next release.

Closing.

[2022-11-28 15:49] #2159 closed

[2022-11-28 15:50] diego-betto commented on #2159
Thank you! :)

[2022-11-29 03:35] kurahaupo commented on #989
@StevenBlack

I'm using Linux on hosts with multiple adaptors connected to multiple networks, and in that context having interface tags on IPv6 link-local addresses is important. Commenting them out is not an option for me.

Using interface tags in `/etc/hosts` isn't some weird thing that only MacOS needs: any IPv6 enabled host can wind up needing them, but what's different about MacOS is that it

[2022-11-29 16:21] StevenBlack commented on #989
Hi Martin @kurahaupo thank you for this.

You know, appending to an issue closed 40-months ago isn't a great way to draw attention to something.

If you feel this is a bug can you please open a new issue, possibly referencing this 3 1/2 year old conversation, and clearly explain how this is a bug, and exactly what you recommend we do to fix this.

Also note that pull requests speak more loudly, an

[2022-11-29 23:44] Sinfonietta commented on #2105
@StevenBlack these are added!

[2022-11-29 23:46] Sinfonietta commented on #2122
@StevenBlack these are added too.

[2022-11-29 23:47] Sinfonietta commented on #2156
Yes @StevenBlack this site is porn and I have added it.

[2022-11-29 23:52] Sinfonietta commented on #2157
@StevenBlack I have added all of these.

[2022-11-30 00:17] g1t3m commented on #2157
Thank you both for adding these sites. Here are a few more I came across:

wetqueen.com
dankwank.net
pornito.xxx
pornfaze.com
danielleftv.com
leaked.fans
thothub.org

[2022-11-30 00:26] StevenBlack commented on #2156
Thank you @Sinfonietta.  Closing.

[2022-11-30 00:27] StevenBlack commented on #2122
Thank you everybody.  Closing.

[2022-11-30 00:27] #2122 closed

[2022-11-30 00:27] StevenBlack commented on #2105
Closing!

[2022-11-30 00:27] #2105 closed

[2022-11-30 00:27] StevenBlack commented on #2157
Thank you @Sinfonietta closing.

[2022-11-30 00:27] #2157 closed