[2019-11-07 11:41] spirillen commented on #1057
Because I have tried it :stuck_out_tongue_winking_eye:  and found it to heavy and slow :smiling_imp:

If you enable it for serving request from your local lan it often breaks (in the past when i tested it) and a memory footprint of 500 mb is way to much for any running service.

Next, as you will see in this and other threads I'm deeply into RPZ with NXDOMAIN responses :smile: to be able to protec

[2019-11-07 19:08] ler762 commented on #1057
@spirillen  Adding your UltimateWorldBiggestDumbestHosts to my windows hosts file stopped name resolution & was a pain to undo.  So I tried today with a smaller set of host names -- StevenBlack + lightswitch05

short story - The initial hit was over 3.5 minutes for windows to process the host file & one cpu was maxed out while the dnscache service working set slowly climbed to 128.6M

I don't know

[2019-11-08 10:07] spirillen commented on #1057
Wouldn't the best privacy settings in this case be to delete facebook? My life function pretty well without that crap :yum: Last time I chekket flopbook is all about storing and tracking to get trump re-elected..

[2019-11-08 15:34] Quorum75 opened #1085 "Yahoo Mail"
Hello.

Something is blocking Yahoo Mail functionality. We cannot no longer check the box besides an email to delete it or to mark it as spam.

Thanks

[2019-11-08 15:42] #1085 closed

[2019-11-09 16:46] Tectract commented on #1020
Yes, it should be blocked.

[2019-11-09 20:14] spirillen commented on #1020
This [comment](https://github.com/StevenBlack/hosts/issues/1057#issuecomment-537128982) is also for you. It touches the way bait_sites are setup to make it appears that your "Hosts/DNS recursor" is _breaking_ there site.... Don't never ever forget who actually broke there site....

A: who added the unwanted_ware (malicious code) on same domain as needed code?

So dear Australia, your burned of cri

[2019-11-10 18:20] ler762 commented on #1057
Obviously.  But it's no small task convincing all the relatives to
delete facebook.

[2019-11-11 02:31] spirillen commented on #1057
unfortunately :sob: you're right

[2019-11-14 18:02] spirillen commented on #1057
The promised [test](https://github.com/StevenBlack/hosts/issues/1057#issuecomment-549881035) is finished and the virtual machine will be deleted.

If you come up with other idea for test environments, I'm open for suggestions, but as said, this environment is deleted, and new tests will there for be late and put to the bottom of the ToDo list

[2019-11-15 10:08] daniplaninc opened #1086 "issue with blocking best.aliexpress.com"
best.aliexpress.com from host someonewhocares makes the aliexpress site not load for me. it seems they have switched to using best.aliexpress.com as their main domain.

I will add it to my pihole whitelist manually, since I am not sure whether or not this should be removed from the list. I just want to leave this issue so that people have an easier time finding out what the problem is

[2019-11-15 13:29] spirillen commented on #1086
If you thinks it is something Dan would need to re-consider, you should contact him directly https://someonewhocares.org/messages/

[2019-11-20 20:55] StevenBlack commented on #1086
Hi Dani @daniplaninc the domain `best.aliexpress.com` comes to us via someonewhocares.org.  You can contact Dan Pollock at hosts@someonewhocares.org.

Closing.

[2019-11-20 20:55] #1086 closed

[2019-11-20 20:55] StevenBlack commented on #1084
I would entertain a PR for these.

[2019-11-20 20:56] StevenBlack commented on #1073
I'm going to close this now because nothing actionable arises.

[2019-11-20 20:56] #1073 closed

[2019-11-22 04:14] Monodry opened #1089 "YouTube History Broken"
Just updated to latest version of standard Unified Hosts (Adware + Malware) and it seems to have broken history logging with youtube (any videos I watch isn't added to my history after). A quick LogDNS and it seems that there are 3 specific domains being blocked:
[code]
I'm not sure which one is causing it, but hopefully this helps narrow it down a bit.

[2019-11-22 04:59] dnmTX commented on #1089
@Monodry  search this repo for posts with **"YouTube History"** in them aaand you'll find out why.

[2019-11-22 05:26] Monodry commented on #1089
@dnmTX From the looks of it, seems like those issues were caused by the s & s2 youtube domains. I just find it strange that when I took the logs, neither of them seemed to be popping up.
Also, those posts for the most part were from months ago. This issue only started occurring once I updated the host to the most recent version (before that, I had the update from the beginning of this month). It w

[2019-11-22 05:49] dnmTX commented on #1089
**the issue** wasn't fixed,the domain(s) which were blocking the youtube history remained block and still are.
I just checked and neither of the listed by you domains are present in the lists here.Start whitelisting one at the time,this way you might be able to narrow it down.

[2019-11-22 07:44] Monodry commented on #1089
@dnmTX Hmm...I just went ahead and whitelisted all of them (including the s & s2 youtube domains) and it seems to be working again now. Not sure why I didn't have this problem just a couple of days ago, but I'm just glad it works now. Guess I'll just close out this issue then. Thanks for the help! :)

[2019-11-22 07:44] #1089 closed

[2019-11-22 08:52] omicron-b opened #1090 "where to report probably tracking domain"
Hello! I understand the priority is to report to one of the upstreams, but the only one specializing in tracking domains I found is https://pgl.yoyo.org/adservers which says

Anywhere else I can report probably tracking domain?
One of my android apps goes to `6cc62a7e.api.splkmobile.com` which, per my research, probably belongs to https://www.splunk.com:

Or, should I create an MR here? Is it best

[2019-11-22 09:28] funilrys commented on #1090
Is this a Badd-Boyz enough for you @MitchellKrogza ? 😁

[2019-11-23 20:13] StevenBlack commented on #1090
I think this issue raises a good question.  This repo's readme should  better indicate where and how to submit domains to curators.  At the moment, this isn't sufficiently explicit.

[2019-11-23 21:13] spirillen commented on #1090
There is also a very tracking specific repo at https://gitlab.com/my-privacy-dns/matrix/matrix/tree/master/source/tracking :smiley: that one also loves input :+1:

If you seek for the results as hosts formatted file you should then grab it here https://gitlab.com/my-privacy-dns/rpz-dns-firewall-tools/hosts/blob/master/matrix/hosts

This file then includes the adware, malicious, scamming, spyware a

[2019-11-24 06:37] m-svo commented on #1090
Hi @spirillen
I looked through this list and noticed lots of `.ru` domains and got interested since I am in Russia actually. Turns out list contains some (maybe not high quality) legit websites, like for example `stratege.ru`
You can check using local search engine, it shows green crown symbol for websites with "constant and returning userbase": https://yandex.ru/search/?lr=213&text=stratege

[2019-11-25 02:04] StevenBlack commented on #1090
I'm going to lock this thread now because @spirillen took this in a direction where now, another repo is being discussed here, in this repo.  This is now, therefore, off-topic.  Please take this unrelated conversation elsewhere.

Locking.

[2019-11-25 03:02] spirillen opened #1091 "Hi @spirillen"
Hi @spirillen
I looked through this list and noticed lots of `.ru` domains and got interested since I am in Russia actually. Turns out list contains some (maybe not high quality) legit websites, like for example `stratege.ru`
You can check using local search engine, it shows green crown symbol for websites with "constant and returning userbase": https://yandex.ru/search/?lr=213&text=stratege

_Ori

[2019-11-25 06:44] spirillen opened #1092 "Hi @spirillen"
Hi @spirillen
I looked through this list and noticed lots of `.ru` domains and got interested since I am in Russia actually. Turns out list contains some (maybe not high quality) legit websites, like for example `stratege.ru`
You can check using local search engine, it shows green crown symbol for websites with "constant and returning userbase": https://yandex.ru/search/?lr=213&text=stratege

_Ori

[2019-11-25 06:45] spirillen commented on #1092
Hmmm github is weird now... this should not have been here, please delete it Steven @StevenBlack

[2019-11-25 06:45] #1092 closed

[2019-11-29 14:18] rhy-ama commented on #968
This is still the case with the latest Chrome builds...

[2019-11-30 20:59] Brennii96 opened #1093 "Google Analytics"
Does anyone know where I can get a Google Analytics hosts list? I need to whitelist it to be able to access the dashboard and view traffic to my website.

Thanks_

[2019-12-01 23:06] mikhoul commented on #878
@StevenBlack  It's almost one years now, any news on this ? :thinking:

Regards ! :octocat:

[2019-12-02 12:37] The-Compiler opened #1094 "KADhosts blocks spyware.neocities.org as "fake news""
The KADhosts list currently blocks https://spyware.neocities.org/ as "fake news". I opened https://github.com/PolishFiltersTeam/KADhosts/issues/26 and was told:

I'd argue this alone isn't enough justification to block something as "fake news", but even if it was: The default list is supposed to block adware/malware, which this clearly is not.

Maybe the KADhosts list should be moved to the fakene

[2019-12-02 16:53] funilrys commented on #1094
Here a side note for you Steve @StevenBlack

I made a translation (thanks to the translator) of relevant comments so that you may get an overview:

Filters to protect against scams such as SMS subscriptions

Suspicious and / or websites linked to other scams

False, misleading or similar information.

Redirects to other pages with scams

Fast quenching

scams

Supplement hosts to promote pseudosci

[2019-12-02 16:57] StevenBlack commented on #1094
Thanks for this, Florian @The-Compiler.  And thanks Nissar @funilrys for the additional information.

Tomasz @FadeMind can you clarify?  Thanks!

[2019-12-02 19:28] StevenBlack commented on #1094
Resolved by #1095.  Closing.

[2019-12-02 19:28] #1094 closed

[2019-12-02 19:33] itay-grudev opened #1096 "Incorrect flag `rollbar.com`"
Rollbar is an error reporting and analysis tool used internaly in our software. It's listed under in the following files:

[code]

I believe it is incorrect and excessive blocking. It certainly prevents me from doing my job.

[2019-12-03 18:52] StevenBlack commented on #1096
Thanks Itay @itay-grudev.

@ScriptTiger Rollbar domains were added on May 18, 2018 in your commit 5550a01187b, which I merged.  Care to comment?

Itay @itay-grudev crash reporting is a bit of a grey area.  Some domains like `crashlytics` are just rude.  Others not so much.  I'm not familiar with Rollbar.  Can you make the case for Rollbar?  Point to a privacy statement, or reputation, or a track r

[2019-12-04 01:30] afonari commented on #1080
Blocked again, can this be re-opened?

[2019-12-04 01:32] StevenBlack commented on #1080
@ZeroDot1 can you address this?  Thanks!

[2019-12-04 01:59] ScriptTiger commented on #1096
If it's truly used "internally," I don't see what the problem is. Just keep using it internally, whitelist it, and everyone else can opt-out by having it in their blacklist. If we made a case to exempt this, we would have to exempt all of the other telemtry services, as well.

@StevenBlack, this service has popped on countless mobile apps and @itay-grudev does indeed give a fair description of it.

[2019-12-04 12:27] ScriptTiger commented on #1093
I haven't had any issues with just unblocking analytics.google.com to check my dashboard. I also send myself daily reports so I don't need to check my dashboard all that often, unless I see something in a report I really want to drill down deeper into.

[2019-12-04 13:33] ScriptTiger commented on #1078
@spirillen, I'm sorry to say you are entirely incorrect here.

The Opera VPN actually uses an HTTP(S) proxy and not a VPN. The type of proxy the Opera "VPN" uses is such that is resolves names on the distant end and not locally, thereby bypassing your device's local hosts file.

A real VPN, or virtual private network, creates a virtual network interface whereby you enter a virtual private network

[2019-12-04 15:59] StevenBlack commented on #1093
Brendan @Brennii96 here are a couple of nice options.

* The [Tor browser](https://www.torproject.org/download/) ignores hosts files, entirely.  Given that Tor is probably a good app to have anyway, you could use Tor for specialized things like this.

* [Hostile](https://github.com/feross/hostile) is a nifty command line utility to easily add or remove domains from your hosts file.  If our hosts f

[2019-12-04 21:28] Brennii96 commented on #1093
I've whitelisted analytics.google.com and I get the following error:

![image](https://user-images.githubusercontent.com/16559757/70182165-33260500-16db-11ea-8ed3-7f9a641d3ad7.png)

I have of course cleared the cache and can access google analytics. I have no plugins installed for blocking ads or trackers so I'm assuming google have other domains for the analytics dashboard.

I can only see domain

[2019-12-04 23:48] StevenBlack commented on #1093
Brendan @Brennii96 unfortunately I'm not in a position to debug this for you.

I would just use Tor.

Closing.

[2019-12-04 23:48] #1093 closed

[2019-12-05 11:43] itay-grudev commented on #1096
I didn't knew developers integrated with it directly from within their apps. In that case I understand. Have you then also blocked:

* sentry.io
* newrelic.com

[2019-12-05 12:19] Laicure commented on #1096
Ther have been discussions with sentry and some for newrelic.
sentry.io: #1096, #881, #571, #568, #563, + #785
newrelic.com: #122

[2019-12-05 12:54] ScriptTiger commented on #1096
New Relic seems covered:
[code]

I don't know if it's necessary to block newrelic.com itself, but maybe someone can double-check this.

As for sentry.io, my personal views are that it should be blocked. It seems like the creator of sentry.io personally came here and made a big argument about why it shouldn't be considered ads and that it shouldn't be in a section of the hosts file labeled for ads,

[2019-12-05 15:56] StevenBlack commented on #1096
@ScriptTiger that's inaccurate.  I'm puzzled by your comment since this our base list is about much more than ads.  The Sentry discussion was *never* about ads.

Here is a summary of why Sentry is not blocked, here.

* I am, foremostly, a computer systems analyst, and software developer.  Crash reporting back to source is a vital thing for me, and others.
* At the outset, we blocked several `sentr

[2019-12-05 16:05] StevenBlack commented on #1096
Itay @itay-grudev as I said earlier, I'm open to hearing the case for Rollbar.  I don't know Rollbar.

[2019-12-05 16:38] ScriptTiger commented on #1096
I think we're all on the same page here. Obviously as a blanket statement telemetry and analytics, etc., are definitely blocked, but certain particular products that have been more deeply vetted on a case by case basis to be viewed as safe for the community are allowed. This would be in keeping with the goal of a highly curated list, so I don't see any problems with that. And I can definitely appr

[2019-12-05 20:30] itay-grudev commented on #1096
Both Rollbar & Sentry provide telemetry & analytics services. The corresponding company's reputation does not matter as ultimately the people who read the data are their customers - the owners of the apps that are being tracked.

If your objective is to prevent data from leaking from a specific machine in general - keep blocking Rollbar.

But if you are going to stick with your policy you should a

[2019-12-08 03:45] llacb47 commented on #1080
Hello @ZeroDot1...

[2019-12-08 14:27] afonari commented on #1080
Here: https://gitlab.com/ZeroDot1/CoinBlockerLists/blob/master/hosts_browser#L826

[2019-12-08 17:44] StevenBlack commented on #1080
Alexander @afonari and Pawel @kravietz, I just [opened a specific issue for this](https://gitlab.com/ZeroDot1/CoinBlockerLists/issues/55).  I'm hoping for resolution, very soon.

[2019-12-09 03:02] wavesailor opened #1097 "Domain bidder.rtk.io seems to be serving Ad's"
The domain Domain bidder.rtk.io ends up quite a bit in my logs now. As far as I can see this is a platform for serving Ads.

[2019-12-09 03:23] llacb47 commented on #1097
Here's one site it's on: `https://www.lared.cl/`

[2019-12-10 02:03] puppykickr opened #1098 "Pleas add to hosts"
https://extravagantinwardness.club/?swim=phelps&brand=ZTE&model=Ariel-C&td=track.classicfriend.com&data2=wgcli1osom36dhcrh3aurt9a&cep=0zIxUrlaG5MX9wOtXYMmBuscpNI4kxHRwGsSLFU2zcWBjtDQlLUHCYHQG28RwflQOCndTKFTQG4Rg3AIpQ3WGitMLWas1vsLMDucainaHd4aNz7E5eVZFd3v-IlHeg9Jb09B85BRfuNPbMLXeO4VYv4p1hwXduMbW0ZuOlNBbF1CCfTxhfHypCeHPsovVJlDo3qjLdHXEUaKLRnLkRaegBLJynQhV3TFbp1HVVwbbRdaWSdEWWsEmUwN0V3fO8JByDmop8_pgY

[2019-12-10 14:24] wavesailor commented on #1097
Does making a note of it here mean it will be added to the main blacklists?

[2019-12-10 20:11] ZeroDot1 commented on #1080
OK, I can publish a small update tomorrow to solve the problem.

[2019-12-10 20:19] StevenBlack commented on #1080
@ZeroDot1 yes well we've heard that assurance before.

[2019-12-10 20:23] StevenBlack commented on #1080
Alexandr @afonari Pawel @kravietz the problem is resolved in the [latest release](https://github.com/StevenBlack/hosts/releases/tag/2.5.29).

Closing.

[2019-12-10 20:23] #1080 closed

[2019-12-10 21:02] ZeroDot1 commented on #1080
![Bildschirmfoto vom 2019-12-10 22-01-10](https://user-images.githubusercontent.com/28985171/70568687-49770980-1b90-11ea-9ddc-88943892b0cb.png)

[2019-12-10 22:38] StevenBlack commented on #1097
Hi @wavesailor  – thanks for this input.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

I'll add this one to my ad-hoc domain list before the next release.

[2019-12-10 22:54] filoret256 opened #1099 "aliexpress"
Hi
noticed then going to aliexpress.com its redirect to best.aliexpress.com
and it at main list
![image](https://user-images.githubusercontent.com/287562/70576348-bb177d80-1bb9-11ea-8bef-6e8fe7e88ee9.png)

[2019-12-10 23:02] StevenBlack commented on #1099
Hi @filoret256, this is a problem because... ?

[2019-12-11 04:41] spirillen commented on #1099
Hi @StevenBlack and @filoret256

There are some talking about `aliexpress` on Easylist https://github.com/easylist/easylist/issues?utf8=%E2%9C%93&q=is%3Aissue+aliexpress , but non of them mensions `best.aliexpress.com`

And just tested that site, I don't see the `best.aliexpress.com` anywhere... but what a "pop smart" site :unamused:

<details><summary>Logger output</summary>

| | | | | | | |
|:--

[2019-12-11 05:06] spirillen commented on #1097
That is at least added to https://github.com/BlackJack8/iOSAdblockList/blob/master/Hosts.txt#L587

And it is also confirmed here: https://urlscan.io/domain/bidder.rtk.io that it is used by *BLIIP* like `www.marketrealist.com`, `shark007.net/forum/index.php` etc.

<details><summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/44526987/70592268-7a2f6100-1bd9-11ea-83af-dab

[2019-12-11 05:47] spirillen commented on #968
And this malware will only growth in strength, and the only proper way to stop it, is to do as both @ScriptTiger and @lightswitch05 mentions by working with a good firewall to block the entire Google network by IPv4 & IPv6, sorry to say it guys, but google is actually only all evil. And the world spins best without them so go ahead and block AS15169

[2019-12-11 06:43] spirillen commented on #1096
Hate to break it... but you're missing a few lines there https://gitlab.com/my-privacy-dns/matrix/matrix/issues/1391

[2019-12-11 07:11] spirillen commented on #1078
Hi @ScriptTiger thanks for the heads up on Opera :+1:

But according to your in depth explaining of Opera VPN, the word VPN seems quit off and proxy would be the right word of choice :unamused:

[2019-12-11 09:14] patrickdrd commented on #1099
I whitelisted best.aliexpresss a while ago, I found out that it was necessary for browsing

[2019-12-11 09:33] spirillen commented on #1099
If you can get us closer to when the `best.aliexpress.com` appears it would be easier for other to try reproduce the situation. and from that make a opinion on what to think of it, white/spyware/spam etc.

If you also can provide a full code link it would also be a great thing.

EX:
The `best.aliexpress.com` appears when we are going from start-page to shopping-card after adding one item.

[2019-12-11 10:03] ScriptTiger commented on #1078
You're not the first person to suggest that. However, the Opera browser as a whole is proprietary, although it does contain open-source components, and as such it's important the developers raise revenue from their product. The best way of marketing a product is by using trendy keywords/buzzwords that people are looking for that can be at least somewhat closely related to your product, most of the

[2019-12-11 10:33] spirillen commented on #1078
VPN as secure feeling.... that is for choose not following up to what they are dealing with :unamused: as it have been reveled that most of the VPN's out there actually is tracking you and selling chose date to third parties :rocket:

The [Tor Browser](https://www.torproject.org/) is yet still be best choice for enhanced privacy :rofl: I hate to say it (again) open source rules :smile:

But about

[2019-12-11 10:54] ScriptTiger commented on #1078
Why do you hate to say that?

OPEN SOURCE RULEZ!!!
OPEN SOURCE RULEZ!!!
OPEN SOURCE RULEZ!!!
OPEN SOURCE RULEZ!!!
OPEN SOURCE RULEZ!!!

I am proud to say it, it's just a proven fact.

You mentioned "Chrome/Chromium," I'll also note that Chromium is the open-source basis for Chrome, while Chrome itself is actually not open source and is licensed as freeware. Google also knows the benefits of open s

[2019-12-11 11:05] spirillen commented on #1078
ok ok ok

Parts of the Chrome is kind of "_open source_" on the cost of something (it's American and Google in one) so the Chromium version is actually still doing some tracking as it is the price for using the "open part" and a lot of orther things missing etc., why I mention them as one.

I do not hate to say open source rules, but, aahh well have said it once or twice in this board :dog:

PS: D

[2019-12-11 16:05] filoret256 commented on #1099
@StevenBlack

i often buy something from there
i already whitelisted it, maybe it will be for someone else

maybe it region issue, iam from RU
to reproduce :
just google **aliexpress**
![image](https://user-images.githubusercontent.com/287562/70637577-830b4b80-1c48-11ea-9908-903a78801a55.png)

then it redirect to
![image](https://user-images.githubusercontent.com/287562/70637648-9fa78380-1c48-11ea

[2019-12-11 18:24] StevenBlack commented on #1099
Thank you for the clarification, @filoret256.

The `best.aliexpress.com` domain comes to us via Dan Pollock at [someonewhocares.org](https://someonewhocares.org/).  Dan is normally very responsive.  You can reach Dan at hosts@someonewhocares.org.  Explain this to him, and he'll take care of it.

[2019-12-11 18:37] StevenBlack commented on #1097
Done!  Thanks @wavesailor and @spirillen.  Closing.

[2019-12-11 18:37] #1097 closed

[2019-12-11 23:09] spirillen commented on #1099
Just to do a little follow up on the new info and thanks for them @filoret256 :smiley:

As Google is all blocked here and I therefor use duckduckgo.com this results might differ from others, so please do contribute, to let us get closer to the truth :wave:

I entered [DDG](https://duckduckgo.com/?q=aliexpress&t=canonical&ia=web) sets region to Russia and searched AliExpress, when i click on the `r

[2019-12-12 01:37] dnmTX commented on #1099
@filoret256  here is a [Reddit Discussion about it](https://www.reddit.com/r/Aliexpress/comments/c3z9ny/help_i_may_have_been_scammed_by_a_fake_aliexpress/) and also a [Good Article](https://www.fixyourbrowser.com/removal-instructions/best-aliexpress-com/)
....even found one from [Mатушка Россия](https://toster.ru/q/567642)
If this is not enough to convince you that the mentioned domain is maliciou

[2019-12-12 04:55] rjhancock opened #1100 "Interesting Google Ad not being blocked."
Found a page that seems like Google is bypassing the Little Snitch rules based on these hosts.

From what I can tell, there is javascript SOMEWHERE that seems to be creating a proxy then sending all requests through it vs using system host or being blocked by Little Snitch.

https://ww.9to5mac.com/2019/12/11/apple-dmca-iphone-encryption-tweet/

[2019-12-12 06:26] spirillen commented on #1099
Hi @dnmTX thanks for the heads up and especially the link to https://www.fixyourbrowser.com/removal-instructions/best-aliexpress-com/ that explains the why you might dislike the `best.aliexpress.com`

And to make a quote or teaser from above link by Daniel on why it might me blocked:

God finds Daniel :ok_hand:

[2019-12-12 07:54] AnonymousPoster commented on #1096
To throw a 2cent, then I believe @ScriptTiger defines the reason to keep blocking the rollbar pretty good in his [comment](https://github.com/StevenBlack/hosts/issues/1096#issuecomment-561440589):

As this is in fact true, and properly widely used, as if it's possible to turn anything into a monetizing weapon... it will be done

[2019-12-12 08:19] AnonymousPoster commented on #1099
@dnmTX have found this [post](https://www.fixyourbrowser.com/removal-instructions/best-aliexpress-com/) about `best.aliexpress.com` and why it should be commit to the RPZ zone files among the others.

As it is primarily used by "Adware publishers" like Google (See https://github.com/StevenBlack/hosts/issues/1099#issuecomment-564613305) and other Malicious AdWare and SpyWare programs like Chinese [

[2019-12-12 08:20] AnonymousPoster commented on #1099
@dnmTX have found this [post](https://www.fixyourbrowser.com/removal-instructions/best-aliexpress-com/) about `best.aliexpress.com` and why it should stay in the hosts files among the others.

As it is primarily used by "Adware publishers" like Google (See https://github.com/StevenBlack/hosts/issues/1099#issuecomment-564613305) and other ~Malicious ~AdWare and ~Spying programs like Chinese [360 To

[2019-12-12 12:26] llacb47 commented on #1100
The same technology is being used on `https://www-1.kansas.com/`. It proxies every request through the first-party server. The technology is apparently called Apomaya Adgain `https://apomaya.com/resources/data-sheets/AdGain.pdf` and is pending a patent `https://patents.google.com/patent/US20180189824A1/en`.

[2019-12-12 13:46] rjhancock commented on #1100
Interesting. Just reported that to Apple as a work around for ITP for the 3rd Party -> 1st Party redirection.

Not sure there is a way to block this from a hosts file but might be able to via a browser extension blocking the `data-aproxy-src` element but that would probably also disable the site.

[2019-12-12 13:54] llacb47 commented on #1100
uBlock Origin fixes it via a scriptlet on `kansas.com`. I haven't reported `9to5mac.com` yet.

[2019-12-12 16:14] spirillen commented on #1100
That is actually scary reading you provide there @llacb47 :fearful: But thanks for sharing these concerns about our privacy in the future, and it will be a good question on how we in the future would find those transparent proxies to be able to block them on other than browsers by ex: the `data-aproxy-src` @rjhancock mentions.

[2019-12-12 16:44] StevenBlack commented on #1096
Itay @itay-grudev when I need to enable a blocked domain, I use [hostile](https://github.com/feross/hostile) from the terminal.  It's quick and easy.  This spares the whole whitelist and local build and deploy, which is much more hassle.

[2019-12-12 16:45] StevenBlack commented on #1096
Closing.

[2019-12-12 16:45] #1096 closed

[2019-12-12 21:40] c0defre4k opened #1101 "Whitelist OneDrive for Business / Office 365 domains"
These URLs need to be whitelistet as blocking them causes problems when connecting to OneDrive for Business. I have looked up the source of them and found them in "Steven Black's ad-hoc list". So I guess this is the right location for this issue?

* settings-win.data.microsoft.com
* v10.events.data.microsoft.com

According to these Links `settings-win.data.microsoft.com` is not used for telemetry

[2019-12-12 21:47] llacb47 commented on #1101
I use organizational Office 365 and have no problems.

[2019-12-12 21:54] spirillen commented on #1101
According to the German [BSI](https://www.bsi.bund.de/) (Bundesamt für Sicherheit in der Informationstechnik) both domains are used for tracking

`v10.events.data.microsoft.com`
`settings-win.data.microsoft.com`

Source: http://wiki.mypdns.org/wiki/Domain/microsoft.com/Telemetry

[2019-12-12 21:59] spirillen commented on #1101
`settings-win.data.microsoft.com` | Enables the compatibility update to send data to Microsoft.
`v10.events.data.microsoft.com` | Connected User Experience and Diagnostic component endpoint for use with Windows 10

Source: https://docs.microsoft.com/en-us/windows/deployment/update/windows-analytics-get-started#enable-data-sharing

[2019-12-12 22:13] c0defre4k commented on #1101
First of all thanks for your fast response!

Its interesting what microsoft understands under "dynamically updating its configuration". So I guess its OK to have these domains in that list. I'm going to manually whitelist them then.

I'm also not using an official client. My NAS maps that folder via WebDAV. And as microsoft doesn't offer some standard authentication everyone can use I have to use

[2019-12-12 22:13] #1101 closed

[2019-12-13 01:02] dnmTX commented on #1099
@AnonymousPoster  we're all open for suggestions here....preferable one that make sense.

[2019-12-13 09:58] Minteck opened #1102 "Social network suggestion"
Hello,
I just want to suggest a social network: PinPages.

It's URL is https://pinpages.alwaysdata.net and should be added to the "social" block list.

Thanks.

[2019-12-13 16:38] StevenBlack commented on #1102
Thanks @Minteck.  Ping @Sinfonietta.

[2019-12-14 13:33] filoret256 commented on #1099
Thx for answers
It helps , added in browser autoclean cookies for aliexpress and problem with redirection solved

[2019-12-14 14:18] #1099 closed

[2019-12-15 02:17] Sinfonietta commented on #1102
Hi @StevenBlack this is added in commit 4d2ff204fa1afe51e0b96f22dab3a4111c3b4ee7.

[2019-12-15 05:01] StevenBlack commented on #1102
Closing.

[2019-12-15 05:01] #1102 closed

[2019-12-16 11:54] LordLingham opened #1103 "tags.tiqcdn.com is blocked, but is not strictly "advertisement" related"
tags.tiqcdn.com is blocked which prevents Tealium's utag.js file from loading on webpages.

Tealium is only a "Tag Manager", which means while utag.js facilitates the loading of other tags / advertisements / tracking scripts, the files themselves loaded from this domain are not strictly tracking the users.

Some websites which use utag.js rely on adding additional scripts to the page to provide ot

[2019-12-16 15:13] spirillen commented on #1103
As you clearly (to me) write it yourself

If blocking of this breaks your site, they are clearly miss-written and needs a heavy rewrite of the code.

Blocking badware that breaks a site is not something I can see is our problem; It yours, as your intention clearly is to violate the freedom of the internet. By which it was developed in 1988.

That's my opinion, beside of that, you would have to tak

[2019-12-16 15:36] StevenBlack commented on #1103
@spirillen please be nice to the visitors, here.  Thank you.

[2019-12-16 15:41] StevenBlack commented on #1103
James @LordLingham the `tags.tiqcdn.com` domain comes to us via [mvps.org](http://winhelp2002.mvps.org/) who run a very good operation.  You will need to make your case with there.

Therefore please take this issue to them at winhelp2002@gmail.com.  They'll do the right thing.

[2019-12-16 15:54] LordLingham commented on #1103
Hi @StevenBlack Thanks for the response.

I had a report of issues with pihole, a quick look suggested this was one of the lists used by default with pihole, and as far as I can tell, the only list in the default for pihole which contained this domain.

If this is commented out by default, It feels safe to assume the user has uncommented this / added the domain in manually, implying they DO want t

[2019-12-16 15:54] #1103 closed

[2019-12-17 07:48] dynamicfire opened #1104 "Why CoinBlockerList is removed?"
It seems like CoinBlockerList got removed, what happened?

[2019-12-17 08:22] spirillen commented on #1103
Hi @LordLingham as you right your self

=> And therefor will be and does.

How should a endures be able to now when it's running as evil as possible or not?

That's what tricked my first response and why it is blocked.

So in case your issue is about you are using this "evil" code on one of your sites my personal recommendation is to replace it with a non evil code.

[2019-12-17 08:32] spirillen commented on #1104
Again??

But it is related to this issue unfortunately

https://gitlab.com/ZeroDot1/CoinBlockerLists/issues/55

Maybe I should see if I can give a :hand:

[2019-12-17 08:40] dynamicfire commented on #1104
Thanks!

[2019-12-17 09:02] spirillen commented on #1104
Hi @dynamicfire or @StevenBlack  Could you one of you please re-open this issue until further notice for communication to the above ref subject?

[2019-12-17 09:18] spirillen commented on #1080
Hi @StevenBlack I think you should re-open this issue as you reference to it in the https://gitlab.com/ZeroDot1/CoinBlockerLists/issues/55 as it's still unresolved... Just my 1 cent

[2019-12-17 09:32] funilrys commented on #1104
@spirillen, Look at the [GitLab issue](https://gitlab.com/ZeroDot1/CoinBlockerLists/issues/55). The CoinBlockerList was removed by Steve @StevenBlack  as a solution to #1080.

To be more precise, [the following answer](https://gitlab.com/ZeroDot1/CoinBlockerLists/issues/55#note_258376860) from the maintainer "invited" Steve to remove it:

I suppose that the trigger was "in the next update". Steve

[2019-12-17 09:34] buzzdeee commented on #523
https://ransomwaretracker.abuse.ch/downloads/RW_DOMBL.txt
# Ransomware Tracker has been discontinued on Dec 8th, 2019

that list seems to be gone

[2019-12-17 09:50] buzzdeee opened #1105 "Add OSX/Shlayer CnC domains to the malware domains"
The list below lists domains, that are mostly still active for the OSX/Shlayer trojan landing and CnC domains:
https://github.com/carbonblack/tau-tools/blob/master/threat_hunting/IOCs/shlayer/domain-iocs.txt

read more about it here:
https://www.carbonblack.com/2019/02/12/tau-threat-intelligence-notification-new-macos-malware-variant-of-shlayer-osx-discovered/

[2019-12-17 09:52] spirillen commented on #1104
:thought_balloon:  _**Thought**_ :thought_balloon:

I this case where the fact is @ZeroDot1 is troubled with his sad ass ISP wouldn't it have been more "_fair_" to temporary add he troubled domain `lib.rus.ec` to the whitelist and keep the [CoinBlockerLists](https://gitlab.com/ZeroDot1/CoinBlockerLists) extension in the data/ ?

The why :question: : All these projects is opensource an voluntary ti

[2019-12-17 10:04] spirillen commented on #523
WHAT??

danmed, back to the code :unamused:

[2019-12-17 10:39] spirillen commented on #1105
There is just one trouble.... it seems like a stalled submission like a "one off" and it haven't been updated since Feb. 12 2019

But i'll throw it through the PyFunceble and VirusTotal, then wee see what happens

[2019-12-17 11:19] spirillen commented on #1105
This is the list I reached, before VirusTotal was trying to load the [google Spyware](https://www.virustotal.com/gui/captcha) in my browser

<details><summary>Logger output</summary>

| | | | | | | |
|:--- |:--- |:--- |:--- |:--- |:--- |:--- |
| +3 | \|\|google.com^*recaptcha/$important | -- | `www.virustotal.com` | 3 | script | `https://www.google.com/recaptcha/api.js?onload=onloadGrecaptchaCallb

[2019-12-17 15:30] buzzdeee commented on #1105
I'll see to continue testing the rest of the list later and report back

[2019-12-17 18:03] StevenBlack commented on #1104
@spirillen CoinBlockerList is removed because its curation has been sloppy and, when clear errors have been  identified and reported, too slow to respond.  Moreover I've seen ample evidence there is little quality control on its pipeline.

I set the bar, here.  CoinBlockerList does not meet my expectations.  It's been a recurring source of problems.  We're done with that source.

@spirillen, c'mon

[2019-12-17 18:03] #1104 closed

[2019-12-17 18:17] StevenBlack commented on #523
As for the remaining source, https://openphish.com/feed.txt, that's not a hosts file, so we would need a pre-process transformation for that.  Other issues here imply transformations, too...

[2019-12-17 18:17] LordLingham commented on #1103
@spirillen

As mentioned utag.js acts as a "middle man" and does not host any of the "evil" scripts, but instead "loads" them from the same destination you would expect.

Google analytics or a Facebook pixel loading from Utag will still be loading from the same address as if they were not loaded through utag, which would almost certainly mean they are already blocked.

In this instance blocking ut

[2019-12-17 19:48] buzzdeee commented on #1105
Test results of remaining URLs, all the green ones have # sign in front of it,
the others have at least one detection,  sometimes
there were more engines detection malware and/or phishing.

`api.initiatormaster.com         https://www.virustotal.com/gui/url/73e61c450b8ac6dcbf438a808e174d4d1a33436b52ea80e621fed848297d9aa8/detection
api.initiatormode.com           https://www.virustotal.com/gui/url/

[2019-12-17 21:47] StevenBlack commented on #1105
Thanks @buzzdeee I edited the above ^^^ for readability.

So if I understand correctly, the uncommented ones above are blockable?  It's unclear what it means when you say "*all the green ones have # sign in front of it.*", above.

[2019-12-17 21:52] StevenBlack commented on #1103
James @LordLingham, by that logic, adware and malware purveyors would use a proxy, which cloaks their origin, and somehow this is ok?  How is that ok?  How is this acceptable?

Greenwashing sources, being a "middleman" as you say, is not OK.

This isn't going to change.

[2019-12-17 22:10] Sumwunn opened #1106 "Windows 10 specific in-app Ad/Telemetry domains"
Hello,

I've noticed three domains that popped on my Pi when I was mucking about with Windows 10 apps.

The first two are related to ads, and the third I'm guessing to be background in-app telemetry.
Blocking all three successfully blocked ads and did not appear to affect the apps I was using adversely in any way.

It looks like adduplex is specific and that there may be "s5, s7," though I've only

[2019-12-17 23:13] spirillen commented on #1106
Hi @Sumwunn thanks for sharing the information of your findings.

For your question about whether this is to be posted at @FadeMind list, I'll say post it everywhere you can find it as a good place. As broader it gets out, wider it is blocked.

I'm thankful for you sharing it, and as you can see I have blocked the 2 of 3 on domain level and the `adduplex.com` is blocked as wildcard. Not that I und

[2019-12-17 23:22] spirillen commented on #1103
Second this by all my hard :santa:

Obfuscating potentially evil trackers/spyware whatever you would call it though a third party script, is not OK, and actually only to become a even bigger issue with the release of [APOMAYA AdGain](https://gitlab.com/my-privacy-dns/matrix/matrix/issues/1444), which will challenge many spyware/tracking fighter for the time to come by hours and hours of free work.

[2019-12-17 23:31] spirillen commented on #1105
I'll pick this thread up in the morning. It's rather late here now (ETC), but thanks a lot for the contribution @buzzdeee

[2019-12-17 23:36] spirillen commented on #523
That's simple

[code]

If you like I can add it to my https://gitlab.com/my-privacy-dns/external-sources/hosts-sources but that would be without the prefixed IP

If requested it can then be added to the https://gitlab.com/my-privacy-dns/rpz-dns-firewall-tools/hosts

@StevenBlack just say the word and it will be alive

[2019-12-17 23:46] LordLingham commented on #1103
@StevenBlack @spirillen
Thanks for both of your inputs on this.

I 100% agree with you guys here about being against trying to "greenwash" things and try and sneak past things past blockers like this. If utag.js was doing things like this, I wouldn't be advocating it's removal from a black list like this.

I'm worried that based off these replies. I either haven't been clear about what utag.js doe

[2019-12-18 00:28] StevenBlack commented on #523
@spirillen yeah but what I mean is, we need an in-framework pipeline for that.

[2019-12-18 00:28] StevenBlack commented on #523
Note to self: 1816 unique domains.

[2019-12-18 00:29] llacb47 commented on #523
By the way, it's a feed, so the URLs are updated every 12 hours. `https://openphish.com/phishing_feeds.html`

[2019-12-18 07:51] buzzdeee commented on #1105
The "green" ones are the ones where none of the engines detected anything. For the rest, at least one engine detected this as malware or phishing.

[2019-12-18 10:05] FadeMind commented on #1106
@Sumwunn  @StevenBlack  Better place for this is https://github.com/crazy-max/WindowsSpyBlocker/issues

@crazy-max could you lookin at?? Thanks

[2019-12-18 10:41] spirillen commented on #523
[code]

[2019-12-18 15:12] rjhancock commented on #1100
I have noticed that disabling JavaScript on the site does prevent the proxy from working, but that is not a good long term solution.

I may have to look at the URL calls via Chrome to get a better idea what is going on. I'm fairly certain Apple will block it natively in Safari at some point but that doesn't solve the issue for others.

[2019-12-18 18:14] braian87b opened #1107 "Please take a look at https://lab.deep.bg/hosts.txt"
I found that hosts file, maybe it has some useful listings like facebook or so.
https://lab.deep.bg/hosts.txt

[2019-12-18 19:14] thalessa opened #1108 "Why is cliqz blocked? They're a privacy focused webbrowser with ties to mozilla"
the company: https://0x65.dev

the browser (blocked): https://cliqz.com/

Mozilla Firefox used to ship with cliqz plugins: https://en.wikipedia.org/wiki/Cliqz

Have they turned bad?

[2019-12-19 01:21] StevenBlack commented on #1108
Hi @thalessa all `cliqz.com` domains come to us via [Badd-Boyz-Hosts](https://github.com/mitchellkrogza/Badd-Boyz-Hosts/issues).  Can you raise this issue there?  Thanks.

Ping Mitchell @mitchellkrogza!

[2019-12-19 01:31] StevenBlack commented on #1107
Hi Brain @braian87b thanks for this.

Do you have any information on this outfit?  The domain default document serves something that looks parked.  Is there any cred here?

Another curious thing.  We've gone years and I don't think we've ever seen an `autodesk.com` domain listed here.  But of the 404 domains in this file, over 100 of them are for subdomains of `autodesk.com`.

So, it's weird?  Wha

[2019-12-19 12:35] yspmedia commented on #1107
the "x.gtld-servers.net" are the authoritative servers for the "com" top level domain, so they have all the "pointers" for the .com domains. You can see the nameservers for the TLD by running

[code]

[code]

It not even close to cleaver or intelligent to block the com. root servers..... But if you love FP's and blocking the entire com. domain, go ahead

[2019-12-19 14:12] StevenBlack commented on #1107
Thanks @yspmedia.  Eyeballing the file, I missed that.

Closing.

[2019-12-19 14:12] #1107 closed

[2019-12-19 15:16] braian87b opened #1109 "listed / commented conflicts"
Hi, I just seeing the merged file:
https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
if you find (ctrl+f)
`googletagservices`

there is found these lines:

[code]
So... how we should deal with these?, I suggest to add to the script a search to `interferes` comment and those domain remove them from the file.

**What do you think?**

Same for these...
[code]
for googleanalytics and an

[2019-12-19 17:53] rjhancock commented on #1107
Also look at the header. It's a hosts file to hold a company hostage.

"No Pay[in] No gain"

[2019-12-19 18:45] StevenBlack commented on #1109
Hi Braian @braian87b, grepping this we see a broad consensus about this.  Several sources agree, block this.

[code]

[2019-12-19 18:54] braian87b commented on #1107
Sorry I didn't see it well, I just was searching for facebook/fbcdn.net domains hosts file and that file appeared.

[2019-12-19 18:56] braian87b commented on #1109
Interesting way to evaluate it, by concensus...
Do you have it at hand necessary commands for grep multiple sources at a time for evaluating like that?

It will be handy to me.

[2019-12-19 18:58] StevenBlack commented on #1109
@braian87b  I use [ack](https://beyondgrep.com/install/) on the repo root.

[2019-12-19 20:34] spirillen commented on #1109
My good how hard is it ???

`grep -Ri 'domain\.tld' path/to/search`

in this case `grep -Ri 'googletagservices.com' data/`

[2019-12-19 20:36] StevenBlack commented on #1109
@spirillen consider this is an official warning: you will be nice to visitors here, or YOU will not be here.

[2019-12-19 20:39] braian87b commented on #1109
Sorry, I forget about grep -Ri I actually used several times months ago.
Thanks.

[2019-12-19 20:39] spirillen commented on #1109
Why not just answer the users straight up?

@braian87b asked straight up

That what I answered him. But you obviously have a huge issue about other, and you are close to be reported for harassment @StevenBlack

[2019-12-19 21:17] braian87b commented on #1109
Relax both of you, no problem at all, I am accustomed to several kind of responses like the ones that Linus Torvals usually use, this is nothing in comparision.

[2019-12-19 21:27] StevenBlack commented on #1109
Notes:
* The first notification was [here](https://github.com/StevenBlack/hosts/issues/1103#issuecomment-566112829)
* Official warning is [here above](https://github.com/StevenBlack/hosts/issues/1109#issuecomment-567653161).
* December 19, 2019 4:20 PM blocked.

[2019-12-20 11:34] konark-cliqz commented on #1108
Hi,

My name is Konark and I work with Cliqz.

We've added some details on an issue already opened about this on Badd-Boyz-Hosts.

You can find more details:
https://github.com/mitchellkrogza/Badd-Boyz-Hosts/issues/34#issuecomment-567894266

[2019-12-20 19:51] yspmedia commented on #1109
So the one providing the actual [answer](https://github.com/StevenBlack/hosts/issues/1109#issuecomment-567652521) to the [question](https://github.com/StevenBlack/hosts/issues/1109#issuecomment-567617543), is the one who is getting blocked??

[2019-12-20 21:35] #1109 closed

[2019-12-21 02:13] davidsierradz opened #1110 "Some entries are invalid according to systemd-resolved"
Hi

[code]

[2019-12-21 04:10] StevenBlack commented on #1110
Thanks for this David @davidsierradz.

Here's how this breaks down by source:

mvps.org
[code]

@fademind (KADhosts):
[code]

@Clefspeare13:
[code]

@Sinfonietta:
[code]

[2019-12-21 07:21] FadeMind commented on #1110
@hawkeye116477
@krystian3w

[2019-12-21 09:33] hawkeye116477 commented on #1110
This is correct URL, it redirects to fake shop.

[2019-12-21 11:37] funilrys commented on #1110
Hey Steve, this is a false-positive issue.

Indeed, to quote the [service issue](https://github.com/systemd/systemd/issues/11500#issuecomment-455815146):

But, as you know, between RFC and reality there is a huge difference. And [the linked link](http://domainkeys.sourceforge.net/underscore.html) explains it:

This is a reality, if you follow the RFC, it should not be allowed, but it's commonly se

[2019-12-21 15:05] krystian3w commented on #1110
https://stackoverflow.com/questions/2180465/can-domain-name-subdomains-have-an-underscore-in-it

[2019-12-21 16:13] funilrys commented on #1108
Hey Steve @StevenBlack,

Please close. As I personally fixed this. Please report to the following:

* **My** Statement: https://github.com/mitchellkrogza/Badd-Boyz-Hosts/issues/34#issuecomment-568187665
* Addition to whitelist list: https://github.com/mitchellkrogza/Badd-Boyz-Hosts/commit/005fb4fb0288af0a4e284b6bd7beff81df93fb0f
* Deletion confirmation: https://github.com/mitchellkrogza/Badd-Boyz-

[2019-12-21 16:15] StevenBlack commented on #1108
Awesome.  Thanks Nissar.

[2019-12-21 16:15] #1108 closed

[2019-12-21 18:24] StevenBlack commented on #1110
Thanks everybody.  Closing.

[2019-12-21 18:24] #1110 closed

[2019-12-23 23:16] rjhancock commented on #739
An update on LittleSnitch, it's updated every week like clockwork adding/removing domains as the lists change.

And thanks for pointing me towards Lockdown @mickaphd. I copied the repo onto my GitLab instance and started going through their code and trimming the fat (removing the iAP, Excessive logging, VPN, etc). Thus far it's looking like I'll have a working version of mine by end of week using

[2019-12-26 00:00] Strykar opened #1111 "Feature request"
Apologies if this has been discussed before, I looked at over a dozen related issues before opening this.

Any chance you could add an option/switch to `updateHostsFile.py `so that just the list hostnames (no localhost/ip6/else) are listed? This is useful for BSD `pf` tables that will do name resolution itself we simply block all the IPs (in that table) the names resolve to.

[2019-12-26 04:41] StevenBlack commented on #1111
Hi Avinash @Strykar I've been thinking of this recently.

In addition to this, I was also thinking of an optional custom sort order, so domains cluster together, by domain, then tld, then first level subdomain, then second level subdomain...something like this:

[code]

This means removing comments, too.

[2019-12-26 06:22] Strykar commented on #1111
Absolutely, yes, thank you Steven!
However, do we need to block _a.a.com_ if we're blocking _a.com_?
Are there instances where blocking _a.com_ makes sense but not _a.a.com_?

[2019-12-26 07:30] StevenBlack commented on #1111
Domains and sub domains are distinct, in hosts files.  So we need to block them explicitly.  There are no wild-card mechanisms in hosts files.  I wish there was.

[2019-12-27 11:02] mehov opened #1112 "Is there a preferred way to suggest missing hosts?"
I noticed one of the tracking companies started using a different domain than they did before. It is not on your list right now.

Is there a preferred way to suggest that host for inclusion, or should I just make a pull request? If so - are there any requirements (e.g. specific branch, comments, etc.)?

Checked [the wiki](https://github.com/StevenBlack/hosts/wiki) and [the existing issues](https:/

[2019-12-28 18:32] StevenBlack commented on #1112
Hi Alex @mehov, we're mostly an aggregator of [existing lists](https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant) so, ideally, the submission should be made with one of these providers.

However it's also OK to fork this repo, add the domain(s) to [my ad-hoc list](https://github.com/StevenBlack/hosts/blob/master/data/StevenBlack/hosts) which is in the [StevenBlack]

[2019-12-29 22:40] beerisgood opened #1113 "distinguish "vortex-win.data.microsoft.com""
While _v10c.vortex-win.data.microsoft.com_ is for Diagnostics data Telemetry, the domain _de.vortex-win.data.microsoft.com_ is for **Microsoft Defender Advanced Threat Protection** - while the prefix (in this case ".de") is country specific.

So please remove

- vortex-win.data.microsoft.com

from your list.

Source: https://docs.microsoft.com/en-us/windows/privacy/configure-windows-diagnostic-dat

[2019-12-29 22:50] beerisgood opened #1114 "settings-win.data.microsoft.com"
**settings-win.data.microsoft.com** is needed for Microsoft Defender Advanced Threat Protection.

So please unblock it.
Source: https://docs.microsoft.com/en-us/windows/privacy/configure-windows-diagnostic-data-in-your-organization#endpoints

[2019-12-29 22:55] StevenBlack commented on #1114
Hi @beerisgood the `settings-win.data.microsoft.com` domain comes to us via someonewhocares.org.  You can reach them at hosts@someonewhocares.org and make your case there.

Closing.

[2019-12-29 22:55] #1114 closed

[2019-12-29 22:58] StevenBlack commented on #1113
Hi @beerisgood again, the `vortex-win.data.microsoft.com` domain comes to us via someonewhocares.org.  You can reach them at hosts@someonewhocares.org and make your case there.

Closing.

[2019-12-29 22:58] #1113 closed

[2019-12-29 23:02] beerisgood commented on #1114
Done. Let's see what the author say

[2019-12-29 23:02] beerisgood commented on #1113
Done. Let's see what the author say

[2020-01-01 10:57] beerisgood commented on #1113
The author fix it!

[2020-01-01 10:57] beerisgood commented on #1114
The author fix it!

[2020-01-02 00:11] StevenBlack commented on #1114
Thanks @beerisgood!  Beer IS good.

[2020-01-02 00:16] StevenBlack commented on #1113
@beerisgood [release 2.5.37](https://github.com/StevenBlack/hosts/releases/tag/2.5.37), online now, incorporates these changes.

Thank you for your effort on this.

[2020-01-03 14:13] ScriptTiger commented on #1111
I totally missed this issue due to the holidays. @Strykar, check these lists out and see if that's what you're thinking of:

https://scripttiger.github.io/alts/

[2020-01-05 17:36] nekudah opened #1115 "Can't block youtube ?"
Is it possible to block youtube using hosts ? I tried several ways youtube.com stills open, thanks !

[2020-01-05 18:07] StevenBlack commented on #1115
Hi @nekudah there is nothing special about youtube.

I'm guessing you might need to block `www.youtube.com` too.

Be sure to clear your system DNS cache, and your browser cache.  See this repo's readme for some info on that.

Closing.

[2020-01-05 18:07] #1115 closed

[2020-01-05 22:09] mikko70 opened #1116 "hosts/alternates/fakenews-gambling"
Please add:
mrjackpotspins.com, .cashstormslots.com, pikakasino.com, kalevalakasino.com, simppeli.com, wildz.com, kassu.com, campaign.rizk.com, fi.casiplay.com, in.casinoeuro.com, pelaa.com, fastbet.com, casinogods.com. kirsikka.com, slottyvegas.com, fortunelegends.com, promotions.betsafe.com, casinowinner.com, turbico.com, suomikasino.com, templenile.com, stakes.com, jackpotvillage.com, prontocas

[2020-01-05 22:13] mikko70 commented on #1116
All are Gambling sites.

[2020-01-05 22:27] llacb47 commented on #1116
@sinfoetta

[2020-01-07 03:10] DavidCWGA opened #1117 "Samsung non-removable spyware"
Details: https://www.reddit.com/r/Android/comments/ektg8u/chinese_spyware_preinstalled_on_all_samsung/

List of hosts:

[code]

[2020-01-07 03:23] StevenBlack commented on #1117
David @DavidCWGA thank you.  This is good!

[2020-01-07 05:04] StevenBlack commented on #1117
Done!  Closing!

[2020-01-07 05:04] #1117 closed

[2020-01-07 05:05] StevenBlack commented on #1116
Thank you @mikko70, this is live and online now in [the latest release](https://github.com/StevenBlack/hosts/releases/tag/2.5.39).

Closing.

[2020-01-07 05:05] #1116 closed

[2020-01-07 15:23] maruashok opened #1118 "Problem With WhatsApp"
Please remove *whatsapp.com relates hosts from default block list (Unified hosts = (adware + malware)), because it causes problem with download and upload media.

[2020-01-07 16:27] StevenBlack commented on #1118
Hi Ashok @maruashok  – thanks for this input.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

The domain `downloads-whatsapp.com` comes to us via  malwaredomainlist.com whom you can contact [here](https://www.malwaredomainlist.com/contact.php), and also via @fademind who curates the `add.Ri

[2020-01-07 16:27] #1118 closed

[2020-01-09 07:44] XhmikosR commented on #1117
@StevenBlack are you sure about this addition? Won't this prevent the Device Cleaner from updating its definitions?

[2020-01-09 15:49] StevenBlack commented on #1117
Hi @XhmikosR I can't evaluate what you are saying.  Maybe you Presume I know what "Device Cleaner" means?  I don't know what you mean when you say, "Device Cleaner".

[2020-01-09 15:52] Laicure commented on #1117
Hi @StevenBlack, the *Device Cleaner* is the one installed on Samsung devices that connects through those listed domains.
It's a system app with lots of default permission requests and resides inside the Settings menu of the phones. (according to the reddit link above)

[2020-01-09 15:55] XhmikosR commented on #1117
Don't get me wrong, I'm all for blocking stuff. I'm just trying to figure out if there's a definitive answer as to what those packets contain. Because blocking these domains will make the Device Cleaner not be able to update, right?

[2020-01-09 15:57] StevenBlack commented on #1117
Thank you Laicurè @Laicure.

I suppose we'll need a Samsung device owner to check.

I'd also like to know, why would anyone need *Device Cleaner*?  In the MacOS space, and the Windows Space too (usually), that sort of thing is scam.

[2020-01-09 15:58] XhmikosR commented on #1117
Well, that's not for us to decide :)

All I wanted to say is that unless someone analyzes the packets sent, we can't just assume it's bad. Although I'd rather err on the safe side, I don't think we should break this feature unless it's confirmed.

[2020-01-09 16:00] StevenBlack commented on #1117
@XhmikosR I understand what you're saying.  I'm prone to agree, except I'm more prone to distrust .cn domains that appear unrelated to the corporations we're discussing.  Like Samsung, for example.

[2020-01-09 23:11] alsyundawy opened #1119 "Support Android Flash From TWRP"
can you make this? like title

[2020-01-09 23:25] AnonymousPoster commented on #1117
360 Total Security is AdWare, MalWare and SpyWare software disguised as anti-virus

Once it first installed it puts ads everywhere, collect a hole bunch of data about you etc. etc.

You can read a bit more at these links if you like
- http://wiki.mypdns.org/ticket/63
- https://github.com/mypdns/matrix/issues/3

[2020-01-09 23:59] StevenBlack commented on #1119
Hi Harry @alsyundawy do you have technical details for this request?  Specifically, which domains?

[2020-01-10 06:40] githubber101 commented on #1119
I think @alsyundawy is talking about a flashable file through recovery. But why though, when adaway and many solutions exist?

[2020-01-11 00:38] AnonymousPoster commented on #1119
@githubber101 adaway is adware and spyware :+1:

[2020-01-12 09:19] FatnLazy opened #1124 "malware Domain list seems to be down"
Hi Team,

it seems like Malware Domain List is down, is there some kind of technical maintenance?

[2020-01-12 16:13] StevenBlack commented on #1124
It's still down.

[2020-01-12 19:51] Laicure commented on #1124
down and.. out-dated?
Are they still updating the list?
Last timestamp (afair) was Feb 2018?

[2020-01-12 20:46] StevenBlack commented on #1124
I think you're right Laicurè @Laicure.

[2020-01-13 05:20] durablenapkin commented on #1124
Relates to #1044

[2020-01-13 05:22] durablenapkin commented on #1044
Just to follow up on this, AdAway merged jawz101/MobileAdTrackers yesterday! :) https://github.com/AdAway/adaway.github.io/pull/13

[2020-01-13 19:39] DyslexicAtheist commented on #968
I got recently bitten by this and managed to install a canary domain with dnsmasq, just add `address=/use-application-dns.net/` in your `/etc/dnsmasq.con`

Since some time I wanted a way to filter any IDN/punicode DNS requests so I built a tool which does just that: https://github.com/DyslexicAtheist/nfq/ You can blanket ban on all punicode requests (e.g. anything matching `xn--`), and also allows

[2020-01-14 00:08] StevenBlack commented on #1044
So here are some stats.

* The last version of malwaredomainlist contains 1,105 domains.
* Of those, 246 domains are found within other curated sources in our default list — 22% of malwaredomainlist is covered.
* Therefore malwaredomainlist brings **859 unique domains** to our present list.

[2020-01-14 12:39] FatnLazy commented on #1124
they web is up and running again

[2020-01-14 12:39] #1124 closed

[2020-01-15 04:16] williamli opened #1125 "Commit 4fa04707 killed AdGuard Pro's VPN connectivity"
@StevenBlack Your list works fine till around Jan 14th's update.
Currently (after Jan 15th's update), it made AdGuard Pro's VPN connection (on iOS) to never successfully connect (works fine previously).

The list URL is https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts

[2020-01-15 04:19] StevenBlack commented on #1125
Hi William @williamli  I don't use AdGuard so you'll have to help me out.  Which domain is causing an issue here?

[2020-01-15 04:20] williamli commented on #1125
@StevenBlack AdGuard Pro's on-device DNS VPN gave up after a recent list update.

I can try to feed it various recent list updates to see at which version it killed the VPN.

[2020-01-15 04:31] williamli commented on #1125
## Tested using as AdGuard Pro's DNS Filters

✅ https://raw.githubusercontent.com/StevenBlack/hosts/78e2c456dbafb402ced5b100be08e89538f61c5a/hosts

✅ https://raw.githubusercontent.com/StevenBlack/hosts/7460a11664e376fd73f53d9725e3a87abb30cb23/hosts

❌ https://raw.githubusercontent.com/StevenBlack/hosts/4fa04707f2a73682ae22a580a5463cad4ecd6c98/hosts

## Conclusion

@StevenBlack AdGuard Pro uses the

[2020-01-15 04:38] StevenBlack commented on #1125
William @williamli hmmm... that commit contains a very large update by [adAway](https://adaway.org/).  Are you on Android, perchance?  The Adaway issues are located here: https://github.com/AdAway/AdAway/issues.

[2020-01-15 04:39] williamli commented on #1125
I don't have access to Android at this moment.
I am going to try to do a diff between the two files and see if I can work out why your list killed AdGuard.

[2020-01-15 04:40] StevenBlack commented on #1125
Sorry William @williamli the answer to my question was buried in the issue title.

[2020-01-15 04:53] bigdargon commented on #1125
@williamli Adguard Pro's VPN is limited by iOS, adding too many hosts will result in a VPN crash (Limited to about 50k rules). Therefore, I recommend that you use a rule like AdguardSDN built into Adguard Pro. Or use the hostsVN project I'm developing which is fully compatible with Adguard Pro.

Github: https://github.com/bigdargon/hostsVN

Link for Adguard Pro: https://raw.githubusercontent.com/b

[2020-01-15 04:55] williamli commented on #1125
Thanks for the tip @bigdargon.

Just confirmed this by only loading the additions that came in via 4fa04707 updates https://gist.githubusercontent.com/williamli/ff947e815c3258b95a037770f77881f2/raw/2afc186fa63e2ca6d8851045bbd7d1d8122d7f26/StevenBlack%2520-%2520hosts%25204fa04707%2520additions

The additions loaded fine (while under 50k).

[2020-01-15 04:55] #1125 closed

[2020-01-15 05:02] StevenBlack commented on #1125
William @williamli and @bigdargon we've been over the 50k domain threshold before... I'm skeptical that the 50k number is the problem.  But I've been wrong many times before 😄

[2020-01-15 05:06] williamli commented on #1125
@StevenBlack Some users claim it can be used, some are saying there is a 50K limit https://forum.adguard.com/index.php?threads/can-i-use-both-adguard-pro-free-to-bypass-50k-filter-limit.29415/

Maybe we will see what the official AdGuard Team has to say about it at https://github.com/AdguardTeam/AdguardForiOS/issues/1416 🤷🏽‍♂️

[2020-01-15 05:09] bigdargon commented on #1125
@williamli You can track this https://github.com/AdguardTeam/AdguardForiOS/issues/1298

@StevenBlack The limit may be less or more, but most rules above 50k easily crash vpn.  Some applications that support the wildcard format help with this.

Adblock version 4.2.1 also supports wildcards (including hostsVN) https://apps.apple.com/vn/app/adblock/id691121579

[2020-01-15 05:15] StevenBlack commented on #1125
Thanks @bigdargon and @williamli, I'll stand-by.

I could revert the AdAway commit, but I'd rather not because, for the most part, it's a solid upgrade.  Let's wait and see what suggestions come from AdGard.

[2020-01-15 05:34] bigdargon commented on #1125
@StevenBlack iOS devices that use the host format will waste device resources. Fortunately some apps have developed rules-based domain blocking (like Adguard Pro) and wildcards (like Adblock).

For example,
- With the domain name `doubleclick.net`, the host format will have to list all subdomains.
- But with rule format, it only takes 1 line `||doubleclick.net^` to block all subdomains.
- Or with

[2020-01-17 13:26] alsyundawy commented on #1119
adaway need root, but i am stick only use twrp as  boot recovery only for flashed img or zip only

[2020-01-17 13:35] githubber101 commented on #1119
then there is nebula, netguard, blokada. or if you use android 9+, there is DNS providers like LibreDNS, dnswarden etc. Seriously, all options are one search away.
@AnonymousPoster , What??

[2020-01-17 14:26] StevenBlack commented on #1119
Seeing no actionable information arising, I'm closing this.

Harry @alsyundawy if you find out what domains are involved here, then we may be able to help.

[2020-01-17 14:26] #1119 closed

[2020-01-19 21:58] vlcty opened #1127 "Block of www.expressvpn.com"
Commit 76d5fcfb5 introduced www.expressvpn.com and I think this was an accident. ExpressVPN is one of big providers out there but no other provider is also listed.

[2020-01-19 21:59] TheGITofTeo997 commented on #1127
Big quote on this, i wasn't able to access the site for days and i was wondering why. and today i found out it was blocked.

[2020-01-19 22:11] StevenBlack commented on #1127
Thanks Josef @vlcty.  Fixed.

[2020-01-19 22:11] #1127 closed

[2020-01-20 15:15] lightswitch05 commented on #1044
In case @funilrys has an interest in setting up a PyFunceble run, here are the hosts that are in Malware Domain List only: https://gist.github.com/lightswitch05/7efdffd232b2dde88f13b607e3c80c10

[2020-01-20 18:56] No1089 opened #1128 "api.particle.io is part of your list"
Hi,

I don't see a way to request a removal of a URL.
api.particle.io is currently part of your list and I cannot trace either the source or date of addition. A bunch of users are unable to log in as a result and have to manually whitelist the url.

Thanks!
Chris

[2020-01-20 20:05] No1089 commented on #1128
adaway.org is the source of the block.
We would appreciate early removal from your aggregate list.
https://github.com/AdAway/AdAway/issues/1570

[2020-01-20 20:23] StevenBlack commented on #1128
Let's see what AdAway responds, Chris @No1089.  I'm standing-by.

[2020-01-20 22:58] dnmTX commented on #1044
@lightswitch05  Malware Domain List is already included in Ultimate-Hosts-Blacklist ->[Link](https://github.com/Ultimate-Hosts-Blacklist/MalwareDomainList.com) for a while now. Unique domains are not filtered though but you can at least check how many are [ACTIVE](https://github.com/Ultimate-Hosts-Blacklist/MalwareDomainList.com/blob/master/output/domains/ACTIVE/list) and compare it with your list

[2020-01-20 23:14] lightswitch05 commented on #1044
I should have known it was already setup. Thanks for the info @dnmTX. I’ll run a diff against the active list and the 860 hosts not already included in other lists and report my findings

[2020-01-21 14:00] lightswitch05 commented on #1044
So, of the 860 hosts not covered in other lists, 378 are considered active per PyFunceble. [Active hosts that are only on Malware Domain List](https://gist.github.com/lightswitch05/5dfd786ca36d3c65685458989598bee9)

[2020-01-21 16:56] Oarcinae commented on #1128
+1 from me. It took down some of my home automation and took me awhile to figure out what was going on.

Kind of sucks not being able to open my garage door while on WiFi due to a blocklist update lol...

Thanks!

[2020-01-21 17:11] EggyM opened #1129 "api.mobile.immobilienscout24.de"
Please remove entry:
0.0.0.0 api.mobile.immobilienscout24.de

If this domain is blocked, the Android app ImmobilienScout24 does not work any longer.

I whitelisted it anyway, but it is a little bit annoying to whitelist domains that are not in general for adds.

[2020-01-21 17:24] No1089 commented on #1128
@StevenBlack We have had no response from AdAway as of yet, not even an acknowledgement.

This block merely affects our platform. api.particle.io does not serve any ads or does any form of tracking. We believe this was added erroneously.

[2020-01-21 18:17] StevenBlack commented on #1128
Give it a few more hours, Chris @No1089...

[2020-01-21 19:17] StevenBlack commented on #1128
This is now resolved, and packaged in [Release 2.5.46](https://github.com/StevenBlack/hosts/releases/tag/2.5.46), online now.

Thanks everybody.

Closing.

[2020-01-21 19:17] #1128 closed

[2020-01-21 19:40] StevenBlack commented on #1129
Hi @EggyM thak you for this.

Advertising is not the only criteria.

The `immobilienscout24.de` domain comes to us via mvps.org.  You can petition for its removal by contacting winhelp2002@gmail.com.

Closing.

[2020-01-21 19:40] #1129 closed

[2020-01-21 19:47] choice77 opened #1130 "Globo Play videos (brazilian tv streaming service) are blocked by glbimg.com hosts"
Site navigation https://globoplay.globo.com/ works well, but videos don't load.

If i removed the hosts bellow, the videos works well.

# [glbimg.com]
0.0.0.0 e.glbimg.com
0.0.0.0 i.glbimg.com
0.0.0.0 p.glbimg.com
0.0.0.0 v.glbimg.com

Tested on Samsung TV, Mobile Devices, Pc-Desktop

[2020-01-21 23:18] dnmTX commented on #1130
@choice77  those domains are blocked by AdAway. It's recommended to open a [issue](https://github.com/AdAway/adaway.github.io/issues) there and discuss it with the curators of the lists.

[2020-01-22 02:49] choice77 commented on #1130
Thanks,  dnmTX! I will do that!

[2020-01-22 05:17] jawz101 commented on #1130
removed in Adaway

[2020-01-22 10:40] mehov commented on #1112
Hi,

I found a host that needs to be corrected. It's listed under this headline:

I checked the [providers from your link](https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant) but couldn't find it.

[2020-01-22 15:04] StevenBlack commented on #1112
Hi Alex @mehov, we already list `www.addtoany.com`.

[code]

[2020-01-22 15:05] #1112 closed

[2020-01-22 18:29] sangaman commented on #709
FYI, I had to whitelist this domain to get several features on chrysler.com to work.

[2020-01-22 19:48] choice77 commented on #1130
Thanks, jawz101! Problem solved!

[2020-01-22 19:48] #1130 closed

[2020-01-23 06:35] toxot opened #1131 "mx.yandex.ru in host file"
Hello, can u remove this record? its actually mail server, so i haven't idea why we should block it.

[2020-01-23 12:40] AnonymousPoster commented on #1129
That's not true, it comes from AdAway

[code]

[2020-01-23 12:48] AnonymousPoster commented on #1112
as @llacb47 ask, how does `stats.addtoany.com` becomes equal `static.addtoany.com`? do you actually read the questions?

[2020-01-23 18:03] StevenBlack commented on #1131
Hi Artem @toxot, the `mx.yandex.ru` domain comes to us via AdAway, one of the sources of our hosts.

You can reach AdAway on their [Github Issues page](https://github.com/AdAway/AdAway/issues).

[2020-01-23 18:33] gadgetchnnel opened #1132 "distributions-crashlytics-com.s3.amazonaws.com needed by Firebase App Distribution"
The domain distributions-crashlytics-com.s3.amazonaws.com has been added to this blocklist, but this is used by [Firebase App Distribution](https://firebase.google.com/docs/app-distribution l) and is preventing the download of beta apps via this.

[2020-01-23 18:41] AnonymousPoster commented on #1132
Isn't Firebase all about Google tracking/spying through out "apps" baits?

[2020-01-23 20:40] llacb47 commented on #1112
@AnonymousPoster are you a sockpuppet for @spirillen? Yes or no?

[2020-01-23 21:11] StevenBlack commented on #1132
Hi Steven @gadgetchnnel, the `distributions-crashlytics-com.s3.amazonaws.com` domain comes to us via AdAway, one of the sources of our hosts.

You can reach AdAway on their [Github Issues page](https://github.com/AdAway/AdAway/issues).  Can you please post this issue there?  Thanks.

[2020-01-23 21:13] #1084 closed

[2020-01-23 21:14] StevenBlack commented on #1044
MalwareDomainList updated yesterday, or thereabouts.

Closing.

[2020-01-23 21:14] #1044 closed

[2020-01-23 21:15] #1043 closed

[2020-01-24 20:44] jawz101 commented on #1132
removing.  Thanks.  I've started visiting the StevenBlack issue tracker occasionally to catch the Adaway false positives.

[2020-01-24 20:46] jawz101 commented on #1131
removing.  Thanks

[2020-01-24 21:41] #1132 closed

[2020-01-24 21:41] #1131 closed

[2020-01-25 01:43] prttygltch commented on #364
This was issue for me just now on macOS. I added code in the get_file_by_url() method to show the full exception, which was

`<urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)>`

This was caused by Python not using the OpenSSL certificates from macOS. I ended up

1. Installing Python from python.org, instead of using the

[2020-01-25 22:15] beerisgood opened #1134 "apprep.smartscreen.microsoft.com"
*.smartscreen.microsoft.com* is used for Windows Defender Smartscreen which is a security feature and not telemetry.

Please unblock it.

https://docs.microsoft.com/en-us/windows/privacy/windows-endpoints-1903-non-enterprise-editions

[2020-01-25 22:23] beerisgood opened #1135 "telecommand.telemetry.microsoft.com"
*.telecommand.telemetry.microsoft.com* is used by Windows Error Reporting and isn't telemetry.

So please unblock it

https://docs.microsoft.com/en-us/windows/privacy/windows-endpoints-1903-non-enterprise-editions

[2020-01-25 22:25] StevenBlack commented on #1134
@beerisgood comes to us via someonewhocares.org.  This is an upstream source.

Please submit this request to hosts@someonewhocares.org.

[2020-01-25 22:26] StevenBlack commented on #1135
Not gonna happen.  Closing.

[2020-01-25 22:26] #1135 closed

[2020-01-26 00:39] beerisgood commented on #1134
Done

[2020-01-28 09:36] winklevos commented on #487
Looks like d2wy8f7a9ursnm.cloudfront.net is required on crust.com.au for the site to work, can this be removed ?

[2020-01-28 14:45] carcinoma opened #1136 "Blocking api.*.immobilienscout24.de prevents mobile app from working"
Since 14.01.2020 the following entries have been added to the hosts file:

Having these entries will result in a not working mobile app provided by the "immobilienscout24.de"-company.

Is there a specific reason why these domains are blocked? The do not look like adware or malware domains.

[2020-01-29 08:09] Kees1958 opened #1137 "NO UPDATES ???"
Peter Low's list has been updated recently (28 januari) and Steven's host file is not updated. What is happening, Steven are you ill or on holiday? Why no updates, hope all is well!

Changed type of 18 januari to 28 januari, apologize for the mistake

[2020-01-29 11:23] ScriptTiger commented on #1137
https://github.com/StevenBlack/hosts/commit/3ec743468a83c472dd18543b95be208de5380437 and https://github.com/StevenBlack/hosts/commit/d9c9d7b983b0b4c601d6d5c1950b3b4e09260fcf were both committed on Jan 25, 2020 (officially Jan 24 for Steven's time zone) as per the commit log (https://github.com/StevenBlack/hosts/commits/master), well after January 18. In fact, as you can see from the commit log, th

[2020-01-29 11:48] ScriptTiger commented on #1136
[code]

It was blocked by two different sources, Adaway and MVPS. From the looks of it, despite this being seemingly a legit real estate company, the problem is they put out their own ads and analytics and don't use a third party to do this for them. Since they are hosting very real ads and analytics, there is a valid reason for them to be blocked, even if they are only doing so for themselves and

[2020-01-29 12:05] ScriptTiger commented on #1136
If you would still like to pursue getting these unblocked, specifically the `api.*.immobilienscout24.de` domains, please contact the Adaway source and open an issue there:
https://github.com/AdAway/AdAway/issues

[2020-01-29 13:00] Kees1958 commented on #1137
@ScriptTiger

Sorry, Peter's Low was updated yesterday 28 of Januari (sorry for the type). Yesterday's updates are not included in Steven's List (as mentioned by your references which show last update was five days ago)

[2020-01-29 13:35] ScriptTiger commented on #1137
Steven hosts the pre-generated hosts lists as a courtesy and can hardly be expected to run daily updates on a volunteer basis. The primary focus of this repository is focused on the Python script. If you have requirements for daily updates, I would recommend keeping a local copy of the Python script and generating your own local daily updates.

[2020-01-29 13:41] Kees1958 commented on #1137
OK, thanks I thought it was an automated process, since it mentioned Python scripts. I will use https://energized.pro/ SPARK list lite instead then, thanks for the clarification

[2020-01-29 14:34] ScriptTiger commented on #1137
No worries. You can direct your issues for that project here:
https://github.com/EnergizedProtection/block/issues

[2020-01-29 19:54] sgu222e opened #1138 "mobile.impacttestonline.com - Why is it blocked?"
Just a quick question, we subscribe to your list and it works great, but recently is has blocked login to impacttestonline, which is valid. The url in question is called when a user logs into the online portal for ImPACT, which is used by health care professionals to assist with diagnosing concussions and brain injuries.
I've whitelisted it on my piholes, but wanted to drop a note that it probably

[2020-01-30 00:04] ScriptTiger commented on #1138
This is coming from Adaway, an upstream source. Could you open an issue there?
https://github.com/AdAway/AdAway/issues

For the most part we just aggregate from upstream sources, we don't curate the lists. The only list we have control over is the locally curated `hosts/data/StevenBlack/hosts`.

[2020-01-30 02:54] sgu222e commented on #1138
Will do, Thanks for the quick reply.

[2020-01-30 02:54] #1138 closed

[2020-01-30 11:57] beerisgood commented on #1134
It's fixed.
Thanks

[2020-01-30 11:57] #1134 closed

[2020-01-31 13:51] Kees1958 commented on #1137
Thx for the updates

[2020-01-31 13:51] #1137 closed

[2020-01-31 20:06] infinitewaveparticle commented on #1111
@StevenBlack with regards to PiHole hosts files and possibly other methods, domains and subdomains are distinct, but when you use the app AdGuard this isn't true. Simply blocking a.com will block ALL subdomains as well. Furthermore you can add rules like @@||a.a.com to whitelist specific subdomains. AdGuard now also blocks CNAME servers which makes blocking all servers listed under a particular CN

[2020-01-31 21:49] infinitewaveparticle commented on #1051
I will once again chime in to suggest using the AdGuard app. With it you can choose from a large list of standard, DoT, and DoH DNS resolvers, or you can manually add one. I use AdGuard's own DNS as it is one of the best there is, one reason being that using their encrypted DNS avoids the major centralized DNS providers (Google, Cloudflare, etc). You can also choose your own fallback (secondary) a

[2020-01-31 23:24] ScriptTiger commented on #1111
Literally the title of this repository is `hosts`, with a subtitle of `Unified hosts file with base extensions`. What does AdGuard do for the hosts file? Needless to say, your comments are wildly out of scope, neither related to this repository nor the issue at hand.

@StevenBlack, I make a motion to delete all of @infinitewaveparticle's comments and block him from further access to shut down this

[2020-01-31 23:25] ScriptTiger commented on #1051
@StevenBlack, I'd like to make a second motion to delete all of @infinitewaveparticle's comments and block him from further access.

[2020-02-01 19:39] StevenBlack commented on #1111
@ScriptTiger — Agreed.

[2020-02-01 19:40] StevenBlack commented on #1051
@ScriptTiger comment deleted.  Thanks for the heads-up.

[2020-02-02 13:05] ioc32 commented on #1111
@Strykar we are looking into this hosts file for another project and plan to make similar use to the one you proposed by just using `awk(1)` to extract the DNS name :-)

Of course, it is never *that* simple - I made a quick test so I thought I'd share.

`pfctl(8)` will exit if any of the hosts file entries does not resolve [1]. Maybe there's a `pfctl(8)` option to change this behaviour but cursory

[2020-02-02 18:27] ScriptTiger commented on #1111
If you're interested in reading a lengthy issue on this, we had a debate over this with @vixie here: https://github.com/StevenBlack/hosts/issues/451. Some argued that a domain with multiple untrusted subdomains should render the domain itself untrusted. An example used was `2o7.net`, which has a large number of untrusted subdomains. However, some of its subdomains are actually required for some "t

[2020-02-02 22:10] CraigHead commented on #155
Just an FYI, blocking `watson.telemetry.microsoft.com` caused XBox Update to fail to start updating with the latest Xbox OS patch. I'm leaving this comment here for posterity. Maybe it'll help someone else.

[2020-02-03 13:53] Gitoffthelawn commented on #155
@CraigHead Thanks for posting Craig. That's real ugly behavior if MS is breaking things when telemetry is blocked.

[2020-02-03 14:07] CHEF-KOCH commented on #155
Windows Debloater is pointless, it does not offer more than GPO/registry already does and instead that people actually read the GPO toggles and switching it themselves (or use the already existing [script by MS](https://www.microsoft.com/en-us/download/100591) they run into gimmick tools which getting [abandoned after 1 year](https://www.ghacks.net/2015/08/14/comparison-of-windows-10-privacy-tools

[2020-02-03 19:43] mwinker opened #1139 "Do not block juiceplus.com"
juiceplus.com is nothing to be blocked, so please remove that entry from your hosts file (in the meanwhile, I added them to pihole's whitelist).

[2020-02-03 22:08] isaacn75 opened #1140 "youtube and other entertainment streaming sites block"
hi , im ussing pfsense with pfblock to do dns block on some sites , i want to block streaming sites like youtube ,netflix , hulu . etc . is there a host file for those sites ? cant find it .

[2020-02-03 22:47] StevenBlack commented on #1140
Hi @isaacn75, interesting idea.  We don't have a streaming/entertainment extension.  Maybe we should.

[2020-02-03 22:50] StevenBlack commented on #1139
@mwinker the `juiceplus.com` domain comes to us via KADhosts.  Can you please submit this issue with them?  Their issue page is https://github.com/PolishFiltersTeam/KADhosts/issues.

Hi Tomasz @FadeMind, can you comment?

[2020-02-03 22:52] StevenBlack commented on #1136
Hi @carcinoma — and thank you @ScriptTiger.

Let's see what AdAway does.  I trust them to do the Right Thing here.

[2020-02-04 01:33] llacb47 commented on #1136
Removed already @StevenBlack in https://github.com/AdAway/adaway.github.io/commit/fc4c7dcaccfaad47b76f6ace97824b418f6ecebb and https://github.com/AdAway/adaway.github.io/commit/8e7d98dfaaa88abbe8fd4778b22ea7c9c9e87525

[2020-02-04 01:59] ScriptTiger commented on #1140
This one may actually be rather easy to implement without too many extra entries just by shutting down the CDNs, then you don't even have to really worry about the individual website front ends.

[2020-02-04 03:16] StevenBlack commented on #1136
Nice!  Thanks everybody.

Closing!

[2020-02-04 03:16] #1136 closed

[2020-02-04 05:27] FadeMind commented on #1139
About Kad please CC directly @krystian3w @hawkeye116477

[2020-02-04 08:44] hawkeye116477 commented on #1139
This was blocked by @azet12.

@xMaap https://github.com/PolishFiltersTeam/KAD/issues/784

[2020-02-04 12:45] DonRichards commented on #590
Just tried this script and got that same error. Might want to address this. Possibly a missing step in the instructions.

[2020-02-04 14:49] StevenBlack commented on #1139
@krystian3w @hawkeye116477 @FadeMind thanks everybody.  Keep an eye on this, OK?

Closing.

[2020-02-04 14:49] #1139 closed

[2020-02-04 18:16] vorkot11 opened #1142 "Hosts file blocks images on jolse.com"
Hello,
I am using the hosts file (adware + malware) and the last few versions have started blocking images on the Korean cosmetics site jolse.com, e.g. https://jolse.com/category/skincare/1018/. Is it possible to fix this?

Thanks,
Ia.

[2020-02-04 21:15] AnonymousPoster commented on #1142
Look for

[code]

[2020-02-04 21:29] vorkot11 commented on #1142
Yes, this works, thank you.

[2020-02-05 00:33] StevenBlack commented on #1142
Hi @vorkot11 the `poxo.com` domains come to us from AdAway.

Hey @jawz101 can you take a look?

[2020-02-05 16:00] jawz101 commented on #1142
done https://github.com/AdAway/adaway.github.io/commit/fcd731b861ab2b93c2f41e2154545cea01e2b781

[2020-02-05 16:04] StevenBlack commented on #1142
Thanks everybody.  This will be rectified in the next release, coming shortly.

Closing.

[2020-02-05 16:04] #1142 closed

[2020-02-06 10:47] ScriptTiger commented on #155
Interestingly I was working on a Windows 10 machine and I accidentally clicked on some help dialog and Microsoft Edge popped open, which is not the default Web browser, and AVG actually popped up with a threat detection and made the following report:

I censored the full URL from the report, but obviously the Avast team agrees that `login.live.com` is a threat indicator. Anybody else get any simil

[2020-02-06 11:10] CHEF-KOCH commented on #155
Microsoft's forums as well as every other top 1000 domains are well known for phishing attempts, fake login pages, XSS etc. What's the [news](https://forums.daybreakgames.com/eq2/index.php?threads/psa-microsoft-web-email-services-hacked.589466/) here. Top-level domains and logins are [always](https://www.forbes.com/sites/kateoflahertyuk/2019/07/18/microsoft-issues-state-sponsored-hacking-warning/)

[2020-02-06 12:15] ScriptTiger commented on #155
I completely agree with everything you've said, @CHEF-KOCH, don't get me wrong. Obviously the highest profile domains are the ones that are going to get attacked the most. However, that varies slightly from this particular case of BEC, business e-mail compromise, which is currently the number one fraud threat for organizations. I am not talking about attacking Microsoft, I am talking about misrepr

[2020-02-06 16:53] agneevX commented on #860
Whitelisting `onesignal.com` restored macOS Safari push notifications functionality for me.

[2020-02-07 04:12] Laicure commented on #860
This was already closed.

Anyway.
This repo is just an aggregator and it is not this repo's fault why are those blocked. (we just hate tracking, ads and such, right?)
I am using [this (from Energized)](https://github.com/EnergizedProtection/unblock/raw/master/basic/formats/domains.txt) to unblock possible device/functionality breaking domains.

The only data source here that we can do reporting he

[2020-02-09 04:42] Laicure commented on #913
think anyone can absorb the domains in their list? hehe
so we can close this one ;)

[2020-02-09 18:44] StevenBlack commented on #913
We presently carry the following three domains, which come to us via AdAway.  Which may or may not be related.

[code]

Closing this since it's just old.

[2020-02-09 18:44] #913 closed

[2020-02-11 20:18] quinncomendant opened #1143 "Consider including URLhaus domains"
URLhaus offers a hosts file containing only domains actively serving malware or added in the last 48 hours. It seems appropriate for merging in this project.

- text file download: https://urlhaus.abuse.ch/downloads/hostfile/
- documentation: https://urlhaus.abuse.ch/api/

[2020-02-12 08:43] santiagohl opened #1144 "TFC TV via Roku"
This was recently added to the list of block domains ma345-r.analytics.edgekey.net  and it need to be removed as it breaks TFC tv programing via roku. for now I have added it to the white list so that we can watch TFC tv once again.

[2020-02-12 16:52] gonzobrains opened #1145 "How to add to mobile devices without rooting"
Is there a way to update the hosts file on Android/iOS/other mobile devices without rooting?

[2020-02-12 16:53] gonzobrains opened #1146 "Automatically deploy hosts file to all machines on a network"
Is there a way to automatically deploy a new hosts file across all devices on a network?  If not, can the process be automated on a machine-by-machine basis?

[2020-02-13 01:23] Laicure commented on #1145
Not possible without root.
I just use DNS66 instead.

[2020-02-13 10:27] moviuro commented on #1145
@gonzobrains you can deploy the host files to a DNS server you control, and use that on your device ([first google result](https://devilbox.readthedocs.io/en/latest/howto/dns/add-custom-dns-server-on-android.html)). If you don't know how to do that, then use a hosted service that will do it instead (OpenDNS Family shield, or whatever else).

[2020-02-13 19:00] AnonymousPoster commented on #1144
You should add your complain to the devs behind tfc as they obviously have broken there product by adding [SpyWare](https://www.mypdns.org/wiki/SpyWare) to there sources and it is breaking the product

[2020-02-13 22:37] santiagohl commented on #1144
I appreciate your help and reaching out to me but I would need more than
the spyware definition to explain them the issues and why they need to
remove their tracker. Can you point me to the document that shows that the
service they are using to do analytics for their tv channel is a known
offender of privacy because that would really help to convince them to
chance analytics company.

On Thu, Feb

[2020-02-14 01:52] AnonymousPoster commented on #1144
What's wrong with the link I posted? but alternatively `adaway/domain.list:ma345-r.analytics.edgekey.net` or the [wikipidia](https://en.wikipedia.org/wiki/Spyware)

[code]

[code]

And at last, how about this, which you wrote almost your self:

There is plenty about the `analytics.edgekey.net` [online](https://duckduckgo.com/?q=%22analytics.edgekey.net%22&t=canonical&ia=web)

here is a link hits (

[2020-02-14 18:54] graph opened #1147 "scammy sites found a new way to evade blacklists"
I noticed that it's easier recently to visit a scammy site by misspelling a legit domain. I have reported one a week ago and it still hasn't been added to any lists. One of such is whatsap.com I have already reported. One interesting aspect if you switch your user agent to google bot, it doesn't do anything sketchy. Upon looking like a normal user, it cycles from phishing, trying to get user to in

[2020-02-15 16:24] jawz101 commented on #1145
NetGuard , Blokada, AdGuard, DNSfilter, DNS66

Many of these apps are on Fdroid and they all can use a blocklist such as a Stevenblack's

[2020-02-15 22:28] Walker-TR opened #1148 "Sling.com My Account login/webpage issue"
Unable to login to sling.com/account.  Get this error "An unexpected error has occurred." on webpage.

URL: https://oauth-client.p.sling.com/

Based off uBlock Orign log. This domain is being blocked causing the issue, tiqcdn.com^​

||tiqcdn.com^​--​ oauth-client.p.sling.com -- ​3 -- ​script -- ​https://tags.tiqcdn.com/utag/dish/sling/prod/utag.sync.js
||tiqcdn.com^​-- ​oauth-client.p.sling.com​ -

[2020-02-16 22:24] alfa-romero opened #1149 "Please remove these urls"
I believe these urls were mistakenly added based on their close association to uconnect.tealiumiq.com.

The following urls are actually used by FCA US LLC for their [Uconnect Mobile app](https://www.driveuconnect.com/uconnect-app.html)

# [uconnectcar.com]
0.0.0.0 app3.prd.telematics.uconnectcar.com
0.0.0.0 app4.prd.telematics.uconnectcar.com

This is preventing the successful operation of the app

[2020-02-17 09:30] moodule opened #1150 "Import privacy-badger's blocking list ?"
My [Privacy Badger](https://www.eff.org/privacybadger) from EFF has learnt to block hundreds of domains that weren't in my Pi-Hole blacklist.

What do you think of consolidating the blocking list the users ?

Or may-be run a web spider operating the privacy badger ?

[2020-02-17 09:44] moodule opened #1151 "Why aren't other known sources just merged here ?"
Hello, I just got started with DNS filtering with the Pi-Hole and I love what you're doing here ! :+1:

Looking around I found a lot of other sources, like:
- [CHEF-KOCH](https://github.com/chef-KOCH/NSABlocklist/) and such
- [hmirror](https://github.com/hectorm/hmirror/tree/master/data)

So I wondered why they're not listed here?
Is it a lack of curation / references?
Because the lists are not ca

[2020-02-17 15:22] ScriptTiger commented on #1146
If you're running Windows, yes:
https://github.com/ScriptTiger/Unified-Hosts-AutoUpdate

Basically you just put that script in a shared network location and it can manage all the machines on your network and keep their blacklists up to date, or even change to different blacklists at different times throughout the day if you want to allow some things before, during, or after certain times, whatever

[2020-02-17 15:23] StevenBlack commented on #1151
Hi David @moodule, thank you for your question.

This list amalgamates lists from sources that have demonstrated ongoing active curation.  We're not really interested in lists that carry hundreds of thousands of domains because, by definition, curation can't properly happen at that scale.

This is also a balance between Type I and Type II errors.  I can tall you that, at our present scale, that st

[2020-02-17 15:25] StevenBlack commented on #1150
David @moodule what is the link to the actual list?  You've sent me on a goose-chase, with the link above ⬆️⬆️⬆️

[2020-02-17 15:27] StevenBlack commented on #1149
Hi Alf @alfa-romero the `uconnectcar.com` domains come to us from AdAway.

Hello @jawz101 can you please take a look, and decide?

[2020-02-17 15:29] StevenBlack commented on #1148
I'm confused.  Please resubmit something actionable, not a babbling stream of semi-consciousness.

Closing.

[2020-02-17 15:29] #1148 closed

[2020-02-17 15:33] StevenBlack commented on #1147
Please provide a link to the issue you supposedly raised, because I can't find it.

If you have an issue related to that issue, please post it in that issue, as a continuation, a friendly reminder.  Please don't be opening new issues complaining about some other issue without providing a link.  We're all busy people, here.

[2020-02-17 15:33] #1147 closed

[2020-02-17 15:35] StevenBlack commented on #1145
Thanks everybody.  I'm closing this because, though informative, it's out of scope.

[2020-02-17 15:35] #1145 closed

[2020-02-17 15:36] ScriptTiger commented on #1151
@CHEF-KOCH also frequents this repo and gives his advice from time to time. So far I believe he has already advised us on domains that should be included or not, so I don't think we need to pull them again from his lists.

For a list to be added to this project as a source, there is a thorough review that must be conducted for things such as you mentioned, curation, reputability, documentation, et

[2020-02-17 15:38] StevenBlack commented on #1144
I think Anon @AnonymousPoster is right in this instance.

That said, `ma345-r.analytics.edgekey.net` comes to us via AdAway.  @jawz101 can you please take a look, and decide?  I'm happy either way.

Thanks everybody.

[2020-02-17 15:40] StevenBlack commented on #1151
Thanks @ScriptTiger — that too 😄

[2020-02-17 15:57] ScriptTiger commented on #1151
Sorry for the double-tap. I opened this issue before you replied but got interrupted in the middle of typing it, then after I submitted it I realized you already hit it. Your answers can always stand on their own :P

[2020-02-17 16:27] jawz101 commented on #1149
removed.

[2020-02-17 16:29] StevenBlack commented on #1149
Thanks @jawz101.

@alfa-romero this will be corrected in the next release, later today.

Closing.

[2020-02-17 16:29] #1149 closed

[2020-02-17 16:34] jawz101 commented on #1144
removed.  It doesn't matter to me either way

[2020-02-17 16:35] StevenBlack commented on #1144
Thanks @jawz101.  Closing.

[2020-02-17 16:35] #1144 closed

[2020-02-17 19:18] moodule commented on #1150
sorry I thought you'd know it !!

the badger is a browser extension: it learns to block websites as you browse the web.

so every user of the extension will have his personal list of blocked domains, depending on where he went.

[2020-02-17 19:21] StevenBlack commented on #1150
Closing.

[2020-02-17 19:21] #1150 closed

[2020-02-17 19:34] moodule commented on #1151
Ok, thank you for taking the time to answer my n00by question!!

[CHEF-KOCH](https://github.com/CHEF-KOCH) has several hosts lists, by topic (NSA spying etc).

Indeed it looks time consuming, I'm grateful and this comment was in no way a critic.

I was just surprised, since this repository is so well known why wouldn't other common sources just submit here??
That was me being lazy ^^

[2020-02-17 19:48] llacb47 commented on #1151
CHEF-KOCH has stolen lists in the past, I would not blindly include their lists in this project without further consideration. https://github.com/ghacksuserjs/ghacks-user.js/issues/323

[2020-02-17 20:15] moodule commented on #1151
oh wow that was really not where I was going either!!!
i came from the [pi-hole recommandations](https://discourse.pi-hole.net/t/update-the-best-blocking-lists-for-the-pi-hole-alternative-dns-servers-2019/13620) and took it as reference without proper research...

[2020-02-17 23:00] StevenBlack commented on #1151
OK, well, I think I'll close this now. 🙄

[2020-02-17 23:00] #1151 closed

[2020-02-17 23:11] MegaphatNetworks commented on #155
I personally like the Windows 10 Exorcist on github (sorry I forgot the link).

[2020-02-18 09:00] scafroglia93 opened #1152 "Amazon App Issue"
This host may cause the problem ->
amazon-adsystem.com

[2020-02-18 10:48] prakhs123 opened #1153 "Can you explain how you use DNS66?"
Not possible without root.
I just use DNS66 instead.

_Originally posted by @Laicure in https://github.com/StevenBlack/hosts/issues/1145#issuecomment-585502226_

[2020-02-18 12:29] Laicure commented on #1153
Hey, this is out-of-scope in this repo but I will respond, just close this right away.

Use this [detailed guide](https://jonathansblog.co.uk/ad-blocking-on-android-using-dns666) to setup your DNS66.
Use/add this for your "HOSTS": `https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts`

[2020-02-18 12:48] prakhs123 commented on #1153
I think its relevant as it is a way to enable "hosts" on android. Thanks.

[2020-02-18 12:54] ScriptTiger commented on #1152
Just so we can be more thorough in helping you, can you be more specific as to why you think that specific domain is causing the problem? Were you using a separate application to monitor DNS calls and found that particular domain coming up a lot unresolved? Did you already test unblocking it and it resolves your issue? And can you be more specific as to what exactly "the problem" is, the specific

[2020-02-18 13:14] scafroglia93 commented on #1152
I tried to replicate the problem through the nextdns log, enabling the list of the amazon crasha app while viewing the articles by returning ooops with the classic dog

[2020-02-18 14:33] scafroglia93 commented on #1152
![photo_2020-02-18_15-30-15](https://user-images.githubusercontent.com/8227101/74745316-027a5400-5264-11ea-8b84-3f1c19b02eb0.jpg)
![amazon](https://user-images.githubusercontent.com/8227101/74745319-03ab8100-5264-11ea-8c6f-a0f69fa51905.PNG)

[2020-02-18 14:53] StevenBlack commented on #1152
Hi @scafroglia93 the `amazon-adsystem.com` domain, and many related subdomains, come to us via five (5) different sources.

I don't think this is going to change.

Closing.

[2020-02-18 14:53] #1152 closed

[2020-02-18 18:13] bhinz opened #1154 "extra categorie ads"
Is it possible to get ads and malware in two different lists?

[2020-02-18 21:21] graph commented on #1147
You guys are great! I reported this issue here and it was added to matrix blacklist within a day. When I said I reported this issue before I was referring to reporting to firefox, & google security forms. I reported it to them and it wasn't banned at all, and still not banned. Sorry it sounds confusing, but you guys did a great job of adding it promptly to a black last.

Clearly the blacklists her

[2020-02-19 00:57] Laicure commented on #1153
Then we will be endlessly talking about DNS66 and other apps just to enable "hosts" in android.
This is about hosts files not "how to deploy" and such.
You know... there's a [dns66 repo](https://github.com/julian-klode/dns66) where we can discuss this.

;)

[2020-02-19 02:04] StevenBlack commented on #1154
Hi @bhinz no, not presently.  That's an interesting thought, however.

All our sources group those as one...

Closing.

[2020-02-19 02:04] #1154 closed

[2020-02-19 02:38] prakhs123 commented on #1153
Ok, so tell me where we should discuss about deploying "hosts" on android? @StevenBlack i suggest add something in read me, or tell me how should i search for things like how to deploy "hosts"

[2020-02-19 03:08] StevenBlack commented on #1153
Hi @prakhs123 and thanks Laicurè @Laicure.

I would certainly entertain a Pull Request to amend the [readme_template.md](https://github.com/StevenBlack/hosts/blob/master/readme_template.md) to include this information.

[2020-02-20 21:19] tiiiecherle opened #1155 "Reverse adblocker warning in spiegel.de"
As spiegel.de was completely redesigned and relaunched blocking

`spiegel-de.spiegel.de`

leads to not being able to get passed the new options appearing on the website. Clicking accept leads to a warning that says it's not possible to save the needed cookie.

<img width="989" alt="549214" src="https://user-images.githubusercontent.com/7059936/74979323-b4657c00-542e-11ea-8693-5016a4bdbc20.png">

R

[2020-02-21 00:10] llacb47 commented on #1155
Use ublock origin, does it help?

[2020-02-21 08:46] tiiiecherle commented on #1155
There is no block origin for Safari on macOS. Adguard and Better are really good, but do not help here.

As stated above removing (or commenting out) `spiegel-de.spiegel.de` from /etc/hosts solves the problem.

[2020-02-21 22:51] StevenBlack commented on #1155
Thanks @tiiiecherle — I have removed `spiegel-de.spiegel.de` which comes to us via my own, ad-hoc list.

This will be reflected in the next release, shortly.

Closing.

[2020-02-21 22:51] #1155 closed

[2020-02-21 23:10] StevenBlack commented on #1143
Thanks Quinn @quinncomendant — this is interesting.

I've sent an email to request permission to add this list.

[2020-02-22 07:43] tiiiecherle commented on #1155
Thanks, have a great weekend ;)

[2020-02-22 22:16] johnwick1 commented on #925
Same here, graph.instagram.com blocking the Instagram feed

[2020-02-22 23:07] llacb47 commented on #925
Loads fine for me.

[2020-02-23 13:19] XhmikosR opened #1166 "Windows script issues"
After #1157 lands, one of the issues I face on Windows will be fixed. These leaves us with two more issues I've noticed so far:

1. Using updateReadme.py results in broken Unicode characters. Example: `Christian Martínez` becomes `Christian MartÃ­nez`
2. The script results in backslashes used in Readme URLs:
[code]

[2020-02-23 14:37] funilrys commented on #1166
2 ==> #1165
1 ==> It comes from the readme_template. It's probably because you're not reading in `UTF-8` ?

[2020-02-23 16:56] garbledos opened #1167 "Misc ad & tracking domains"
I'm not sure if it's better to add these as an issue or pull request, but I'll try this first. Here is a list of ad and tracking domains seen in the wild that I propose are added to the list. So far, blocking these has not stopped the associated apps from functioning.

#Misc websites
analytics-log.classlink.io
analytics.food.com
track.clevergadgets.co
arc.pixel.parsely.com

#Ubiquiti Unifi (trace.

[2020-02-23 18:37] johnwick1 commented on #925
are you running on web or mobile ?

[2020-02-24 03:17] StevenBlack commented on #731
We will do this... Please disregard Stale Bot.

[2020-02-24 03:51] llacb47 commented on #47
stale bot has a typo in template... `14 daysif no` (needing space)

[2020-02-24 03:54] llacb47 commented on #811
I made a fork of this repo and removed domains that cause breakages and I found are needed for iOS on iPhone.
https://github.com/llacb47/apple-telemetry/blob/master/blacklist

[2020-02-24 04:06] #689 closed

[2020-02-24 04:06] #703 closed

[2020-02-24 08:29] Konfekt commented on #829
@StevenBlack Won't this be fixed or would such a pull request be welcomed?

[2020-02-24 09:53] ScriptTiger commented on #1166
I got frustrated with this and just started my own repo, but it's good to see some work being done on this again.

[2020-02-24 10:08] XhmikosR commented on #1166
@funilrys about the second point, there's still at least once we end up with backslashes, see https://github.com/StevenBlack/hosts/pull/1165#issuecomment-590111613

About the UTF issue, I didn't do anything myself, I just ran the scripts.

[2020-02-24 11:34] Danilopereira82 opened #1168 "problem with www. and non www. addresses"
i noticed something

4chan.org is blocked
but www.4chan.org is not

makes me think
how many other sites in the list are possible to access by simply using www. or not using it
maybe this is a big problem

[2020-02-24 13:49] StevenBlack commented on #829
I don't understand.

We mention both.   Are you quibbling about the order of presentation?  Of course this repo's native assets come first.  I don't see a problem here.

Closing.

[2020-02-24 13:49] #829 closed

[2020-02-24 14:17] Konfekt commented on #829
Yes, this issue is about the order of presentation. The suggestion was to mention  [Unified Hosts AutoUpdate](https://github.com/ScriptTiger/Unified-Hosts-AutoUpdate "Unified Hosts AutoUpdate") by @ScriptTiger first because it brought several advantages on my Windows 10 installation, such as

- replacing the system host file by a host file that left DNS lookup working (perhaps by using `CRLF`?),
-

[2020-02-24 14:44] GeoffHale commented on #450
We can't let this thread go - This is an invaluable resource and the efforts are appreciated and I am personally most grateful.
Thank you.

[2020-02-24 17:15] funilrys commented on #1003
.

[2020-02-24 17:21] StevenBlack commented on #1003
Thanks Nissar @funilrys.  Stalebot cuts a wide swath.

[2020-02-24 17:48] funilrys commented on #1038
.

[2020-02-24 18:26] #1166 closed

[2020-02-24 18:53] XhmikosR commented on #1166
@StevenBlack there's still an issue with backslashes, see my comment above https://github.com/StevenBlack/hosts/issues/1166#issuecomment-590247036

[2020-02-24 19:25] XhmikosR commented on #1166
BTW what's the exact scripts/command you run @StevenBlack to generate the files? I'm asking because whenever I try it on Windows I get too many changes in each file

[2020-02-24 19:29] StevenBlack commented on #1166
@XhmikosR I haven't used Windows in at least 10-years.  I'm on MacOS and Ubuntu.

I run [makeHosts.py](https://github.com/StevenBlack/hosts/blob/master/makeHosts.py) which generates all the variants, in turn.

What do you mean, "I get too many changes in each file"?

[2020-02-24 19:37] XhmikosR commented on #1166
@StevenBlack understandeable, but please re-open the issue until we manage to fix everything; we are so close :)

[code]

which results in a diff like this:

[code]

The changes are not in the line endings, they are in the way the entries are sorted, which I can see in the Readme too:

[code]

becomes:

[code]

[2020-02-24 19:39] StevenBlack commented on #1166
@XhmikosR please explain the problem here.  I don'y understand.  That diff is perfectly normal.  What do you expect?  All hosts files, all readme files, get re-generated.  This is 100% by design.

[2020-02-24 19:41] StevenBlack commented on #1166
The order of sources listed is not determinate; it never was.  WTF cares?  I certainly don't.   `readmeData.json` is just a JSON structure and everything comes from that.

[2020-02-24 19:42] XhmikosR commented on #1166
When you push a patch which updates the data, not every line changes. On Windows all lines change, but not because of line endings, but because of the order the folders are traversed and thus the data are processed/output. You can  see this in the Readme part I pasted above.

I'm not saying it matters, it just doesn't make any sense, though.

[2020-02-25 04:43] StevenBlack commented on #1168
We've discussed this many times before, @Danilopereira82.

For starters, there's nothing magical about the `www` subdomain.  This is just another subdomain that's sometimes used by archaic convention, but isn't proscribed or standard.

We don't block `4chan.org` in the base hosts file.  We do, however, block subdomains such as
`engine.4chan-ads.org` and `static.4chan-ads.org` in the base hosts fil

[2020-02-25 04:43] #1168 closed

[2020-02-25 04:53] MattWeatherford commented on #450
Agreed - I am still using this awesome host list,  its relevant and makes a big difference in the security of the boxes I am managing. Thank you StevenBlack :O)

[2020-02-25 08:28] 93RS commented on #450
Again, thank you very very much! The host list is AWESOME! :)

[2020-02-25 22:03] dschaper opened #1172 "use-application-dns.net should not be 0.0.0.0"
If the canary domain for Firefox returns an A or AAAA record then DoH is enabled in Firefox.

Can this domain please be removed from the list? It overrides the Pi-hole canary disable function to have it on the hosts list.

[2020-02-25 22:13] luzat commented on #1172
For reference, explanation of the domain usage: https://support.mozilla.org/en-US/kb/canary-domain-use-application-dnsnet

[2020-02-26 02:56] StevenBlack commented on #1172
Thanks Dan @dschaper — the domain `use-application-dns.net` comes to us via AdAway.

@jawz101 can you please take a look at this, and advise?  Thanks!

[2020-02-26 02:59] StevenBlack commented on #1172
Whoops @jawz101 thanks, I see that's fixed already.

Keep one step ahead of me, I like that 😄

Dan I'm going to spin a fresh release right now.

Closing.

[2020-02-26 02:59] #1172 closed

[2020-02-26 03:21] StevenBlack commented on #1167
Thank you for this, @garbledos.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

Can you please submit this request to [one of our curated sources](https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant)?  I have no knowledge of these domains, and I'm weary of add

[2020-02-26 03:21] #1167 closed

[2020-02-26 19:33] enguerran opened #1173 "cdn.trackjs.com"
Hi,

I recently installed a pi-hole on my local network and discovered a broken website https://tajinebanane.fr/. This is a shopify website and cdn.trackjs.com is needed to choose a delivery point.
I did some research on trackjs.com services. I understood well that it could trace many user behaviors when browsing websites, however I wonder if the blocking of the cdn.trackjs.com sub-domain is not o

[2020-02-27 03:31] StevenBlack commented on #1173
Hi @enguerran!  The domain `cdn.trackjs.com` comes to us via mvps.org, which is a well-respected and reliable curator of hosts.

Please report this to their email: winhelp2002@gmail.com

From past experience, we can trust the people at mvps.org to do the right thing.

They are due to release an update soon so, if you hurry, maybe your appeal can land before they brew their next release.

Let me kn

[2020-02-27 03:31] #1173 closed

[2020-02-28 01:14] vvcares opened #1175 "Important website - remove from blacklist"
Hi,
mobile.pipe.aria.microsoft.com - this url can be remove from the blacklist of GAMBLING. This seems not to be a blacklisted domain & occupying max blacklisted records on the network,

I did my whitelist, but better if this not to be blacklisted on your list.

[2020-02-28 02:31] mstonebot opened #1176 "Spotify connection issue"
Hello,

I've been using your hosts for quite a long time and firstly I want to thank you for your work. However, when I decided to update hosts to the latest version I faced some issues with Spotify, it simply wont connect to its servers. By trial and error I found out that the last working version for me is 2.5.40, issues starting with 2.5.41 and higher.

[2020-02-28 02:43] llacb47 commented on #1176
Can't reproduce.

[2020-02-28 03:04] llacb47 commented on #1176
How are you using this hosts file? Can you post a log that shows the domains that are being blocked when you open spotify?

[2020-02-28 11:36] moved-to-gitlab opened #1177 "Including channelwebsdks.azureedge.net breaks Windows 10 Quick Assist"
The domain `channelwebsdks.azureedge.net` is included by default and [originates from the AdAway blocklist](https://raw.githubusercontent.com/AdAway/adaway.github.io/master/hosts.txt). That may make sense for their Android app but it prevents the Windows 10 "Quick Assist" app from connecting.

Can this domain be whitelisted please?

Here is a link to Microsoft's documentation confirming that URL i

[2020-02-28 13:41] StevenBlack commented on #1177
@jawz101 can you please take a look at this? Thank you, as always.

[2020-02-28 15:11] StevenBlack commented on #1175
Hi @vvcares the domain `mobile.pipe.aria.microsoft.com` comes to us via AdAway.  It's in all our lists.

@jawz101 can you look at this one, as well?  Thanks.

[2020-02-28 19:17] jawz101 commented on #1177
removed

[2020-02-28 19:35] StevenBlack commented on #1177
Thanks @jawz101.  Closing.

[2020-02-28 19:35] #1177 closed

[2020-02-28 19:46] jawz101 commented on #1175
Well, I agree that it's not be a gambling-related DNS entry.  And this has been discussed [before](https://github.com/StevenBlack/hosts/issues/970)

I'd have to have good reason to remove it.  Just because it hits a lot isn't a reason.  Not receiving emails or draining a phone's battery due to repeated requests are good reasons.  I can say that the Outlook mobile app for Android aggressively tries

[2020-02-28 19:51] StevenBlack commented on #1175
@jawz101 Sorry if I wasn't clear.  The  domain `mobile.pipe.aria.microsoft.com` is in all our lists.  Which means it is in our base list.  OP was probably only looking in the gambling list.

I agree with you; this domain stays blocked.

Closing.

[2020-02-28 19:51] #1175 closed

[2020-02-29 17:14] funilrys commented on #1079
.

[2020-03-01 03:36] StevenBlack commented on #1176
We introduced a big update from AdAway for version 2.5.41.

AdAway blocks these Spotify domains:

[code]

Those all appear nominally blockable to me.

[2020-03-02 00:22] danieljudd opened #1178 "ns.exitgames.com"
This seems to be blocking some game servers such as "Bloody Trapland".

The URL belongs to https://www.photonengine.com/ which lists a few other popular titles.

[2020-03-02 00:27] llacb47 commented on #1178
Already fixed in source list https://github.com/AdAway/adaway.github.io/commit/190410b47a55cec1339e48b6fe142d2ed62b4538

[2020-03-02 01:22] aizuon opened #1179 "Usage permission"
I've used the unified hosts file from this repo to create an application that fetches hosts file periodically from the web and compares it to local hosts file and updates if its different.

My question is if usage of this hosts file from outside sources is permitted. You can access my repo on https://github.com/aizuon/AutoAdBlock

Thanks in advance

[2020-03-02 05:38] dark-nova opened #1180 "api.ipify.org is blocked"
Hi,

I don't know if you pull changes from [AdAway](https://github.com/AdAway/adaway.github.io), but here is a relevant issue from there as well: AdAway/adaway.github.io#57. I did not see this entry in any of the other lists supplied by Pi-hole and the list used by AdAway also appears to be similar.

I use ipify, so please consider removing the entry as it has broken a personal project. (I have te

[2020-03-02 05:43] StevenBlack commented on #1179
Hi @aizuon thank you for asking!  The license here is very permissive and as long as you comply with it, you’re good!

Best of luck and I’m always happy to help!

Closing.

[2020-03-02 05:43] #1179 closed

[2020-03-02 05:46] StevenBlack commented on #1180
Hi @dark-nova thanks for this!  I trust the people who curate the AdAway list to do the Right Thing.

Closing.

[2020-03-02 05:46] #1180 closed

[2020-03-02 05:48] StevenBlack commented on #1178
Thanks LE @llacb47 for the assist.

Closing.

[2020-03-02 05:48] #1178 closed

[2020-03-02 06:42] #1176 closed

[2020-03-02 15:01] angelss197200 opened #1181 "Add AdguardDns Filter as a hosts sources"
I've been using the [AdguardDns](https://github.com/AdguardTeam/AdGuardDNS) service  for a while and its really effective against ads.
Currently I trying to use pihole with cloudflare dns.
I'm just wondering if it could be possible to add AdguardDns [filter](https://github.com/AdguardTeam/AdguardSDNSFilter)

[2020-03-02 17:07] linuxandria commented on #93
I've noticed if you go above 10k hosts in win10 dns is unusable, like all reqeuests time out

[2020-03-03 01:46] bigdargon commented on #1181
Hi @angelss197200

AdGuardSDNSFilter (AdGuard Simplified domain names filter) is similar to StevenBlack's hosts, meaning it is made up of many filters, but different in hosts and filter formats. This file template: https://github.com/AdguardTeam/AdGuardSDNSFilter/blob/master/Filters/filter.template

With the hosts format, you must list all subdomains in the block list and the host format only bloc

[2020-03-03 03:02] angelss197200 commented on #1181
So you are telling me that:
It isn't possible to merge with the hosts file
And it is more practical the adguard way

[2020-03-03 03:21] llacb47 commented on #1181
How about one of these two:
[code]

[2020-03-04 01:09] StevenBlack commented on #1181
LE @llacb47 using my [hoststools](https://github.com/StevenBlack/hostsTools) — a side-project for now — I get the following report

[code]
so `AdguardDNS.txt` would contribute 25,377 new domains.

Looking at `AdguardDNS.txt`, eyeballing from top to bottom, man that file is a mess.  I have a legitimate question: how does one curate a large, random order file?

Interesting the file contains 29,193 d

[2020-03-04 02:43] dnmTX commented on #1181
@StevenBlack  just to pass out some info(regarding the duplicates,only). As i'm not sure how exactly the AdGuard team executing their DNS protection,i can confirm on their adblocker app(windows PC) whenever there is a update on one of their lists the program automatically filtering the duplicates before it's loaded(this is based on me looking at the logs after list update).
So i guess it could be

[2020-03-04 03:59] angelss197200 commented on #1181
@StevenBlack  that is not the official filter, that is one converted by  @r-a-y
this is the official
https://github.com/AdguardTeam/AdGuardSDNSFilter

[2020-03-04 04:33] r-a-y commented on #1181
Yes, I wrote the HOSTS converter for the AdguardDNS list mentioned in this thread.

I never noticed the duplicates because I don't go through each line.  Like you said, 20,000+ lines is a lot of domains!  That, and AdAway (which I use this list with) automatically removes duplicates so it's not a big issue for me.

If I were to remove the duplicates, it would mean I'd have to track each domain dur

[2020-03-04 05:34] r-a-y commented on #1181
Okay, turns out the memory usage was minimal!  I've removed the duplicate domains from my list.  Check out the updated list: `https://raw.githubusercontent.com/r-a-y/mobile-hosts/master/AdguardDNS.txt`

Steven, let me know if you still spot any issues.

[2020-03-05 16:36] StevenBlack opened #1182 "Firefox DNS over HTTPS bypasses the local hosts file"
Just leaving this here.  Heads up!

Firefox' DNS over HTTPS feature is potentially really great.

One problem: this evidently bypasses the local hosts file.  So if this is enabled, you get the full advertising/tracking browsing experience.

Anybody have any ideas?

![2020-03-05_11-32-39](https://user-images.githubusercontent.com/80144/76003015-7c057980-5ed5-11ea-9d86-bf25466754d3.jpg)

[2020-03-06 02:39] StevenBlack commented on #1182
Thanks Nissar @funilrys.  I'd like to nominate this mozilla support page for a prize, as the worst.  Just awful.

[2020-03-06 03:09] llacb47 commented on #1182
Related: https://github.com/StevenBlack/hosts/issues/1172

[2020-03-06 11:56] XhmikosR opened #1183 "http://winhelp2002.mvps.org/ certificate broken"
So, apparently the SSL certificate for https://winhelp2002.mvps.org/ has expired. I'm not sure if this is just a one time thing, but if it's not automated, we might as well switch back to the http link.

If anyone is in touch with them, please let them know in case they are not aware, that they need to automate this, otherwise it's moot since Let's Encrypt's certificates expire every 90 days :/

[2020-03-07 18:25] funilrys commented on #1183
It's probably automated. It's just that their client did not recognize that it needs to renew some of their certificates.

It's all probably because of [2020.02.29 CAA Rechecking Bug](https://community.letsencrypt.org/t/revoking-certain-certificates-on-march-4/114864).

Can you contact them about this Steve @StevenBlack ?

[2020-03-07 19:55] StevenBlack commented on #1183
I just adjusted the link to vanilla `http` and when they get sorted, we'll switch it back.

Some of you feel like automating certificates on Windows is a thing 😄 — maybe it is, I just know that if there's a clusterfk on Windows, that may be it.

Closing.

[2020-03-07 19:55] #1183 closed

[2020-03-08 20:42] slvxstar opened #1184 "OneSignal"
Exact match for **onesignal.com** found in:
   https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts

OneSignal - Push Notifications Delivered
powering mobile push, web push, email, and in-app messages

It is advisable to remove it from the block sheet

[2020-03-08 22:09] StevenBlack commented on #1184
Hi @slvxstar the `onesignal.com` is flagged by no fewer than five of our curated sources.

Think about it.  Five.

This isn't going to change.

Closing.

[2020-03-08 22:09] #1184 closed

[2020-03-09 04:32] #478 closed

[2020-03-09 04:32] #600 closed

[2020-03-09 04:32] #678 closed

[2020-03-09 04:32] #636 closed

[2020-03-09 04:32] #818 closed

[2020-03-09 04:32] #809 closed

[2020-03-09 04:32] #823 closed

[2020-03-09 04:32] #645 closed

[2020-03-09 04:32] #643 closed

[2020-03-09 04:32] #467 closed

[2020-03-09 04:32] #595 closed

[2020-03-09 04:32] #619 closed

[2020-03-09 04:32] #857 closed

[2020-03-09 04:32] #880 closed

[2020-03-09 04:32] #801 closed

[2020-03-09 04:32] #920 closed

[2020-03-09 04:32] #668 closed

[2020-03-09 04:32] #926 closed

[2020-03-09 04:32] #931 closed

[2020-03-09 04:33] #930 closed

[2020-03-09 04:33] #828 closed

[2020-03-09 04:33] #972 closed

[2020-03-09 04:33] #912 closed

[2020-03-09 04:33] #1018 closed

[2020-03-09 04:33] #819 closed

[2020-03-09 04:33] #970 closed

[2020-03-09 04:33] #844 closed

[2020-03-09 16:09] me-ch opened #1185 "How to contribute to hosts file?"
Hi, I would like to add 280 more subdomains of cdninstagram.com to this project's sources, I have already added them to my personal hosts file. How could I contribute to this project so that these might be added to the generator sources when a user selects the social extension?

[2020-03-09 16:59] StevenBlack commented on #1185
Hi @me-ch I'm guessing that `cdninstagram.com` is social media-related?

If so, then you can contact one of our social media curated sources.  Either @Sinfonietta [here](https://github.com/Sinfonietta/hostfiles/issues) or @tiuxo [here](https://github.com/tiuxo/hosts/issues).

Thanks!

Closing.

[2020-03-09 16:59] #1185 closed

[2020-03-12 04:04] irishboym4 opened #1187 "Unblock thewinesteward.com"
Hello,

I wanted to report that there is a domain, thewinesteward.com that is on the blocklist and shouldn't be.

Thank you,

[2020-03-14 09:07] ikonia opened #1188 "RFC: file formatting change"
As this list has grown and matured the quality of coverage has grown.
to curate the list comments have become more frequent, such as
0.0.0.0 adelogs.adobe.com  #See http://www.theregister.co.uk/2014/10/07/adobe_digital_editions_4_caught_snooping_into_ebook_collections_of_users/

or 0.0.0.0 static.smni.com  # Santa Monica - popunders
this is really useful at a glance, however it makes using the lis

[2020-03-14 16:45] StevenBlack commented on #1187
Hi @irishboym4 the domain `thewinesteward.com` comes to us via Malware Domain List.

Can you please [contact them](https://www.malwaredomainlist.com/contact.php), and make your case there?  Thanks.

Closing.

[2020-03-14 16:45] #1187 closed

[2020-03-15 04:14] StevenBlack commented on #1143
This is done in PR #1189!

[2020-03-15 04:14] #1143 closed

[2020-03-15 05:20] swapneelp commented on #1182
Just putting this as a concern that needs to be still looked at, if the user manually enables DOH in Firefox, it bypasses everything (hosts file, recursive resolver configured in the OS) i.e the canary domain workaround doesn't work.

[2020-03-15 17:06] StevenBlack commented on #1182
Yes Swapneel @swapneelp I agree.  I don't understand why this feature works this way.

I understand the browser encrypts the DNS request.  That has to happen somewhere, in a way that doesn't "leak" anything about the request.

Maybe this is the only way this could work.  It just seems like, there must be a better way.

[2020-03-15 17:21] swapneelp commented on #1182
@StevenBlack DoH hijacks control of DNS away from network operators (like me) who use the DNS to block malicious content and protect small networks. A much saner option was DoT(rfc7858). DoH now raises the costs for everyone using DNS as a layer of defense. To summarise, the fantastic blocking lists that you folks curate and maintain will now need a solution at the OS packet layer to glue and make

[2020-03-16 14:12] StevenBlack commented on #1188
Hi Matt @ikonia I'm toying with the concept of providing compact version of all our hosts files.

* Pure hosts files with no comments, sorted by `domain asc, tld asc, subdomain asc, subsubdomain asc` (pseudocode)
* List of domains, sorted as above, without the IP address prefix.

My [hostsTools repo](https://github.com/StevenBlack/hostsTools) (written in Go) can do this now but, beware, I still ne

[2020-03-17 13:25] ikonia commented on #1188
@StevenBlack that seems a really good approach, I do see the value in the comments as the list grows, but maybe this would go away if it was split out into multiple smaller lists, which the definition of the list the individual URLS fell into would act as a guideline or top level comment.
I'll have a look at your host tools repo and will be a happy guinea pig on this, as I really see the value of

[2020-03-18 02:40] vrozsas13 opened #1190 "Politically biased source"
Is there any reason for you to still be using a politically biased source for the fake news extension?
A lot of right-wing leaning news outlets are being blocked, while left-wing leaning websites with a long publicly known history of publishing fake news are not blocked (like CNN, since it's report on Saddam's supposed WMDs, it consistently lowered it's bar and became more of a propaganda tool tha

[2020-03-18 02:46] llacb47 commented on #1190
If you don't like the list, you don't have to use it.

[2020-03-18 02:49] vrozsas13 commented on #1190
Thanks for the suggestion, but I'm not using it already.
I don't need to, I have a brain, I can think for myself.

[2020-03-18 03:05] vrozsas13 commented on #1190
You're really using wikipedia as your reference/source? They cite ADL, that considers anything to be a hate symbol and everyone to be spreading hate.
The ADL is not only biased, it's also radical.

Jihad Watch explicitly excludes "Muslims"  (as a generic term) from the issue. Their focus is on the extremists ("violent jihad" - as they put it, since there's other forms of jihad and they seem to ack

[2020-03-18 03:50] vrozsas13 commented on #1190
I'm reposting my last comment but this time I excluded a whole paragraph where I committed a phalacy (sorry for my stupidity). Below follows my previous comment (deleted) minus the phalacy:

Jihad Watch explicitly excludes "muslims"  (as a generic term) from the issue. Their focus is on the extremists ("violent jihad" - as they put it, since there's other forms of jihad and they seem to acknowledg

[2020-03-18 04:01] StevenBlack commented on #1190
I don't deal with bullshit from entitled anon.

Closing.  And locking.

[2020-03-18 04:01] #1190 closed

[2020-03-24 19:52] rjhancock commented on #1100
Looks like the latest Safari (13.1) released today blocks the method used by Apomaya. Tested both 9to5 and Kansas. Neither showed ads.

[2020-03-24 21:03] llacb47 commented on #1100
What do you mean? Safari out of the box w/ no extensions on macOS? Their normal homepages didn't show ads, or just the redirected homepage served by Apomaya?

[2020-03-24 21:06] rjhancock commented on #1100
Safari, out of the box, no extension, on any page I went to on 9to5 Mac did NOT redirect to an Apomaya served page.

Note: I'm still using my LittleSnitch powered rules to block ads. Before it required disabling javascript and now it doesn't.

[2020-03-24 21:09] llacb47 commented on #1100
Oh, well that (is / could be) because 9to5mac temporarily (?) removed the apomaya code from their site. It's still on 9to5google, `dronedj.com`, and `kansas.com`.

[2020-03-24 21:12] rjhancock commented on #1100
Damn. That's probably it then. ```Kansas.com``` I didn't see any ads, ```droned.com``` I did.

[2020-03-28 21:27] scafroglia93 opened #1195 "Smart TV ads & tracker (2020)"
https://cloud.linuxfabrik.io/index.php/s/dJRTmz5aWQZgpFc

This is pdf about research for smart tv ads and tracker

It's my safe nextcloud space

[2020-03-28 21:51] llacb47 commented on #1195
Better link: https://athinagroup.eng.uci.edu/projects/smarttv/

[2020-03-29 16:54] scafroglia93 opened #1196 "march262020.best"
Source ->
https://www.vmray.com/analyses/5b6f0d05a10d/report/network.html#f35d1067e184444db88cec6b0f67725b

Domain ->
march262020.best

[2020-03-29 21:45] StevenBlack commented on #1196
Thanks Lorenzo @scafroglia93, I've added this one.

Closing.

[2020-03-29 21:45] #1196 closed

[2020-03-29 21:49] StevenBlack commented on #1195
Hi Lorenzo @scafroglia93 how is this actionable in a hosts file?

I hate issues such as this.  You're effectively saying, "*Steve, here is the entrance to a rabbit hole, buh-bye.*" while contributing almost no context, and no analysis.  You're just dumping this here.

Closing.

[2020-03-29 21:49] #1195 closed

[2020-03-29 22:26] dnmTX commented on #1196
![March262020 best](https://user-images.githubusercontent.com/34774426/77862567-0645b280-71e2-11ea-98ff-da7b120c4e2c.png

might be a good idea to add it as well Steve @StevenBlack

[2020-03-30 01:04] t-makaro opened #1197 "Xbox Live for Windows Whitelist"
The following domains are needed for xbox functionality on windows, but are blocked by your lists:
v10.events.data.microsoft.com
v10.vortex-win.data.microsoft.com

Source: https://discourse.pi-hole.net/t/commonly-whitelisted-domains/212

[2020-03-30 02:00] StevenBlack commented on #1197
Hi Tyler @t-makaro !

The domain `v10.events.data.microsoft.com` comes from my ad-hoc list.  This has been in the list for awhile, and nobody's complained.  Are you sure?

The domain `v10.vortex-win.data.microsoft.com` comes to us via `someonewhocares.org`.  That domain has been in this list for over 2-years, and nobody has said boo.

So I'm skeptical...  Again, are you sure?  Any xboxers out ther

[2020-03-30 02:05] StevenBlack commented on #1197
Tyler @t-makaro, reading the link you posted, I see what you mean.

If I douse `v10.events.data.microsoft.com`, which I'm happy to do, you'll still need to submit `v10.vortex-win.data.microsoft.com` at someonewhocares.org.  Fair enough?  Contact Dan Pollock at hosts@someonewhocares.org.

[2020-03-30 02:16] StevenBlack commented on #1196
Absolutely Dan @dnmTX thanks.  Done.

[2020-03-30 02:18] t-makaro commented on #1197
Both of those domains were confirmed by Microsoft as needed for xbox functionaility. I'm not sure what functionality ```v10.vortex-win.data.microsoft.com``` breaks (I can still submit it), but ```v10.events.data.microsoft.com``` definitely breaks achievement unlock functionality (which is the functionality I'm more concerned about).

My guess is that most people who are affected by this just white

[2020-03-30 02:22] StevenBlack commented on #1197
Thanks Tyler @t-makaro.  The domain `v10.events.data.microsoft.com` is gone now and it will be in the next release, coming in 5.

Dan Pollock is a good egg and he'll eval `v10.vortex-win.data.microsoft.com` on its merits, and trust him to do the Right Thing.

[2020-03-30 02:23] #1197 closed

[2020-03-30 23:53] t-makaro commented on #1197
Dan said that he removed ```v10.vortex-win.data.microsoft.com```.

[2020-03-31 06:20] AngelTs opened #1200 "di.fm detect modificated host. Any solution?"
Online radio di.fm detect my own custom made host with fakenews and stop playiing . Is there a working solution?

[2020-03-31 11:57] MysteryMulberry opened #1201 "请求添加"
https://饿饭.cc/
https://worldoor.club/
https://fuqiangpai.com/
https://adoncn.com/vultr.html
https://www.cesafe.com/vps
https://v2box.net/#/register?code=8myBaFXE
https://portal.cylink0123.icu/auth/register
https://decline.hitun.io/403/
https://www.clashcloud.net/auth/register
efanccyun.net/
bwggo.com/bwgss/all
https://ijustmysocks.com/
https://redirect.rixcloud.workers.dev/
https://dlercloud.com/a

[2020-03-31 23:15] scafroglia93 opened #1202 "MA-774.022020: MyCERT Advisory - Espionage Campaign Based On Technical Indicators (APT40)"
Source ->
https://www.mycert.org.my/portal/advisory?id=MA-774.022020

Domain ->
yfleur.myftp.org
dynamics.ddnsking.com
accountsx.bounceme.net
vvavesltd.servebeer.com
capitana.onthewifi.com
kulkarni.bounceme.net
thestar.serveblog.net
invoke.ml

[2020-04-01 00:33] MysteryMulberry opened #1203 "Can you add some rss websites?"
104.27.136.214 feedx.xyz
66.42.58.11 feedx.net
104.26.13.87 docs.rsshub.app
138.201.58.89 feedex.net
208.97.169.138 ctrlq.org
207.38.86.222 feedsoso.com
66.228.47.94 feed43.com
192.243.118.206 rss.mifaw.com
149.129.57.220 werss.app
168.235.76.45 fraidyc.at
119.28.178.53 getpodcast.xyz
208.94.117.53 fivefilters.org
104.27.144.245 rssfeed.today

[2020-04-01 01:26] StevenBlack commented on #1203
Hi @MysteryMulberry can you elaborate what you're asking here?

[2020-04-01 01:31] StevenBlack commented on #1202
Thank you Lorenzo @scafroglia93 — these have been added.

Closing.

[2020-04-01 01:31] #1202 closed

[2020-04-01 01:32] StevenBlack commented on #1201
Hi @MysteryMulberry why should we add these domains?

[2020-04-01 01:34] StevenBlack commented on #1200
Hi Angel @AngelTs please identify which domains cause the problem you see, and let us know.

[2020-04-02 07:30] gajicm93 opened #1206 "Why is "graph.instagram.com" blocked?"
Why is this domain blocked?

It's a legit Instagram public API used by developers all around the world. I just lost half an hour trying to figure out why this domain was not working for me until I remembered it might be blocked by hosts..

[2020-04-02 13:14] gajicm93 opened #1207 "Request: Separate "privacy/analytics/tracking" category from unified hosts"
Hi. I'm writing this as someone who LOVES your project, regularly uses it, and recommends it all friends and family as the primary ad blocker.

BUT, I'm writing this as a general request related to my specific bug report (#1206), and as a software developer whose part of the job is to often work with services like Google Analytics and many other which are used to anonymously track users, and I'm s

[2020-04-02 13:27] llacb47 commented on #1207
If you use pihole, you can just whitelist these hosts. Also, it probably won't be possible for the unified host list to not include analytics, as the source lists make no distinction between adware, malware, or "legit" ads/analytics/tracking.

[2020-04-02 13:32] gajicm93 commented on #1207
I'll take that into consideration, thanks.

[2020-04-03 04:19] StevenBlack commented on #1207
Hi Marko @gajicm93 I'd love to do that.

As LE @llacb47 points out, the distinction is tough because each hosts source granulates differently.  In general advertising is lumped with with general malware.

I suppose a solution to might be to seek out and implement finer-grained lists.

Are you on Mac or Linux?  [Hostile](https://github.com/feross/hostile) — mentioned in the ReadMe under [Interestin

[2020-04-03 04:24] StevenBlack commented on #1206
Hi Marko @gajicm93.  The `graph.instagram.com` comes to us via yoyo.org.  Can you please submit this to pgl@yoyo.org?

Interesting that `graph.instagram.com` was added two years ago, so we've had it listed for awhile.  In your discourse with yoyo, I'd be interested to know why it's blocked.  Perhaps the Social Media extension would be a better place for that.  See what they say.

[2020-04-03 04:25] StevenBlack commented on #1200
Seeing no reply, closing.

[2020-04-03 04:25] #1200 closed

[2020-04-03 04:26] StevenBlack commented on #1203
Seeing no reply, closing.

[2020-04-03 04:26] #1203 closed

[2020-04-03 04:27] StevenBlack commented on #1201
Seeing no reply, no engagement, closing.

[2020-04-03 04:27] #1201 closed

[2020-04-03 04:48] StevenBlack commented on #1181
Time is ticking on this one...  Sorry for the delay @angelss197200 and Ray @r-a-y.

I guess I'm still not sold on this one for two reasons.

1) You can't curate a hot mess, and

2) Adding this would jack our base-list hosts count by about 50%.  We've been larger than that before, we can certainly live there.

I'm in the process of eyeballing a diff between March 1 and the latest version.  Here's w

[2020-04-03 04:55] StevenBlack commented on #1181
Here's an interesting comparison of the TLD tally in both lists, for TLD with > 100 domains.

Adding AdGuard gives us much better Russia/Asia coverage.  At least, nominally just based on numbers..

[code]

[2020-04-03 06:40] dnmTX commented on #1181
What about duplicates?

[2020-04-03 07:08] r-a-y commented on #1181
It's not my list per se; it's Adguard's and they have a pretty good track record with adblocking.

Their filter list is actually quite well-curated:
[code]

You can find their source here:
[code]

I just chose to strip the comments because it's not necessary in my eyes.

The only issue is sometimes my converter might have some parsing problems, but that's on me. I will not feel offended if you dec

[2020-04-03 09:41] gajicm93 commented on #1207
I'm on a Mac so I'll look into it, thanks!

[2020-04-03 11:25] AnonymousPoster commented on #1202
s/yfleur.myftp.org/byfleur.myftp.org/

![image](https://user-images.githubusercontent.com/5105020/78355760-8ab37f00-75ae-11ea-91a3-5b92788fb3aa.png)

[2020-04-03 13:14] AnonymousPoster commented on #1197
| Source process | Protocol | Destination |
| -- | -- | -- |
| svchost | HTTPS | v10.vortex-win.data.microsoft.com/collect/v1 |

source: https://docs.microsoft.com/en-us/windows/privacy/manage-windows-1809-endpoints

[2020-04-03 14:16] AnonymousPoster commented on #1195
Hi @scafroglia93 Sorry for the previously posted comments.

You did link to a document longer than 140chars so your post(report) are therefore "fake"-news for non EU citizens :thinking:

However I would be pleased if you would allow either me or one of you re-posting the report at https://www.mypdns.org/w/

[2020-04-03 14:19] StevenBlack commented on #1195
@AnonymousPoster fuck you.

[2020-04-03 14:51] llacb47 commented on #1195
Go away @AnonymousPoster, you are a sockpuppet of spirillen. You already got banned from this repo once.

https://github.com/mypdns/matrix/graphs/contributors

[2020-04-03 14:59] StevenBlack commented on #1181
Those are good points Dan @dnmTX — I'll engage with them directly, and see what they say.

[2020-04-04 04:21] ADVENTAvenger opened #1209 "HOSTS addition to block ads"
Please add:

0.0.0.0 tracking.scenepass.com
0.0.0.0 cdn.creativesumo.com
0.0.0.0 cdn3.bestcontenttrade.top
0.0.0.0 cdn2.bestcontenttrade.top
0.0.0.0 cdn1.bestcontenttrade.top
0.0.0.0 cdn.bestcontenttrade.top
0.0.0.0 a.bestcontentfood.top
0.0.0.0 b.bestcontentfood.top
0.0.0.0 a.bestcontenttrade.top
0.0.0.0 b.bestcontenttrade.top

This blocks everything on motherless.com when the site forces you to

[2020-04-04 05:32] StevenBlack commented on #1209
Ping @sinfonietta, this one's yours, I think.

Closing.

[2020-04-04 05:32] #1209 closed

[2020-04-04 12:22] superlex commented on #1183
@StevenBlack
Hello,
now it seems fixed :)

[2020-04-04 12:24] XhmikosR commented on #1183
TBH I wanted to wait until at least 90 days pass to make sure autorenewal works fine...

[2020-04-06 14:54] scafroglia93 opened #1211 "deliveroo.com.sg (whitelist)"
whitelist please, is legit

[2020-04-06 15:23] yllekz opened #1212 "Incorporate SpyBot Immunization List?"
Spybot - Search and Destroy for Windows has a feature called [Immunization](https://www.safer-networking.org/faq/what-is-immunization/) where it adds large amounts of entries to your local Windows hosts file for protection. I was wondering if this could be incorporated into the StevenBlack hosts collection?

[2020-04-06 15:49] CyanoTex opened #1214 "A few domains to add."
Here they are!

ads-bi.zenkube.com
services.insurads.com
cdn.insurads.com
msg-0209861dced41c7ef.insurads.com
messaging.insurads.com
adsaccount.appcpi.net
analytics.xl.pt
adservice.google.be

[2020-04-06 16:48] StevenBlack commented on #1211
Thanks @scafroglia93 the domain `deliveroo.com.sg` comes to us via AdAway, so it's upstream.

Ping @jawz101, what say you?

[2020-04-06 16:50] StevenBlack commented on #1214
Hi @CyanoTex thank you for this.

Can you please add some context?  Why should each of these be blocked?

[2020-04-06 16:56] StevenBlack commented on #1212
@yllekz this list is where exactly?

[2020-04-06 17:11] yllekz commented on #1212
The list is pulled from the Spybot Search and Destroy application on Windows. When the latest update definitions are downloaded, the user runs the Immunization module to pull the latest entries which are written to hosts.

I cannot seem to find any other way to pull the list other than immunizing a system and then scarfing the entries written to the hosts file. The latest Immunization file pulled

[2020-04-06 17:19] CyanoTex commented on #1214
[I was told by Romain Cointepas over at nextdns/metadata to place these suggestions here, as the NextDNS recommended blocklist uses Steven Black among others.](https://github.com/nextdns/metadata/issues/91#issuecomment-609872727)

I did a search for 'ads' and 'analytics' on my NextDNS config's logs page and stumbled into these.

ads-bi.zenkube.com: A search on Google suggests it might be coming fr

[2020-04-06 17:35] StevenBlack commented on #1212
Thanks @yllekz.

We won't be able to add this, for several reasons.  First, the list doesn't legitimately exist in an accessible form.  Second, licensing looks like a blocker, here.

Closing.

[2020-04-06 17:35] #1212 closed

[2020-04-06 23:28] jawz101 commented on #1211
removed.  Thanks

[2020-04-07 01:53] StevenBlack commented on #1214
Thanks @CyanoTex these domains are added.

Closing.

[2020-04-07 01:53] #1214 closed

[2020-04-07 01:54] StevenBlack commented on #1211
Thanks @jawz101 and thanks Lorenzo @scafroglia93.

This is live now in the latest release.

Closing.

[2020-04-07 01:54] #1211 closed

[2020-04-07 14:58] XhmikosR commented on #1181
I'd personally be very interested in seeing this assuming there are no problems with AdGuard themselves + licensing.

BTW I started using @r-a-y's list and it works pretty good. I was using <https://v.firebog.net/hosts/AdguardDNS.txt> before but there's no repo to track the changes and I'm not sure how frequently the list gets updated.

My only suggestion would be to sort the domains; it helps wit

[2020-04-07 22:33] pengc99 opened #1215 "Script not taking command line arguments"
Operating system: Debian 10.3
Python version: Python 3.7.3

Running the script and passing the command line arguments with values of true / false per the readme file results in an error saying the command line arguments were recognized:

[code]

However, running them with the arguments without any values works:

[code]

Am I somehow using the script wrong or reading the readme file wrong? I know r

[2020-04-08 01:56] StevenBlack commented on #1215
Hi Andrew @pengc99

In your example, `--keepdomaincomments`, `--skipstatichosts` `--minimise` are flags.  Flags are either set, or not.  You don't pass arguments or options to flags.

I agree, this distinction could be clearer in the help text.

[Here's the code](https://github.com/StevenBlack/hosts/blob/303a3eb63d7276a0d185d766f1cba72a2edb635e/updateHostsFile.py#L90-L195) where flags and options

[2020-04-08 12:25] scafroglia93 opened #1219 "Whitelist -> hidemyass.com"
hidemyass.com is legit site (VPN)

[2020-04-08 13:17] pengc99 commented on #1215
I understand, thanks for clarifying. I'll submit a pull request to help clear up the wording on the flags.

[2020-04-08 13:17] #1215 closed

[2020-04-08 18:50] StevenBlack commented on #1219
Thanks Lorenzo @scafroglia93 — I have reported this to Tomasz over in the add.Risk repo: https://github.com/FadeMind/hosts.extras/issues/31

[2020-04-09 07:09] scafroglia93 opened #1220 "kinsing malware container"
Source ->
https://blog.aquasec.com/threat-alert-kinsing-malware-container-vulnerability

IoC ->
www.traffclick.ru
www.mechta-dachnika-tut.ru
www.rus-wintrillions-com.ru
rus-wintrillions-com.ru
stroitelnye-jekologicheskie-materialy2016.ru

[2020-04-09 10:14] scafroglia93 opened #1221 "Trickbot"
Source -> https://securityintelligence.com/posts/itg08-aka-fin6-partners-with-trickbot-gang-uses-anchor-framework/

drive.staticcontent.kz
metric.onlinefonts.kz
host.moresecurity.kz

[2020-04-09 13:33] scafroglia93 opened #1222 "Fake Webex Page (scam)"
IoC ->
globalpagee-prod-webex.com

Cheers

[2020-04-09 15:20] ammnt commented on #1220
These domains in not registered now:
mechta-dachnika-tut.ru
rus-wintrillions-com.ru
stroitelnye-jekologicheskie-materialy2016.ru

You can check this via official WHOIS here:
https://cctld.ru/en/service/

[2020-04-09 19:10] StevenBlack commented on #1219
This is fixed in the 2.6.0 release, Lorenzo @scafroglia93.

Closing.

[2020-04-09 19:10] #1219 closed

[2020-04-10 07:06] scafroglia93 opened #1223 "Multiple False Positive"
bet-at-home.com -> legit betting site
betclic.com -> legit betting site

[2020-04-10 07:10] scafroglia93 commented on #1223
10bet.com
12bet.com
bet365.com

[2020-04-10 09:51] pgl commented on #1206
Hi Guys. `graph.instagram.com` was added on Sat, 27 Jan 2018 15:39:08 as @StevenBlack pointed out.

It was added because my understanding of the domain is that it's used for tracking user behaviour. If this is incorrect, please let me know and I'll remove it from my list.

If it is used for tracking, but also breaking legitimate sites, then this is a weaker reason for removal but worth considering

[2020-04-10 09:51] pgl commented on #925
Please see my reply in #1206

[2020-04-10 10:14] MitchellCash commented on #1206
@pgl out of curiosity, was there a reason why `graph.instagram.com` made the list, but `graph.facebook.com` did not? As both are Facebook owned properties, I imagine they have similar use cases.

According to the Facebook documentation (https://developers.facebook.com/docs/graph-api/overview/) on the Graph API that exists on these domains explains:

This doesn't include being an obvious tracking d

[2020-04-10 10:32] pgl commented on #1206
So, OK, it seems like this domain is used for developers really and not as a general tracking domain. I've removed it. Apologies for any inconvenience caused!

@MitchellCash `graph.facebook.com` didn't get added because I wasn't aware of it - I don't really use Facebook myself and it was never reported.

@StevenBlack Just FYI, but if you ever want to "whitelist" something with my list, you can use

[2020-04-10 20:17] John889 commented on #1223
Hi scafrogalia93,
Those are not blocked.
jrktube.com    -->unblocked porn site
www.pornflix.to -->unblocked porn site

[2020-04-10 20:20] scafroglia93 commented on #1223
What ??

[2020-04-10 21:35] dnmTX commented on #1223
@scafroglia93  so what is the difference between legit betting site and non legit one?

[2020-04-10 21:39] scafroglia93 commented on #1223
@dnmTX
there have been cases where some betting sites operated without licenses and others that turned out to be fraudsters while continuing to operate

Can it be enough?

[2020-04-10 21:46] dnmTX commented on #1223
Clear enough.Thanks 👍
Now...let me clarify something to you. The **gambling** extension that you're using is intended to block all websites that in one way or another betting/gambling is involved,not the once without proper license only. The extension is optional and would advise you to just stop using it.

[2020-04-10 21:55] scafroglia93 commented on #1223
@dnmTX
I'm not using the gambling extension so that's the problem

[2020-04-10 22:12] dnmTX commented on #1223
@scafroglia93 report it directly to the upstream's list maintainer: `hosts@someonewhocares.org`
Sorry,should've check the lists first before "confidently" answering 😉

[2020-04-10 22:39] scafroglia93 commented on #1223
I understand you, I also manage the lists that I keep manually to avoid false positives. You can find them on my git

[2020-04-11 01:15] StevenBlack commented on #1223
Hi Lorenzo @scafroglia93

These domains appear to all be upstream from us.

Nissar @funilrys can you comment on behalf of Badd-Boyz for  `10bet.com ` and `12bet.com`?

Look, everyone, I don't care whether a gambling site operates with a licence, or not.  I only care about malware/adware/tracking, and I care that gambling sites are properly slotted into the gambling extension IF they are not involv

[2020-04-11 01:18] StevenBlack commented on #1222
Thanks Lorenzo, this is added to my ad-hoc list.

Closing.

[2020-04-11 01:18] #1222 closed

[2020-04-11 01:19] StevenBlack commented on #1221
Thanks Lorenzo @scafroglia93 these are added.

[2020-04-11 01:19] #1221 closed

[2020-04-11 01:21] StevenBlack commented on #1220
Thanks Lorenzo, I've added `www.traffclick.ru`.  Thanks @ammnt  for the assist.

Closing.

[2020-04-11 01:21] #1220 closed

[2020-04-11 06:36] XhmikosR commented on #878
@StevenBlack I suppose you don't want to put Cloudflare in front of your host server? Otherwise, could you share a little more info about your server setup? I'm pretty sure nowadays there's a Let's Encrypt extension for almost every setup 🙂

[2020-04-11 06:38] XhmikosR commented on #1051
@StevenBlack Isn't this issue now solved with the latest list updates + Pi-hole v4.4?

[2020-04-11 06:43] XhmikosR commented on #528
@StevenBlack Isn't this issue solved now?

[2020-04-11 06:43] XhmikosR commented on #731
@StevenBlack I believe this is sort of a duplicate of #878?

[2020-04-11 06:44] XhmikosR commented on #925
@StevenBlack I believe you can close this issue and #1206 now that @pgl has removed the aforementioned domain 🙂

[2020-04-11 09:04] mitchellkrogza commented on #1223
At some point 10bet.com and 12 bet.com would have been flagged by me for referrer spam through my Nginx blocker project. They no longer appear in any logs from the past 14 months so removing them.

[2020-04-11 13:25] #528 closed

[2020-04-11 13:26] #925 closed

[2020-04-11 13:26] #731 closed

[2020-04-11 16:30] #1051 closed

[2020-04-11 18:27] StevenBlack commented on #1206
Thanks everybody.  And thanks for all you do Peter @pgl.

Closing.

[2020-04-11 18:27] #1206 closed

[2020-04-12 00:32] oconnor0 opened #1224 "Unblocked ad site"
I got served ads from qlzogd.edvfwlacluo.com; figured it was worth getting added to the lists. :)

[2020-04-12 01:21] llacb47 commented on #1224
FYI:
this is a domain used for ad reinsertion. You can see sites using the same delivery method (by the same company, I believe):

[code]

Note: test in guest mode (i.e. without uBlock origin, because uBo fixes the reinsertion script).

[2020-04-12 01:59] dnmTX commented on #1224
Such a (sub)domains are alive for 24 hrs. and then another one replaces it.
Not sure how one can keep up with that:
![Edvfwlacluo](https://user-images.githubusercontent.com/34774426/79058743-4faced80-7c37-11ea-9706-ca4e1aed3114.png)

[2020-04-12 03:50] oconnor0 commented on #1224
Oof, I didn't realize that. Almost need Windows and macOS and Linux to support wildcards in the hosts file. :)

[2020-04-12 17:41] StevenBlack commented on #1224
Hi Matthew @oconnor0 yes, wildcard in hosts files would have been nice.

Cheers!  Closing.

[2020-04-12 17:41] #1224 closed

[2020-04-12 19:36] StevenBlack commented on #1223
Closing!  Thanks everybody.

[2020-04-12 19:36] #1223 closed

[2020-04-12 21:42] scafroglia93 commented on #1223
@dnmTX
bet-at-home.com
betclic.com
bet365.com

For this -> hosts@someonewhocares.org ?

[2020-04-13 06:47] XhmikosR commented on #1181
For what is worth, I've found a couple more sources (I haven't compared them, just listing them)

* https://github.com/austinheap/sophos-xg-block-lists (https://github.com/austinheap/sophos-xg-block-lists/blob/master/adguard.txt)
* https://github.com/hectorm/hmirror (https://github.com/hectorm/hmirror/blob/master/data/adguard-simplified/list.txt)

Both seem to be automated.

[2020-04-13 10:27] CyanoTex opened #1226 "One analytics and one advert domain"
[code]

Found these unblocked while looking through search results on one of my NextDNS configurations. Not sure where these are present.

[2020-04-14 15:17] angelss197200 opened #1228 "Add biqle.com and biqle.org"
biqle.com is a mirror form biqle.ru
It is a porn site

[2020-04-14 18:49] StevenBlack commented on #1228
Ping @sinfonietta.

[2020-04-15 00:24] angelss197200 commented on #1228
add biqle.org too

[2020-04-15 11:39] CyanoTex commented on #1226
Added `analytics.inlinemanual.com`.

[2020-04-16 12:57] oguz-ismail opened #1229 "Ads started to appear on 4chan"
These are the domains they're loaded from
[code]

[2020-04-16 18:11] StevenBlack commented on #1229
Thanks @oguz-ismail — I've added these to my ad-hoc list.

Closing.

[2020-04-16 18:11] #1229 closed

[2020-04-18 09:19] XhmikosR commented on #283
Has there been any progress about this? I see the original source is still active and going 🙂

[2020-04-18 11:09] scafroglia93 opened #1232 "bad site -> ikezijik.ga"
kill it with fire ;)

[2020-04-18 11:44] Laicure opened #1233 "xHelper domains (+ips)"
Hi @StevenBlack,

Just want to add this for your reference regarding the xhelper malware thingy.

https://securelist.com/unkillable-xhelper-and-a-trojan-matryoshka/96487/

from above link:
[code]

Would love to have those (hostnames) on your list :D
Do close whenever you see fit.

[2020-04-18 12:31] scafroglia93 commented on #1233
Already present inside my list
https://github.com/scafroglia93/blocklists

[2020-04-18 13:42] scafroglia93 opened #1234 "Github Sawfish IoC"
Source ->
https://github.blog/2020-04-14-sawfish-phishing-campaign-targets-github-users/

IoC ->
aws-update.net
corp-github.com
ensure-https.com
git-hub.co
git-secure-service.in
githb.co
glt-app.net
glt-hub.com
glthub.co
glthub.info
glthub.net
glthubb.info
glthube.app
glthubs.com
glthubs.info
glthubs.net
glthubse.info
slack-app.net
ssl-connection.net
sso-github.com
sts-github.com
tsl-github.com

[2020-04-19 00:20] StevenBlack commented on #1234
Thanks Lorenzo @scafroglia93, these are in the list now.

Closing.

[2020-04-19 00:20] #1234 closed

[2020-04-19 00:23] StevenBlack commented on #1232
Thanks Lorenzo @scafroglia93.  The deed is done.

Closing.

[2020-04-19 00:24] #1232 closed

[2020-04-19 00:33] StevenBlack commented on #1233
Hi Laicurè @Laicure, I added these.  IP addresses are ignored by hosts file mechanisms.

[code]

Closing.

[2020-04-19 00:33] #1233 closed

[2020-04-19 10:48] Laicure commented on #1233
Thanks @StevenBlack!

[2020-04-20 00:01] Mindfu7 commented on #1020
It's Newscorp so saying legitimate is a very big stretch anyway

[2020-04-20 02:45] sonarypt opened #1235 "Few more porn sites"
I had my own repo on porn hosts file.
[https://github.com/sonarypt/kdam.ageVN](https://github.com/sonarypt/kdam.ageVN)
At 20/04/2020, I checked and compared this hosts file to your repo's, I got over 1000 sites that are not included yet. This would be really helpful for the Faptronauts.

Have a nice week ahead.

[2020-04-20 06:54] Tectract commented on #1020
Sounds like a bug on theaustralian . com. Trackers / redirectors are malware. You should complain to their site editors.

[2020-04-20 23:17] scafroglia93 opened #1237 "Fake VPN"
Source  ->
https://www.zscaler.com/blogs/research/fake-vpn-sites-deliver-infostealers

IoC ->
nordfreevpn.com
ws38.watashinonegai.ru
vpn4test.net

[2020-04-21 03:15] StevenBlack commented on #1235
Hi @sonarypt — **faptronauts**, that's funny.

Running my [ghosts](https://github.com/StevenBlack/ghosts) utility, comparing your list with our base list + porn, I get the following: 1,702 domains in yours, not in ours.  So your list would make a very nice addition to the sources used here.

[code]

[2020-04-21 03:23] StevenBlack commented on #1235
@sonarypt here's a breakdown of TLD in your list.  I think some of these are not legitimate TLD.  One example: `.cumlouder` is not a TLD.

[code]

[2020-04-21 03:30] StevenBlack commented on #1235
@sonarypt I suppose one issue is, we only use actively curated lists here. The [sonarypt/kdam.ageVN](https://github.com/sonarypt/kdam.ageVN) repo is only one day old.  Can we discuss this in a few weeks or months?

See, a source of domains is not enough.  The sources need to be active, and have a track record of commitment to maintaining quality.

Sensible?

[2020-04-21 03:35] StevenBlack commented on #1235
@sonarypt I just added [an issue in the ghosts repo](https://github.com/StevenBlack/ghosts/issues/8) to be able to list domains that are unique in compared hosts file.

[2020-04-21 03:37] StevenBlack commented on #1228
Ping @Sinfonietta (again).

[2020-04-21 03:41] StevenBlack commented on #1226
Thank you @CyanoTex I have added these to my ad-hoc list.  These will be live in the next release.

Closing.

[2020-04-21 03:41] #1226 closed

[2020-04-21 03:44] StevenBlack commented on #1237
Lorenzo, good catch man!

I've added these.

Closing.

[2020-04-21 03:44] #1237 closed

[2020-04-21 10:57] ak414 commented on #955
done, deleting my hosts at ./etc/ but my device dont download / receive file media. 😣😣😣 i dont solved way to solving this. sadly

[2020-04-22 10:41] scafroglia93 opened #1239 "maper.info"
(iplogger operation)

https://www.quad9.net/result/?url=maper.info

[2020-04-22 12:32] sonarypt commented on #1235
Thank you for your review. I will keep improving the hosts file.

[2020-04-22 14:09] scafroglia93 opened #1240 "Uyghurs Free !"
Source ->
https://www.volexity.com/blog/2020/04/21/evil-eye-threat-actor-resurfaces-with-ios-exploit-and-updated-implant/

IoC ->
static.doublesclick.info
cdn.doublesclick.me
api.doubles.click
status.search-sslkey-flush.com
start.apiforssl.com
status.verifyingbycf.com

[2020-04-22 17:11] goetzc commented on #1184
@StevenBlack it's currently on 3 [lists](https://github.com/StevenBlack/hosts/search?q=onesignal.com&unscoped_q=onesignal.com), looks like they are removing it.

Some blocking lists like EasyList filter do have a whitelist<sup>[1]</sup>, and there is one for onesignal.com. uBlock team does also maintain an 'unbreak' list<sup>[2]</sup>.

This is because of Push notifications. If your compilation li

[2020-04-22 17:19] StevenBlack commented on #1184
@goetzc that's not how this works.

We let upstream curators decide.  We trust our curators.  If we think there is a problem, we advise them, and we let them decide.

[2020-04-22 17:27] cuzimabot opened #1241 "Valid sites not working"
VMware Downloads button did not work for me.
Additionally, the website and mobile app Borrowel would not login for me.

That is, until I removed/whitelisted these domains
- api.segment.io
- c.evidon.com
- c.go-mpulse.net
- cdn.segment.com
- dpm.demdex.net
- mboxedge28.tt.omtrdc.net
- mobile.pipe.aria.microsoft.com
- s.go-mpulse.net
- s7.addthis.com
- sdk.split.io
- tags.tiqcdn.com

I suggest remov

[2020-04-22 17:59] rai510 opened #1242 "Ad servers being hacked to distribute malicious ads"
https://www.bleepingcomputer.com/news/security/revive-ad-servers-being-hacked-to-distribute-malicious-ads/

https://www.bleepingcomputer.com/news/security/revive-ad-servers-being-hacked-to-distribute-malicious-ads/

I even came across this domains on some websites i use safari browser and it never shows up on firefox because i use with ublock origin even sometime ublock even can't block this kind

[2020-04-22 22:51] StevenBlack commented on #1241
Hi @cuzimabot — we have no notion of *valid* or *invalid* sites here.  We don't judge.

What we care about is, does a site track internet users, or distribute adware, malware, or other reprehensible scumbag behavior.

Many of the domains you list above are blocked by more than one of our curated sources.

So I don't expect this to change.

Closing.

[2020-04-22 22:51] #1241 closed

[2020-04-22 22:56] StevenBlack commented on #1240
Thanks Lorenzo.  These have been added.

[2020-04-22 22:56] #1240 closed

[2020-04-22 22:58] StevenBlack commented on #1239
Thanks again Lorenzo.  Added.

[2020-04-22 22:58] #1239 closed

[2020-04-22 23:02] scafroglia93 commented on #1239
it's a pleasure man

[2020-04-23 02:49] StevenBlack commented on #1241
That is correct.

We block ALL of Google's ad-serving domains.  Also all its tracking domains.

No scumbag behavior is tolerated.  It's a fine line sometimes.

[2020-04-23 12:10] #1078 closed

[2020-04-24 01:36] StevenBlack commented on #1242
Hi @rai510 thanks for this input.

We're mostly an aggregator of hosts files from active and reputable curators of hosts files, and we package these amalgamated hosts files in various ways.

Although we occasionally accept well identified hosts for inclusion, going down rabbit holes looking for whatever you think you saw, or whatever some third party thinks they saw, really isn't our thing.   More

[2020-04-24 01:36] #1242 closed

[2020-04-24 10:05] scafroglia93 opened #1244 "Italian Scam SMS"
IoC >
serviziopostale.site

[2020-04-24 15:23] CyanoTex opened #1245 "Ad domains from zenkube and tuanguwen"
word-res.tuanguwen.com

word-bi.zenkube.com

cross-promos.tuanguwen.com

prod.zenkube.com

puzzle-recomd.zenkube.com

databoat.zenkube.com

word-v1.tuanguwen.com

-------

Found these domains that were being phoned home from this app:
https://play.google.com/store/apps/details?id=com.wordgame.words.connect

Blocking them seemed to help cut down on the ads.

I'm still not sure what these domains do

[2020-04-24 15:26] trsantos commented on #1182
The best way to prevent users from enabling this option is described here: https://github.com/mozilla/policy-templates#dnsoverhttps

[2020-04-24 15:48] llacb47 commented on #1245
most of those look non-malicious.

[2020-04-24 15:57] CyanoTex commented on #1245
When I did a blanket block on both zenkube and tuanguwen the ads didn't come back. (。_。)

[2020-04-24 23:09] scafroglia93 opened #1247 "Skype Phishing Operation"
Source ->
https://cofense.com/phish-uses-skype-target-surging-remote-workers/

IoC ->
jhqvy.app.link
skype-online0345.web.app

[2020-04-25 18:13] llacb47 commented on #1206
The endpoint `graph.instagram.com/logging_client_events` is used for tracking. Facebook has cleverly made two things true at once: the domain is used for their API and for tracking.

![image](https://user-images.githubusercontent.com/16567977/80287261-9ce09300-86fe-11ea-8fd4-80f9afce1fca.png)

[2020-04-27 20:33] 3j9fkyahunqoxwqu commented on #1181
I also using their filter list for several months and i didn't faced problems with it (false positives)

[2020-04-27 20:42] 3j9fkyahunqoxwqu commented on #1182
Agree.
Also they added ability to exclude domains from being resolved using DoH in FF75.

[2020-04-27 20:46] 3j9fkyahunqoxwqu commented on #968
Also #1182

[2020-04-28 08:13] johnozbay opened #1249 "s-usc1c-nss-262.firebaseio.com is needed and is used by all Firebase Cloud Platform clients (thousands of companies) & apps."
Hey there @StevenBlack & @jawz101 👋🏻

This week we've started receiving support messages from tons of users telling us that they can't access our service while using PiHole, AdAway and others using these lists.

Looks like the hosts file has : `s-usc1c-nss-262.firebaseio.com` on [line 8419](https://github.com/StevenBlack/hosts/blob/master/hosts#L8419)

Similar to #1132 – This domain is a general d

[2020-04-28 13:05] johnozbay commented on #1249
P.S. Seems like the same thing's happening to [RoamResearch](roamresearch.com) and [users have been talking about it on their reddit] as well : (https://www.reddit.com/r/RoamResearch/comments/fu9dao/cant_sign_in/).

[2020-04-28 14:25] StevenBlack commented on #1249
Thanks John!

Ping @jawz101.

[2020-04-28 15:17] johnozbay commented on #1249
Thanks a million for the quick response Steven! 🙏🏻
Deeply appreciated!

[2020-04-28 18:13] jawz101 commented on #1249
removed.  thank you

[2020-04-28 18:20] johnozbay commented on #1249
Many thanks for the quick turnaround time both 🙏🏻
Stay safe and well ✌🏻

[2020-04-28 18:20] #1249 closed

[2020-04-28 18:56] StevenBlack commented on #1249
Thanks everybody.  This is live and online [in the latest release](https://github.com/StevenBlack/hosts/releases/tag/2.6.9).

[2020-04-29 07:06] johnozbay commented on #1249
Massive thanks for all this!

[2020-04-30 08:25] scafroglia93 commented on #1244
let me know when you can insert it

[2020-04-30 08:26] scafroglia93 commented on #1247
let me know when you can insert it

[2020-04-30 08:34] scafroglia93 opened #1251 "Eventbot Banking Trojan"
Source ->
https://www.cybereason.com/blog/eventbot-a-new-mobile-banking-trojan-is-born

IoC ->
themoil.site
ora.carlaarrabitoarchitetto.com
ora.studiolegalebasili.com
rxc.rxcoordinator.com
Ora.blindsidefantasy.com
Pub.welcometothepub.com
marta.martatovaglieri.it

[2020-04-30 09:22] #1105 closed

[2020-04-30 10:35] CyanoTex opened #1252 "Robux phishing scams"
[code]

Law of the internet for Roblox says: If there're websites promising free robux, they're scams, no matter if they say they're legit or not.

[2020-04-30 11:22] #1106 closed

[2020-04-30 14:29] StevenBlack commented on #1252
Thanks @CyanoTex, these are added in commit 79f628a0.

Closing.

[2020-04-30 14:32] StevenBlack commented on #1251
Thanks Lorenzo @scafroglia93.  Added!

[2020-04-30 14:32] #1251 closed

[2020-04-30 14:32] CyanoTex commented on #1252
@StevenBlack Don't forget the last one.

Found out it was just their base of operations for this:
`https://grandmods.com/robux/`

[2020-04-30 14:32] #1252 closed

[2020-04-30 14:34] StevenBlack commented on #1252
@CyanoTex Hosts files are for domains only.  The grandmods.com domain is just an uninitialized WordPress instance.

But I hear you.  Adding it now.

[2020-04-30 14:36] CyanoTex commented on #1252
Understandable but yeah, I think that look is on purpose.

Sent from Outlook Mobile<https://aka.ms/blhgte>
________________________________
From: Steven Black <notifications@github.com>
Sent: Thursday, April 30, 2020 4:34:41 PM
To: StevenBlack/hosts <hosts@noreply.github.com>
Cc: CyanoTex <cyanotex@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [StevenBlack/hosts] Robux phishing s

[2020-05-01 10:25] scafroglia93 opened #1253 "Xiaomi Tracking (Mint Browser)"
Source  ->
https://www.youtube.com/watch?v=62kxZunBQyI&feature=emb_title

Domain IoC ->
sa.api.intl.miui.com

We would need everyone's feedback to avoid malfunctions on the device

[2020-05-01 10:53] scafroglia93 opened #1254 "perswaysion spam campaign"
Source ->
https://www.group-ib.com/blog/perswaysion

IoC ->
as54rdxfzxs.appspot.com
asgh65tfsdxz.appspot.com
da032opzasz.appspot.com
dgyu536ds.appspot.com
eqit9pzsxz.appspot.com
etetdc4ed-exhausted-lizard-tc.mybluemix.net
gdh4szx.appspot.com
hg76ytsdas.appspot.com
hj67fadszx.appspot.com
hk567rsda.appspot.com
hksdf924pzxoias.appspot.com
iwe8pzosa.appspot.com
k87yfgsdaa.appspot.com
kga9szxosa.appspo

[2020-05-02 10:10] dalisoft opened #1255 "[maven.fabric.io] URL exclude request"
Hi.

Thanks a lot for the largest hosts file.
But with `maven.fabric.io` hosts disabled (`0.0.0.0`), my Android Studio SDK Grade download dependencies fails, excluding it works.

Thanks

[2020-05-02 13:04] #1255 closed

[2020-05-02 14:30] scafroglia93 opened #1257 "ransomware operation"
Source ->
https://www.vmray.com/analyses/fcfc827205cd/report/network.html

IoC ->
usapglobal.usapglobal.org

[2020-05-02 18:09] XhmikosR commented on #1166
@funilrys it seems the README Unicode issue is back 🙁

For example:

[code]

or

[code]

[code]

[2020-05-02 18:37] StevenBlack commented on #1166
Honesty, Windows is such a shitshow.  I know this doesn't help this issue; sometimes I just need to vent. @XhmikosR @funilrys

[2020-05-02 22:57] StevenBlack commented on #1257
Thanks Lorenzo @scafroglia93.  Added.

[2020-05-02 22:57] #1257 closed

[2020-05-02 23:02] StevenBlack commented on #1254
Thanks Lorenzo @scafroglia93.  Done.

[2020-05-02 23:02] #1254 closed

[2020-05-02 23:03] StevenBlack commented on #1247
Done!  Thanks Lorenzo @scafroglia93.

[2020-05-02 23:03] #1247 closed

[2020-05-02 23:05] StevenBlack commented on #1245
Thanks @CyanoTex.  Added.

[2020-05-02 23:05] #1245 closed

[2020-05-02 23:06] StevenBlack commented on #1244
Thanks Lorenzo @scafroglia93, this is done.

[2020-05-02 23:06] #1244 closed

[2020-05-02 23:19] scafroglia93 commented on #1253
More Source ->
https://www.bleepingcomputer.com/news/technology/xiaomi-tracks-private-browser-and-phone-usage-defends-behavior/

[2020-05-03 06:33] XhmikosR commented on #1182
@StevenBlack isn't this the same as #968 which has more info and is older? 🙂

[2020-05-03 15:29] socram8888 opened #1260 "Add maybe my block list?"
The pages come mainly from emails I receive myself, or from scammers.info, which nobody seems to be collecting and putting them into a list.

Most of the addresses in my list are apparently not blocked in any other list. The phising pages are not blocked by Google Safe Browsing list either, making them even more dangerous.

The list is available [as a domain list](https://orca.pet/notonmyshift/dom

[2020-05-03 16:08] StevenBlack commented on #1182
@XhmikosR same basic issue, yes.  Chrome (#968) and Firefox here.

[2020-05-03 16:12] StevenBlack commented on #1260
Hi Marcos @socram8888 thank you for this.

Does your list have a versionable history, or a track record that shows a history of curation?  That's important.

Using [ghosts](https://github.com/StevenBlack/ghosts) I see that there is very little overlap between the two lists, just six domains in common.  So including yours would give us 297 new domains.

[code]

[2020-05-03 16:31] socram8888 commented on #1260
The domain list is a file available at my website's repository, along with the commit history: https://github.com/socram8888/orca.pet/commits/master/notonmyshift/domains.txt

I will be moving either today or tomorrow the file to its own repository, so changes to my pages are independent to that of the block list.

[2020-05-03 16:36] StevenBlack commented on #1260
The list has been alive for about a month.

I'll keep an eye on it.  I'm happy to include it once we know it's active over the long haul.

[2020-05-03 16:50] StevenBlack commented on #1253
I'm adding this to the list, Lorenzo @scafroglia93.

Xiaomi users will let us know if this hurts.

[2020-05-03 16:51] #1253 closed

[2020-05-03 17:39] socram8888 commented on #1260
Done, I've moved it into another repo so changes are easier to follow: https://github.com/socram8888/not-on-my-shift

[2020-05-04 14:59] scafroglia93 opened #1261 "pandemic malware"
Source ->
https://umbrella.cisco.com/blog/navigating-cybersecurity-during-a-pandemic-latest-malware-and-threat-actors

IoC ->
acalvet.com
acbras.com
arjoflor.com
arjoflos.com
bergadimspower.com
berkesteermaster.com
contatoonline1.com
famartil.com
oawyri.com
oawyr.com
parnerimcarpich.com
qpfhd.com
rjmwqf.com
rstmir.com
servicosfcporto.com
sirdexs.com
Megasena1.duckdns.org

[2020-05-04 17:51] StevenBlack commented on #1261
Thanks Lorenzo @scafroglia93 these have been added.

[2020-05-04 17:51] #1261 closed

[2020-05-05 07:46] scafroglia93 opened #1262 "Kaiji Chinese Linux Malware"
Source ->
https://intezer.com/blog/research/kaiji-chinese-iot-malware-turning-to-golang/

IoC ->
cu.versiondat.xyz
1.versionday.xyz
aresboot.xyz
6×66.com
2s11.com

[2020-05-05 12:38] pornblocking opened #1263 "Add a list of child abuse websites"
Please add this to the porn hosts file
[code]

[2020-05-05 17:53] StevenBlack commented on #1263
Thanks @pornblocking.

Ping @sinfonietta or @clefspeare13.

I'm thinking, child stuff goes into the main list?  What's child here?  Not sure OP's issue title is accurate.

[2020-05-05 17:56] pornblocking commented on #1263
@StevenBlack

The images and videos on website that I listed

[2020-05-05 22:23] scafroglia93 commented on #1263
@StevenBlack
The pictures are terrible

[2020-05-05 22:24] scafroglia93 opened #1264 "Loki Info Stealer"
Source ->
https://otx.alienvault.com/pulse/5eb18e3eefd6849508bbfbf4

IoC ->
retrak.co.ke

[2020-05-05 22:27] scafroglia93 opened #1265 "nspps, a Go RAT/Backdoor"
Source ->
https://otx.alienvault.com/pulse/5eb03a70525b626c9c48ed93

IoC ->
host-62-113-112-127.hosted-by-vdsina.ru
kindora85.fvds.ru

[2020-05-05 22:29] scafroglia93 opened #1266 "Zoom RAT"
Source ->
https://otx.alienvault.com/pulse/5eac5fbc246f37da533416ae

IoC ->
dabmaster.wm01.to

[2020-05-05 23:02] llacb47 commented on #1263
If it's CP do **not** view it.

[2020-05-05 23:05] scafroglia93 commented on #1263
Needed for law enforcement engage

I know, it's terrible

[2020-05-05 23:10] StevenBlack commented on #1263
Done.  Closing.

[2020-05-05 23:10] #1263 closed

[2020-05-05 23:15] llacb47 commented on #1263
Someone should report also at `https://report.cybertip.org/`

[2020-05-05 23:24] StevenBlack commented on #1266
Lorenzo @scafroglia93 can you please do me a kindness?

Please stop submitting single-domain issues.  Ten single-domain issues is about eight times more work than one 10-domain issue.

I just don't have time.  You understand?  Please close all your outstanding single-domain issues and re-submit as one issue.

Thanks.

[2020-05-06 09:07] scafroglia93 opened #1267 "IoC Malware"
- Kaiji Chinese Linux Malware ->
cu.versiondat.xyz
1.versionday.xyz
aresboot.xyz
6×66.com
2s11.com

- Loki Info Stealer ->
retrak.co.ke

- nspps Backdoor ->
host-62-113-112-127.hosted-by-vdsina.ru
kindora85.fvds.ru

- Zoom RAT ->
dabmaster.wm01.to

[2020-05-06 09:07] scafroglia93 commented on #1266
done

[2020-05-06 09:07] #1266 closed

[2020-05-06 09:07] #1265 closed

[2020-05-06 09:07] #1264 closed

[2020-05-06 09:07] #1262 closed

[2020-05-06 15:56] #1267 closed

[2020-05-08 10:30] CyanoTex opened #1269 "Phish link"
ctt.pt-particulares.mandalozz.com
Newly Registered Domain.

👇 The phish email it came with.
https://www.reddit.com/r/Scams/comments/gfqm9a/portuguese_ctt_pts_snail_mail_service_phishscam/

[2020-05-08 10:33] CyanoTex commented on #1269
@romaincointepas This might be of interest to you too.

[2020-05-08 11:44] bronger commented on #809
FWIW, the German newspaper https://rp-online.de/ detects adblocking by probing securepubads.g.doubleclick.net.

[2020-05-09 23:20] StevenBlack commented on #1269
Thank you @CyanoTex.  This has been added.

[2020-05-09 23:20] #1269 closed

[2020-05-10 09:22] pornblocking opened #1274 "Do you have a porn only host file?"
Hi,

I am looking for a host file that **only** has porn sites. The one I am currently using "Unified hosts + porn" hosts file and I dont want the "Unified hosts" part if that makes sense.

Do you guys have this?

[2020-05-10 18:26] CyanoTex opened #1276 "Add scam websites"
https://www.scammer.info/d/34489-fake-garmin-hp-tomtom-and-wifi-support

Jim Browning recently found these and I was wondering if you could add these to the list?

[2020-05-11 00:00] StevenBlack commented on #1274
Hi @pornblocking check out the [`extensions/porn`](https://github.com/StevenBlack/hosts/tree/master/extensions/porn) folder of this repo.  Each subfolder is one of our sources.  Find full details in the `update.json` file in each subfolder.

Closing.

[2020-05-11 00:00] #1274 closed

[2020-05-11 00:57] dnmTX commented on #1274
@pornblocking  here is a raw link:
`https://raw.githubusercontent.com/Sinfonietta/hostfiles/master/pornography-hosts`

[2020-05-11 05:33] schlaubstar commented on #159
As HPhosts is not available anymore and the service has been stopped, according to statements from malwarebytes: Has anyone good alternatives ?

[2020-05-11 07:33] p1r473 opened #1278 "Invalid domain: 6×66.com"
Hello,
There is an invalid domain on the list: 6×66.com
This contains an illegal character
Thanks

[2020-05-11 16:26] StevenBlack commented on #1278
Hello Anon @p1r473.

[code]

Closing.

[2020-05-11 16:32] StevenBlack commented on #1278
Hello Anon @p1r473

The domain `6×66.com` is not published in any of our hosts.  I see it on line 1379 of my ad-hoc list, but it never ships to userland.

Closing

[2020-05-11 16:32] #1278 closed

[2020-05-11 16:38] StevenBlack commented on #1278
@p1r473 I have removed `6×66.com` from my ad-hoc list.

[2020-05-11 16:48] p1r473 commented on #1278
@StevenBlack Thanks!
Why am I Anon?

[2020-05-12 03:50] xcasxcursex opened #1279 "Add tiktok to social media?"
Sorry, I read the front page and the suggestions on how to add sites to the lists, but it's not clear which of the various lists hosts the social media category.

Also, I am honestly not entirely sure what domains need to be blocked. This repo seems to have a full list: https://github.com/d43m0nhLInt3r/socialblocklists
That repo has other useful lists (eg whatsapp) So I thought perhaps you may pre

[2020-05-12 04:31] XhmikosR commented on #1279
There's also https://github.com/llacb47/mischosts/blob/master/tiktok-hosts from @llacb47

[2020-05-12 05:45] StevenBlack commented on #1279
Are there REALLY 94 domains to block for TicToc?  🧐 That’s pretty bad.

[2020-05-12 06:10] CyanoTex commented on #1279
According to NextDNS' metadata repo, parentalcontrol/services/tiktok, these are enough to block TikTok:
[code]
From what I can tell, the repo Mikos gave has a few domains Unified already blocks, but aside from that, I can't ascertain if TikTok really has that many domains.

Regardless, it would be a welcome addition.

[2020-05-12 12:02] llacb47 commented on #1279
The donains in my list are just tracking domains and are not intended for someone who wants to disable access to tiktok. So not a good fit for the social media list.

[2020-05-12 16:54] paulohpf opened #1280 "Porn sites"
please, can you add **spankbang.com** and **redtube.com.br** to porn hosts?

[2020-05-12 19:11] StevenBlack commented on #1280
Hi Paolo @paulohpf.  `spankbang.com` is already blocked by our porn hosts.  The `redtube.com.br` domain would be new.

Ping @sinfonietta!

[2020-05-12 19:30] paulohpf commented on #1280
Thanks @StevenBlack , i saw spankbang is blocked with www. but the site open without www. and br.spankbang.com, i think it's better block the with "spankbang.com" so it blocks all spankbang's variants

[2020-05-12 20:18] StevenBlack commented on #1280
Hosts files don't work like that, Paulo @paulohpf.

Hosts files originate back to the very beginnings of the internet.  There are no wildcards in hosts files, and no generalizations.  Each domain and subdomains needs an explicit entry.

[2020-05-12 22:16] letaniaferreira opened #1281 "Remove Rollbar from blockers list"
Hello,

I am reaching out to ask that you to please remove rollbar.com from your blocked list since it's a legit developer tool and not a malicious or advertising tool.

[2020-05-13 16:42] gustavodiel commented on #1281
I second this, Rollbar.com is a error tracking service, not a spam tool.

[2020-05-13 16:44] izn commented on #1281
I'm opening a PR to remove *.rollbar.com from blacklist.

[2020-05-13 17:45] StevenBlack commented on #1281
Hello Letania @letaniaferreira, Thaynã @izn, and Gustavo @gustavodiel.

Here is our [prior discussion about Rollbar](https://github.com/StevenBlack/hosts/issues/1096), which explains why Rollbar is presently blocked.  This was not an easy call.  Rollbar is an edge case and this is where we've drawn the line.

That said, I'm open to be convinced otherwise.  In particular, is there a Rollbar privacy

[2020-05-13 18:48] izn commented on #1281
Thanks for your quick reply, @StevenBlack.

I think we should start a discussion about the Rollbar's Privacy Policy: https://docs.rollbar.com/docs/privacy-policy

Although, particularly, the biggest problem I see is in the [hblock repository)(https://github.com/hectorm/hblock) which uses your repository as a source - since this application is pre-installed on some Linux distributions (such as Arco

[2020-05-13 19:03] gustavodiel commented on #1281
My suggestion would be to open `rollbar.com` and/or `www.rollbar.com` and leave `api.rollbar.com`, as I am almost certain that every tracking is made via the `api` domain.
This leaves us with a good balance between accessing the service and stopping the tracking. WDYT?

[2020-05-13 19:07] izn commented on #1281
If we're sure that Rollbar's tracking is made only through `api.rollbar.com`, I agree with @gustavodiel. :grimacing:

[2020-05-13 19:08] StevenBlack commented on #1281
Thaynã @izn if you make this change to [the PR](https://github.com/StevenBlack/hosts/pulls) then I'll merge it.

[2020-05-13 19:08] izn commented on #1281
I will update the PR now, removing only the `api.rollbar.com` entry.

[2020-05-13 19:13] izn commented on #1281
[Done](https://github.com/StevenBlack/hosts/pull/1283/commits/fcf74d2903da2edad8761266b625de8e167c21d9).

[2020-05-13 19:15] #1281 closed

[2020-05-14 02:09] vinothvkr commented on #159
An alternative is needed.

[2020-05-14 16:57] I-like-stuff opened #1284 "Add fake UK Gov website"
I received this as a text reported it to the governments phishing email who said it was fake which I knew already.

URL: https://www.govrefund-uk.com/

[2020-05-14 18:11] 3xploiton3 opened #1285 "whitelist mywot.com"
https://github.com/nextdns/metadata/issues/215

[2020-05-14 20:24] paulohpf commented on #1280
@StevenBlack i undestand, thanks for the explanation

[2020-05-14 20:24] #1280 closed

[2020-05-14 20:25] StevenBlack commented on #1285
See Issue #199.

Please take this up with @fademind, I trust his judgment.

[2020-05-14 20:25] paulohpf commented on #1235
can you guys add xvideosnovinhas.com too?

[2020-05-15 03:19] MrWaste commented on #159
The lists are still right here :)
https://github.com/MrWaste/Malwarebytes-hpHosts-Full-Lists

[2020-05-15 11:28] FadeMind commented on #1285
@StevenBlack WOT stealing data and spying users/tracking. Same does Ghostery or... Avast Developer.
Regards.

[2020-05-15 13:19] StevenBlack commented on #1285
Thank you Tomasz @FadeMind.

Closing.

[2020-05-15 13:19] #1285 closed

[2020-05-15 15:29] StevenBlack commented on #1284
Thank you @I-like-stuff this is added to the list and will be live in the next release.

[2020-05-15 15:29] #1284 closed

[2020-05-18 23:51] cyb3rsinn3r opened #1286 "api.vsee.com"
VSee is used for Telehealth appointments and api.vsee.com is used for "quick" login - where the patient isn't required to create a VSee account. The hosts file was blocking it:

pihole -q vsee.com

 Match found in https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts:
   api.vsee.com

I've whitelisted it for now, can it be removed as a false positive? Alternatively, what was the reason

[2020-05-19 02:58] StevenBlack commented on #1286
Hi @cyb3rsinn3r the `vsee.com` domain comes to us via AdAway.

You can please submit this to  https://github.com/AdAway/adaway.github.io/issues.

Ping @jawz101, can you have a look?

[2020-05-19 15:24] jawz101 commented on #1286
removed

[2020-05-19 15:30] StevenBlack commented on #1286
Thanks @jawz101.  @cyb3rsinn3r this will show in the next release, shortly.

[2020-05-19 15:30] #1286 closed

[2020-05-19 20:19] gchamon opened #1287 "Why block AWS Kinesis?"
Today I was left puzzled as to why `kinesis.us-east-1.amazonaws.com` was resolving to `0.0.0.0` as I was producing a plan with terraform to check out a production bug in our infrastructure.

It turns out that the DNS is in the hosts file. It didn't really take me too long to find, because of the handy DNS Query List tool in pihole, but still, why is this domain blocked here in the first place?

I

[2020-05-19 23:13] cLupus commented on #739
I've made a [similar solution](https://gitlab.com/cLupus/hosts.lsrules) (unaware of @rjhancock's solution), which is a more direct translation of @StevenBlack host files to Little Snitch.
It may be of interest.

[2020-05-20 03:19] naveednajam commented on #739
It's great to see and meet like minded people. I moved forward with original idea of translating **StevenBlack host** files  to little snitch rule [Little-Snitch--RuleGroups](https://github.com/naveednajam/Little-Snitch---Rule-Groups) to next level [RuleGroupsV2](https://rulegroups.com) when I feel Little Snitch has a lot more potential than simple host files. No doubt @StevenBlack was main source

[2020-05-20 07:57] mondjunge commented on #93
I can confirm this is happening again since one of the last Windows 10 updates. It took some time to find out why the wifi is taking up to 3 minutes to connect to the internet. The PC is running fine for years. Haven't updated the hosts in quite some time.

This seems to be a  windows DNS Client Bug regression from Win 7 days. I can see my DNS-Client consumes a full Thread at 100% until internet c

[2020-05-20 08:02] funilrys commented on #93
As usual while commenting about Windows behavior: I rarely use Windows personally.

But, disabling the DNS client might help? 🤔

[2020-05-20 15:23] StevenBlack commented on #739
@cLupus and Naveed @naveednajam this is awesome.

Reliable and dynamic Little Snitch rule groups by subscription is the ultimate solution on MacOS, I feel.  This may be the direction I take, next.  I'm going to try this.  Little Snitch is too bothersome and intrusive, otherwise.  But it's SO good at what it does....

**Everyone**: if you use MacOS and haven't investigated Little snitch, you should

[2020-05-20 15:34] StevenBlack commented on #1287
Hi Gabriel @gchamon the `inesis.us-east-1.amazonaws.com` domain comes to us via AdAway.

Ping @jawz101, can you have a look at this one?  Thanks.

[2020-05-20 15:37] gchamon commented on #1287
Thanks for the quick reply! Love the project btw!!

[2020-05-20 16:01] jawz101 commented on #1287
I'll think about it.  Looking into the product Amazon Kinesis involves realtime analytics processing and I can see that be for ads and tracking

[YieldMo case study](https://aws.amazon.com/kinesis/case-study-yieldmo/)

[Veritone facial recognition and Sonos monitoring all of their customer's stereos- both mentioned on the Kinesis webpage](https://aws.amazon.com/kinesis/)

[Nielsen TV ratings, Sale

[2020-05-20 16:04] StevenBlack commented on #1287
Thanks @jawz101 I appreciate the thorough assessment here.

Gabriel @gchamon I trust the judgment our curators — they are Good People.

Closing.

[2020-05-20 16:04] #1287 closed

[2020-05-20 16:11] gchamon commented on #1287
Thanks for the feedback, it was interesting to see ways kinesis is used directly to handle ads streams.

I will have to whitelist it, but I am happy to know this is not a wrongly blacklisted domain.

Just one more thought...

Kinesis is also available in the following regions:

![image](https://user-images.githubusercontent.com/9471861/82469836-f2f4ec00-9a9a-11ea-9fbc-3ef01b9c9b5f.png)

It might b

[2020-05-20 16:24] StevenBlack commented on #1287
@jawz101 you got dis ⬆️ ?

[2020-05-20 16:49] llacb47 commented on #1287
[code]

[2020-05-20 18:00] jawz101 commented on #1287
hmm.... well maybe I need to just remove it.  When I see something like FIPS I feel like I would be causing some sort of crypto/authentication mechanism.

I went ahead and removed them.  If anyone has any more insight into the whole enchilada I'd be interested to know what they may be used for.

[2020-05-20 21:50] dkowis opened #1288 "api.Vsee.com breaks the Vsee doctor/patient video conferencing app"
I don't think it's related to vsee.tk at all, but it completely wrecks the Vsee app, which I had to use today to talk to my doctor. I'm not sure it should be blocked.

[Reddit posting on /r/pihole](https://old.reddit.com/r/pihole/comments/gnjsnt/vsee_doctorpatient_video_conference_is_blocked_by/)

[2020-05-21 00:19] dnmTX commented on #1288
@dkowis the domain in question is already removed by the list maintainer due to earlier complaint.
See #1286 for more details.
You probably need to update your lists or Steven @StevenBlack needs to do a fresh lists update here,not sure to be honest as those changes were recent.

[2020-05-21 00:56] StevenBlack commented on #1288
Hi David @dkowis the `vsee.tk` is blocked by [KADHosts](https://github.com/bigdargon/hostsVN/issues).

Tomasz @fademind can you advise?

[2020-05-21 01:25] dkowis commented on #1288
I don't believe the `vsee.tk` is a problem, only the `api.vsee.com`, just noting it's existence, sorry for the confusion there.

[2020-05-21 01:26] dkowis commented on #1288
I did just do an update of the pihole, so I think everything is golden. I can close this! Thanks!

[code]

[2020-05-21 01:26] #1288 closed

[2020-05-21 01:29] StevenBlack commented on #1288
Tomasz @FadeMind nevermind, sorry.

[2020-05-21 04:39] FadeMind commented on #1288
@StevenBlack about `KADHosts` issues please call maintainer directly @hawkeye116477
Thank you.

[2020-05-22 16:49] StevenBlack commented on #1279
Ping @sinfonietta!

[2020-05-22 17:37] CyanoTex opened #1289 "Microsoft Account scam website"
`https://www.asistencia.sisteltools.com/www.microsoftonline.com/docs.pdf/pyot0itscfpq3xbul0dodauf.php?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&email=&msafed=0&client-request-id=94672646-1d8d-4b9c-9a15-b53cde7683f4&protectedtoken

[2020-05-22 19:31] StevenBlack commented on #1289
Hi @CyanoTex I'm really not keen on sending myself down rabbit holes.

I'm also never keen to click on malicious links.  Ever.

What's the lowdown, here.

Because I'm basically done following raw leads that, in effect, say: "*here's a link Steve, there's something there, but nothing I want to be bothered to take a few seconds to qualify and elaborate for you.*"

I work at a scale that many people

[2020-05-22 20:23] StevenBlack opened #1290 "Create Issue templates"
I'd like to create [issue templates](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository) for this repo to help qualify and steer issues.

In particular I'd like to quash link-dumps here, those that come without basic explanation and a modicum of vetting.

I don't want any more submissions without elaborated justification, and future curati

[2020-05-22 20:30] StevenBlack commented on #1290
Some rough ideas.

[2020-05-22 20:56] dnmTX commented on #1290
Looks good so far Steven @StevenBlack 👍 . And if you ask me,issue template is past due for this repo.
You can post the toppings of the template that are on your mind so we can all pitch in and give some ideas i guess,polish it up.

[2020-05-22 21:01] dnmTX commented on #1289
@CyanoTex  you can't just post some malicious links here,anyone can accidentally click on it.
Steve @StevenBlack  if you don't mind please edit his post and wrap it up with back quotes.
Thank you 👍

[2020-05-22 21:34] dnmTX commented on #1290
@funilrys  do you think you can create a search engine(for anyone reporting false-positives) that will show which list the domain in question came from?
I know it's not going to be easy,maybe not even possible but it's worth the shot as it will save everyone time and effort.

[2020-05-23 04:58] CyanoTex commented on #1289
OneDrive scam saying "you got a secure document", sends you to a login page for a fake as hell Microsoft Office 365 login page which will send the login details to those scammers.

[2020-05-23 04:58] #1276 closed

[2020-05-24 14:17] Danilopereira82 opened #1291 "add more to the porn list, sinfonietta is sleeping"
https://www.xfantasy.com/
https://callista.su/
http://beasttracker.dog/
http://sxyprn.net/
https://www.xfantasy.com/
https://myporn.club/
https://sakuracircle.com/
http://bangextreme.se/
https://c.gorilandcomic.com/
https://gorilandcomic.com/
https://leporno.info
https://www.javlibrary.com
http://jav-legend.com/
https://pornkai.com
https://www.boyfriendtv.com
https://sanctuary.in.net
http://www.fu

[2020-05-26 12:58] breucode opened #1293 "Add seemascakes.com"
When opening urls on this site from google, you are redirected to chinese online shops.

This was the first result on google for searching "ktorm vs exposed": https://seemascakes.com/agq48n/ktorm-vs-exposed.html

[2020-05-26 14:52] StevenBlack commented on #1291
Hi @Danilopereira82 please post this at https://github.com/Sinfonietta/hostfiles/issues.  If it's already posted there, please don't re-post it here.  Thank you.

[2020-05-26 14:52] #1291 closed

[2020-05-27 02:19] StevenBlack commented on #1293
This has been merged-in.  Closing.

[2020-05-27 02:19] #1293 closed

[2020-05-27 14:10] XhmikosR commented on #1166
There's only one last issue on Windows after #1296 is merged.

readmeData.json still contains 2 backslashes at the end of the `location` strings, for example:

[code]

I tried to fix it without success so far. Maybe @funilrys you have some idea.

That being said, finally everything is the same on Windows after #1296. 🙂

[2020-05-28 05:55] dalisoft opened #1298 "Add my hosts?"
Hi @StevenBlack

Thanks for large database for blocking ads, trackers and more unnecessary things.

I'd like to contribute project with my own blacklist, you find it at [here](https://github.com/dalisoft/hosts)

---
ghost
## Compare
[code]

[2020-05-28 05:57] dalisoft commented on #1298
I'm tracking this list within 3 month, but recently made as GitHub repo.
I'm combining your hosts + my own hosts + AdAway hosts (i know it's included in your hosts, but some of item is missing from AdAway's host) = very cool results, got ~80 balls from [here](https://checkadblock.ru)

[2020-05-28 06:00] dalisoft commented on #1289
@CyanoTex add two entry in your hosts

[code]

This should prevent you from any future spam clicking

[2020-05-28 06:02] CyanoTex commented on #1289
Done.

[2020-05-29 08:25] PickJBennett opened #1299 "Github-hosted content results in error: "Can't download the hosts file. It contains unknown content.""
Hi @StevenBlack,

I've tried to add multiple raw hosts files, directly from Github, and not one has allowed me to download the hosts file. I'd really love to add several of the "Raw hosts" from https://github.com/StevenBlack/hosts#sources-of-hosts-data-unified-in-this-variant to my combined local hosts file.

I'm able to see the content of these hosts files directly in my browser without a problem

[2020-05-29 11:17] StevenBlack commented on #1299
Hi Rick @PickJBennett how are you attempting downloading these?  Using what url — can you provide a URL that isn’t working for you?  What is the OS you are using for this?

[2020-05-29 18:09] dalisoft commented on #1298
@StevenBlack How i can add my own hosts can add to list to your hosts? Any guide please?

[2020-05-29 18:55] nijazm commented on #159
Or in web archive, original. Here is last explanation (dates in explanation are not correct for files, because files archived may be newer or older in archive, instead look at url to see date when it was fetched): https://web.archive.org/web/20191231184932/https://hosts-file.net/?s=Download

Each list newest hosts file that exists:
https://web.archive.org/web/20200308144426if_/http://hosts-file.ne

[2020-05-29 19:31] StevenBlack commented on #1298
Hi @dalisoft thanks for this offer.

It's not so simple.

Firstly, we amalgamate hosts files from curators with a proven track record.  The `dalisoft-hosts` file has been around for under one month, at this juncture.  So it's hard to judge its long-term value.

Secondly the `dalisoft-hosts` treads fairly heavily on some contentious properties (Facebook, Youtube, Google, Microsoft, Apple) which hav

[2020-05-29 19:50] dalisoft commented on #1298
Thanks for reply @StevenBlack

I blocked from domains of these companies, because they are tracking me which I don’t want.
Recently i even removed my own ad blocker due of authors did not response why they are using own ssl. I care about privacy more than ad blocking.

Yes, you right. Project already lives long time, exactly, project not easy got current status, i too own open source project and I

[2020-05-29 19:50] #1298 closed

[2020-05-29 20:00] StevenBlack commented on #1298
Thank you for understanding @dalisoft, give it time.

Your English is fine.

Some of the effects are subtle.  Do you care about accessing your Youtube viewing history, as tallied by Youtube?  I can tell you, some people certainly do.  And we hear about it when we block the Youtube subdomain that does that.

[2020-05-29 20:46] dalisoft commented on #1298
@StevenBlack Yes, sometimes i need my YouTube history.
My hosts doesn't affects to YouTube history.
I always test my hosts after blocking, everything works fine or not. If something broken, i will revert or remove from list.

But let’s we do our best to maintain our hosts.
If users need my hosts, users always can download from my repo, after some times i should get issue tickers which services doe

[2020-05-30 08:23] PickJBennett commented on #1299
Hi @StevenBlack,

It's easier to say which ones are working because there are fewer. I've been able to download a total of 7 inside the app, but almost all others have resulted in this error. I'm adding links like this: **+ Create button > Remote > Paste URL > Add button**

These next links are the ones that have downloaded correctly:

- https://www.malwaredomainlist.com/hostslist/hosts.txt
- http

[2020-05-30 10:16] StevenBlack commented on #1299
This is a “feature” in GasMask, no doubt.  Hostman for Windows has a similar issue.

Try downloading from the mirror links instead.

Closing.

[2020-05-30 10:16] #1299 closed

[2020-05-31 00:05] sea-wa opened #1301 "Add porn sites"
xnxx-cdn.com
acdn5165543.com
acdn8753423.com
acdn12354732.com
acdn923132475.com

[2020-06-01 14:44] StevenBlack commented on #1301
Thanks @sea-wa.

Ping @sinfonietta.

[2020-06-01 21:16] ay8s commented on #977
@StevenBlack Hey! I'm one of the iOS Developers at Buffer.

I've been digging into a few issues some of our users have been having with authenticating with Buffer. I'm able to see api.bufferapp.com listed in the hosts file but it looks like it may have been removed in this PR in the past?

Is there another source which pulled in api.bufferapp.com that needs updating?

Would love to iron out the is

[2020-06-01 21:20] StevenBlack commented on #977
Hi Andrew @ay8s the `api.bufferapp.com` domains comes to us via AdAway.

Ping @jawz101, can you have a look at this one? Thanks.